{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="old-popop">
    <div class="old-popup__cell">
        <h2 class="old-popup__title">ВЫ ИСПОЛЬЗУЕТЕ УСТАРЕВШУЮ ВЕРСИЮ БРАУЗЕРА</h2>
        <p>Устаревшие браузеры не поддерживает современные технологии, из-за чего многие страницы отображаются
            некорректно. Скачайте, пожалуйста, новую версию вашего любимого браузера.</p>
        <a href="http://outdatedbrowser.com/en" class="old-popup__btn">ВЫБРАТЬ БРАУЗЕР</a>
    </div>
</div>


<footer class="footer">

    <div class="footer-top container grid-2_sm-12">

        <div class="col grid-2_sm-12">


            <section class="col footer-top__col-menu grid-2_sm-12">

                <svg class="icon icon-accordion-open js-accordion-trigger">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#accordion-open"></use>
                </svg>

                <h5 class="title js-accordion-trigger accordion__link">{{ services }}</h5>

                <ul class="footer__nav js-accordion-content accordion__content">
                    {% for item in service_rows.0 %}
                        <li class="footer__nav-item"><a href="{{ item.get_absolute_url }}">
                            {{ item }}
                        </a></li>
                    {% endfor %}
                    {% for item in service_rows.1 %}
                        <li class="footer__nav-item footer__nav-item-xs"><a
                                href="{{ item.get_absolute_url }} }}">
                            {{ item }}
                        </a>
                        </li>
                    {% endfor %}

                    {% if bondholders %}
                    <li class="footer__nav-item">
                        <hr class="footer__nav-border">
                    </li>

                    <li class="footer__nav-item">
                        <a href="{{ bondholders.get_absolute_url }}">{{ bondholders }}</a>
                    </li>
                    {% endif %}

                </ul>
            </section>


            <section class="col footer-top__col-menu grid-2_sm-12">

                <ul class="footer__nav js-accordion-content accordion__content footer__nav_mt">
                    {% for item in service_rows.1 %}
                        <li class="footer__nav-item"><a href="{{ item.get_absolute_url }}">
                            {{ item }}
                        </a></li>
                    {% endfor %}
                </ul>

            </section>

        </div>

        <div class="col grid-2_sm-12">
            <section class="col footer-top__col-menu grid-1_sm-12">

                <div class="col footer-top__col-menu grid-2_sm-12">
                    <svg class="icon icon-accordion-open js-accordion-trigger">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#accordion-open"></use>
                    </svg>

                    <h5 class="title js-accordion-trigger accordion__link">
                        {{ instance.common_info }}
                    </h5>

                    <ul class="footer__nav js-accordion-content accordion__content">
                        {% for item in left_menu %}
                            <li class="footer__nav-item"><a href="{{ item.get_absolute_url }}">{{ item }}</a></li>
                        {% endfor %}
                        {% for item in right_menu %}
                            <li class="footer__nav-item"><a href="{{ item.get_absolute_url }}">{{ item }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

{#                <div class="col footer-top__col-menu grid-2_sm-12 media-lnk">#}
{##}
{#                    <a href="#" class="col-12 media-lnk__item">#}
{#                        <svg class="icon play">#}
{#                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play"></use>#}
{#                        </svg>#}
{#                        <span>Видео-канал</span>#}
{#                    </a>#}
{##}
{#                    <a href="#" class="col-12 media-lnk__item">#}
{#                        <svg class="icon footer-career">#}
{#                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#footer-career"></use>#}
{#                        </svg>#}
{#                        <span>Карьера</span>#}
{#                    </a>#}
{##}
{#                </div>#}
            </section>

            <section class="col footer-top__col-menu grid-1_sm-12 contact-section">
                <h5 class="title js-accordion-trigger accordion__link">{% trans "Контактная <br> ИНФОРМАЦИЯ" %}</h5>

                <address class="contact-box grid-1_sm-12">
                    {{ instance.address|safe }}
				<p class="col-12">
					<a href="https://t.me/nektorov" title="">
						<svg
						   xmlns:dc="http://purl.org/dc/elements/1.1/"
						   xmlns:cc="http://creativecommons.org/ns#"
						   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
						   xmlns:svg="http://www.w3.org/2000/svg"
						   xmlns="http://www.w3.org/2000/svg"
						   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
						   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
						   width="24px"
						   height="24px"
						   viewBox="0 0 15 15"
						   version="1.1"
						   id="svg78"
						   sodipodi:docname="iconmonstr-telegram-4-15-2.svg"
						   inkscape:version="1.0.2-2 (e86c870879, 2021-01-15)">
						  <defs
							 id="defs73" />
						  <path
							 id="telegram-4"
							 d="M 7.5,0 C 3.35875,0 0,3.3575 0,7.5 0,11.641875 3.35875,15 7.5,15 11.641875,15 15,11.641875 15,7.5 15,3.3575 11.641875,0 7.5,0 Z m 2.015,11.169375 c 0.1175,0.08312 0.26875,0.10375 0.40375,0.05312 0.134375,-0.05125 0.23375,-0.166875 0.26375,-0.306875 0.316875,-1.4887499 1.085625,-5.2575 1.37375,-6.61125 C 11.57812,4.201875 11.54187,4.095625 11.46187,4.0275 11.38125,3.959375 11.27,3.94 11.17125,3.97625 9.6425,4.5425 4.934375,6.30875 3.01,7.020625 2.888125,7.06625 2.80875,7.183125 2.8125,7.3125 c 0.00438,0.12875 0.09125,0.240625 0.21625,0.278125 0.863125,0.258125 1.995625,0.6175 1.995625,0.6175 0,0 0.529375,1.5987501 0.805,2.41125 0.035,0.1025 0.115,0.1825 0.22,0.21 0.105625,0.0275 0.2175,-0.0013 0.29625,-0.07563 C 6.78875,10.33562 7.47375,9.6887451 7.47375,9.6887451 c 0,0 1.3025,0.9543749 2.04125,1.4806249 z M 5.500625,8.005625 6.113125,10.025 6.249375,8.74625 c 0,0 2.364375,-2.133125 3.713125,-3.34875 C 10.001875,5.361875 10.006875,5.301875 9.974375,5.26 9.941875,5.218125 9.881875,5.208125 9.8375,5.236875 8.275,6.234375 5.500625,8.005625 5.500625,8.005625 Z"
							 style="clip-rule:evenodd;fill-rule:evenodd;stroke-width:0.625;stroke-linejoin:round;stroke-miterlimit:1.41421;image-rendering:auto;fill:#7a006f;fill-opacity:1" />
						</svg>
					</a>
					
					<a href="https://wa.me/+79265733991" title="">
						<svg
						   xmlns:dc="http://purl.org/dc/elements/1.1/"
						   xmlns:cc="http://creativecommons.org/ns#"
						   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
						   xmlns:svg="http://www.w3.org/2000/svg"
						   xmlns="http://www.w3.org/2000/svg"
						   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
						   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
						   width="24px"
						   height="24px"
						   version="1.1"
						   id="svg4"
						   sodipodi:docname="iconmonstr-whatsapp-1-color.svg"
						   inkscape:version="1.0.2-2 (e86c870879, 2021-01-15)">
						  <defs
							 id="defs73" />
						  <path
							 d="M12.031 6.172c-3.181 0-5.767 2.586-5.768 5.766-.001 1.298.38 2.27 1.019 3.287l-.582 2.128 2.182-.573c.978.58 1.911.928 3.145.929 3.178 0 5.767-2.587 5.768-5.766.001-3.187-2.575-5.77-5.764-5.771zm3.392 8.244c-.144.405-.837.774-1.17.824-.299.045-.677.063-1.092-.069-.252-.08-.575-.187-.988-.365-1.739-.751-2.874-2.502-2.961-2.617-.087-.116-.708-.94-.708-1.793s.448-1.273.607-1.446c.159-.173.346-.217.462-.217l.332.006c.106.005.249-.04.39.298.144.347.491 1.2.534 1.287.043.087.072.188.014.304-.058.116-.087.188-.173.289l-.26.304c-.087.086-.177.18-.076.354.101.174.449.741.964 1.201.662.591 1.221.774 1.394.86s.274.072.376-.043c.101-.116.433-.506.549-.68.116-.173.231-.145.39-.087s1.011.477 1.184.564.289.13.332.202c.045.072.045.419-.1.824zm-3.423-14.416c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm.029 18.88c-1.161 0-2.305-.292-3.318-.844l-3.677.964.984-3.595c-.607-1.052-.927-2.246-.926-3.468.001-3.825 3.113-6.937 6.937-6.937 1.856.001 3.598.723 4.907 2.034 1.31 1.311 2.031 3.054 2.03 4.908-.001 3.825-3.113 6.938-6.937 6.938z"
							 id="path2"
							 style="fill:#7a006f;fill-opacity:1" />
						</svg>
					</a>
					
					<a href="http://m.me/284181041652797" title="">
						<svg
						   xmlns:dc="http://purl.org/dc/elements/1.1/"
						   xmlns:cc="http://creativecommons.org/ns#"
						   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
						   xmlns:svg="http://www.w3.org/2000/svg"
						   xmlns="http://www.w3.org/2000/svg"
						   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
						   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
						   width="24px"
						   height="24px"
						   version="1.1"
						   id="svg874"
						   sodipodi:docname="iconmonstr-facebook-messenger-1-color.svg"
						   inkscape:version="1.0.2-2 (e86c870879, 2021-01-15)">
						  <defs
							 id="defs73" />
						  <path
							 d="M12 0c-6.627 0-12 4.975-12 11.111 0 3.497 1.745 6.616 4.472 8.652v4.237l4.086-2.242c1.09.301 2.246.464 3.442.464 6.627 0 12-4.974 12-11.111 0-6.136-5.373-11.111-12-11.111zm1.193 14.963l-3.056-3.259-5.963 3.259 6.559-6.963 3.13 3.259 5.889-3.259-6.559 6.963z"
							 id="path872"
							 style="fill:#7a006f;fill-opacity:1" />
						</svg>
					</a>
					
				</p>
                </address>
            </section>

        </div>
    </div>

    <div class="footer-bottom">
        <div class="footer-bottom__info container grid-spaceBetween-noBottom">

            <a class="footer-bottom__lnk col-6" href="#">© Nektorov, Saveliev & Partners (since 2006)</a>

        </div>
    </div>


</footer>
