{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="old-popop">
    <div class="old-popup__cell">
        <h2 class="old-popup__title">ВЫ ИСПОЛЬЗУЕТЕ УСТАРЕВШУЮ ВЕРСИЮ БРАУЗЕРА</h2>
        <p>Устаревшие браузеры не поддерживает современные технологии, из-за чего многие страницы отображаются
            некорректно. Скачайте, пожалуйста, новую версию вашего любимого браузера.</p>
        <a href="http://outdatedbrowser.com/en" class="old-popup__btn">ВЫБРАТЬ БРАУЗЕР</a>
    </div>
</div>


<footer class="footer">

    <div class="footer-top container grid-2_sm-12">

        <div class="col grid-2_sm-12">


            <section class="col footer-top__col-menu grid-2_sm-12">

                <svg class="icon icon-accordion-open js-accordion-trigger">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#accordion-open"></use>
                </svg>

                <h5 class="title js-accordion-trigger accordion__link">{{ services }}</h5>

                <ul class="footer__nav js-accordion-content accordion__content">
                    {% for item in service_rows.0 %}
                        <li class="footer__nav-item"><a href="{{ item.get_absolute_url }}">
                            {{ item }}
                        </a></li>
                    {% endfor %}
                    {% for item in service_rows.1 %}
                        <li class="footer__nav-item footer__nav-item-xs"><a
                                href="{{ item.get_absolute_url }}">
                            {{ item }}
                        </a>
                        </li>
                    {% endfor %}

                    {% if bondholders %}
                    <li class="footer__nav-item">
                        <hr class="footer__nav-border">
                    </li>

                    <li class="footer__nav-item">
                        <a href="{{ bondholders.get_absolute_url }}">{{ bondholders }}</a>
                    </li>
                    {% endif %}

                </ul>
            </section>


            <section class="col footer-top__col-menu grid-2_sm-12">

                <ul class="footer__nav js-accordion-content accordion__content footer__nav_mt">
                    {% for item in service_rows.1 %}
                        <li class="footer__nav-item"><a href="{{ item.get_absolute_url }}">
                            {{ item }}
                        </a></li>
                    {% endfor %}
                </ul>

            </section>

        </div>

        <div class="col grid-2_sm-12">
            <section class="col footer-top__col-menu grid-1_sm-12">

                <div class="col footer-top__col-menu grid-2_sm-12">
                    <svg class="icon icon-accordion-open js-accordion-trigger">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#accordion-open"></use>
                    </svg>

                    <h5 class="title js-accordion-trigger accordion__link">
                        {{ instance.common_info }}
                    </h5>

                    <ul class="footer__nav js-accordion-content accordion__content">
                        {% for item in left_menu %}
                            <li class="footer__nav-item"><a href="{{ item.get_absolute_url }}">{{ item }}</a></li>
                        {% endfor %}
                        {% for item in right_menu %}
                            <li class="footer__nav-item"><a href="{{ item.get_absolute_url }}">{{ item }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

{#                <div class="col footer-top__col-menu grid-2_sm-12 media-lnk">#}
{##}
{#                    <a href="#" class="col-12 media-lnk__item">#}
{#                        <svg class="icon play">#}
{#                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play"></use>#}
{#                        </svg>#}
{#                        <span>Видео-канал</span>#}
{#                    </a>#}
{##}
{#                    <a href="#" class="col-12 media-lnk__item">#}
{#                        <svg class="icon footer-career">#}
{#                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#footer-career"></use>#}
{#                        </svg>#}
{#                        <span>Карьера</span>#}
{#                    </a>#}
{##}
{#                </div>#}
            </section>

            <section class="col footer-top__col-menu grid-1_sm-12 contact-section">
                <h5 class="title js-accordion-trigger accordion__link">{% trans "Контактная <br> ИНФОРМАЦИЯ" %}</h5>

                <address class="contact-box grid-1_sm-12">
                    {{ instance.address|safe }}
                </address>
            </section>

        </div>
    </div>

    <div class="footer-bottom">
        <div class="footer-bottom__info container grid-spaceBetween-noBottom">

            <a class="footer-bottom__lnk col-6" href="#">© Nektorov, Saveliev & Partners (since 2006)</a>

        </div>
    </div>


</footer>
