{% load menu_tags %}
{% load i18n %}

<div class="header-top">
    <div class="container grid-noBottom-right">
        <div class="soc-bl">
            <a class="soc-bl__link" href="https://www.facebook.com/Nektorov-Saveliev-Partners-Law-Firm-284181041652797" title="">
                <svg class="icon icon-socialicons-fb">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#socialicons-fb"></use>
                </svg>
            </a>
            <a class="soc-bl__link" href="https://t.me/joinchat/Y0F_o4vuo3YxYWQy" title="">
                <svg class="icon icon-socialicons-fb">
                      <path
                         id="socialicons-tg"
                         d="M 7.5,0 C 3.35875,0 0,3.3575 0,7.5 0,11.641875 3.35875,15 7.5,15 11.641875,15 15,11.641875 15,7.5 15,3.3575 11.641875,0 7.5,0 Z m 2.015,11.169375 c 0.1175,0.08312 0.26875,0.10375 0.40375,0.05312 0.134375,-0.05125 0.23375,-0.166875 0.26375,-0.306875 0.316875,-1.4887499 1.085625,-5.2575 1.37375,-6.61125 C 11.57812,4.201875 11.54187,4.095625 11.46187,4.0275 11.38125,3.959375 11.27,3.94 11.17125,3.97625 9.6425,4.5425 4.934375,6.30875 3.01,7.020625 2.888125,7.06625 2.80875,7.183125 2.8125,7.3125 c 0.00438,0.12875 0.09125,0.240625 0.21625,0.278125 0.863125,0.258125 1.995625,0.6175 1.995625,0.6175 0,0 0.529375,1.5987501 0.805,2.41125 0.035,0.1025 0.115,0.1825 0.22,0.21 0.105625,0.0275 0.2175,-0.0013 0.29625,-0.07563 C 6.78875,10.33562 7.47375,9.6887451 7.47375,9.6887451 c 0,0 1.3025,0.9543749 2.04125,1.4806249 z M 5.500625,8.005625 6.113125,10.025 6.249375,8.74625 c 0,0 2.364375,-2.133125 3.713125,-3.34875 C 10.001875,5.361875 10.006875,5.301875 9.974375,5.26 9.941875,5.218125 9.881875,5.208125 9.8375,5.236875 8.275,6.234375 5.500625,8.005625 5.500625,8.005625 Z"
                         style="clip-rule:evenodd;fill-rule:evenodd;stroke-width:0.625;stroke-linejoin:round;stroke-miterlimit:1.41421;image-rendering:auto" />
                </svg>
            </a>
            <a class="soc-bl__link soc-bl__link_wide" href="https://www.youtube.com/channel/UCuHMA6ZFJtYQpbfNAGPOKTQ" title="">
			    <svg class="icon icon-header-video">
				    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#header-video"></use>
                </svg>
				{%  trans "Видео-канал" %}
		 </a>
            {% if children.0 %}
            <a class="soc-bl__link" href="{{ children.0.url }}" title="">
                <svg class="icon icon-header-career">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#header-career"></use>
                </svg>
                {{ children.0.title }}
            </a>
            {% endif %}
            {% if children.1 %}
                <a class="soc-bl__link soc-bl__link_wide" href="{{ children.1.url }}" title="">
                    <svg class="icon icon-header-video">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#header-video"></use>
                    </svg>
                    {{ children.1.title }}
                </a>
             {% endif %}
        </div>

        {% language_chooser %}

    </div>
</div>
