{% load i18n menu_tags landing_tags %}
{% get_current_language as LANGUAGE_CODE %}


<!-- show top menu -->
{% show_menu_below_id "additional" 0 1 0 1 "landing/_parts/menu_additional.html" %}

<div class="header-bottom">
    <div class="container grid-middle-noBottom-spaceBetween">
        <a class="col-3_md-8 logo" href="/" title=""></a>
        <div class="col-auto show-menu"></div>
        <nav class="main-nav col">
            <div class="close-main-nav">&times;</div>
            {% show_menu_below_id "left-menu" 0 1 0 1 "landing/_parts/left-menu.html" %}
            {% show_services_menu services_id="services" language=LANGUAGE_CODE %}
            {% show_menu_below_id "right-menu" 0 1 0 1 "landing/_parts/right-menu.html" %}
            <div class="soc-bl">
                {% language_chooser "landing/mobile_language_chooser.html" %}
            </div>
        </nav>
    </div>
</div>
