{% load menu_tags %}

<a class="main-nav__item {% if children.0.selected or children.0.ancestor %}main-nav__item_active{% endif %}"
href="{{ children.0.url }}" title="">
  {{ children.0.title }}
</a><br>
<a class="main-nav__item {% if children.1.selected or children.1x.ancestor %}main-nav__item_active{% endif %}"
href="{{ children.1.url }}" title="">
  {{ children.1.title }}
</a><br>
