.mb0 {
    margin-bottom: 0;
 }
 
 /*=================== pvo-page =============================*/
 .pvo-wrap__col {
     margin-bottom: 50px;
 }
 
 .pvo-page h1 {
     margin-bottom: 54px;
 }
 
 .pvo-page h5 {
     font-size: 28px;
     font-family: bandera-b;
     margin-bottom: 30px;
 }
 
 .pvo-page .list_type1__item {
     padding-left: 25px;
 }
 
 .pvo-page .list_type1__item:after {
     left: 0;
     box-shadow: 1px 1px 0 0 #000;
 }
 
 .pvo-page .list_type1__item:before {
     left: -3px;
     border-color: #000;
 }
 
 .pvo-page .news-preview__title {
     line-height: 1.1;
 }
 
 .pvo-page .download__link-wrap {
     margin-bottom: 30px;
 }
 
 .pvo-page .download__link {
     text-align: left;
     font-size: 13px;
     margin-bottom: 0;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
 }
 
 .pvo-page .square-area {
     height: auto;
 }
 
 .pvo-page .square-bl {
     background-color: #7a006f;
     color: #fff;
 }
 
 .pvo-page .news-preview__title {
     font-size: 24px;
     max-height: 60%;
 }
 
 .pvo-page .list_type2 {
     margin-bottom: 35px;
 }
 
 .pvo-page .right-side h5 {
     font-size: 14px;
 }
 
 .pvo__cell {
     border-bottom: 1px solid #e5e5e5;
     margin-bottom: 26px;
 }
 
 .pvo__cell-head {
     border-bottom: 1px solid #000;
     padding: 13px 0;
     font-size: 18px;
     font-family: bandera-sm;
     height: 65px;
     line-height: 20px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     vertical-align: middle;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     letter-spacing: 1px;
 }
 
 .pvo__notes {
     margin-bottom: 87px;
 }
 
 .list_type2 {
     padding-left: 42px;
 }
 
 .list_type2__item {
     margin: 9px 0 25px;
 }
 
 .function-pvo {
     margin-bottom: 67px;
 }
 
 .function-pvo h5 {
     margin-bottom: 0;
 }
 
 .pvo-benefits h5 {
     margin-bottom: 17px;
 }
 
 .pvo-benefits .pvo__cell-head {
     margin-bottom: 18px;
 }
 
 .list_type3__item:nth-child(-n2) {
     border-bottom: 1px solid #e5e5e5;
 }
 
 .list_type3__item {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     height: 100%;
     -webkit-box-align: start;
     -ms-flex-align: start;
     align-items: flex-start;
     padding: 15px 0 15px;
     margin-left: 10px;
     min-height: 73px;
     width: 100%;
 }
 
 @media screen and (max-width: 906px) {
     .list_type3__item {
         min-height: 95px;
     }
 }
 
 @media only screen and (max-width: 768px) {
     .list_type3__item {
         min-height: inherit;
     }
 }
 
 /*=================== ./pvo-page =============================*/

.news-preview__title {
    max-height: unset;
}
