<section class="service-about text-center grid-noBottom-middle">
    <div class="col-8_sm-12">
        <h1 class="title text_bright">{{ instance.title }}</h1>
        <h5 class="title">{{ instance.sub_title }}</h5>
        <p> {{ instance.body_text|safe }}
        </p>
    </div>
</section>
