{% load i18n %}

<div class="col-6">
    <div class="person-contact text-center">
        <div class="person-contact__pic"
             style="background: url({{ instance.contact_person.photo.url }}) no-repeat 50% 50% / cover">
        </div>
        <a href="{{ instance.contact_person.person_page.get_absolute_url }}" class="person-contact__name">
            {{ instance.contact_person.first_name }}<br>{{ instance.contact_person.last_name }}
        </a>
        <div class="person-contact__position">{{ instance.contact_person.job_position }}</div>
        <div class="person-contact__field">{{ instance.contact_person.specialization }}</div>
        <a href="mailto:{{ instance.contact_person.email }}">
            <div class="person-contact__btn">

                <svg class="icon icon_mail">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mail"></use>
                </svg>
                {% trans "Написать письмо" %}
            </div>
        </a>
    </div>
</div>

