{% load cms_tags %}

<h5 class="title text_bright mb40 title-right-first">{{ instance.title }}</h5>
<div class="grid-noBottom mb30">
    {% for plugin in instance.child_plugin_instances %}
        {% render_plugin plugin %}
    {% endfor %}
</div>
