{% load cms_tags %}

<h5 class="title text_bright mb30">{{ instance.title }}</h5>
<div class="square-area">
    {% for plugin in instance.child_plugin_instances %}
        {% render_plugin plugin %}
    {% endfor %}
</div>
