{% if instance.type_of_news == "Новости" %}
    <a href="" class="publ text-center square-bl">
        <div href="" class="square-bl__content grid-noBottom-column-spaceBetween">
            <div class="publ-title">{{ instance.title }}</div>
            <div class="squere-bl__text-bl">
                {{ instance.body_text }}
            </div>
            <div class="publ-source">{{ instance.magazine }}</div>
        </div>
    </a>
{% endif %}


{% if instance.type_of_news == "Завершенный проект" %}
    <a href="" class="news-preview square-bl">
        <div href="" class="square-bl__content grid-noBottom-column"
             style="background: url({% if instance.photo %}{{ instance.photo.url }}{% endif %}) no-repeat 0 0 / cover">
            <div class="news-preview__date">{{ instance.client_name.title }}</div>
            <div class="news-preview__title">
                {{ instance.title }}
            </div>
        </div>
    </a>
{% endif %}
