{% load cms_tags %}

<h2 class="title text_bright">{{ instance.title }}</h2>
<div class="services-list">
    {% for page in sub_pages %}
        <a href="{{ page.url }}" class="services-list__item">
            <div class="services-list__title">{{ page.title }}
            </div>
            <div class="services-list__desc">{{ page.body_text }}
            </div>
        </a>
    {% endfor %}
</div>


