{% load ispublished_tags %}
{% load i18n menu_tags landing_tags %}
{% get_current_language as LANGUAGE_CODE %}

<div class="main-nav__item main-nav__item--collapse" href="#">
    <span id="services">{{ service_parent_page }}<i id="services_arrow" class="main-nav__item--collapse__arrow"></i></span>

    <div class="main-nav__item__subcontent">
        {% for menu_row in service_rows %}
            <ul class="container">
                {% for menu_item in menu_row %}
                    <li class="main-nav__item__subitem">
                        <h4><a href="{{ menu_item.get_absolute_url }}">{{ menu_item }}</a></h4>
                        {% for submenu_item in menu_item.get_children %}
                            {% is_page_published page=submenu_item language=LANGUAGE_CODE %}
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
</div><br>

