{% load static cms_tags sekizai_tags %}
{% load i18n %}

<section class="feedaback-box text-center">

    <div class="container feedaback-form grid-center-middle">

        <h2 class="col-12 feedaback-form__title">
            {{ instance.title }}
        </h2>

        <p class="col-8_sm-12 feedaback-form__desc">
            {{ instance.body_text }}
        </p>

        <div class="col-6_sm-12 text-left">
            <form action="" class="form-steps">{% csrf_token %}
                {% for question in instance.child_plugin_instances %}
                    {% render_plugin question %}
                {% endfor %}

            </form>

            <div class="feedaback-form__page" style="display: none;">
                <span>{{ instance.question_number }}</span>

                <ul>
                    {% for question in instance.child_plugin_instances|slice:":-1" %}
                        <li>
                            <span class="nav-step-form{% if forloop.counter == 1 %} active {% endif %}"
                                  href="#" data-step="step{{ forloop.counter }}">
                                {{ forloop.counter }}
                            </span>
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>

        <div class="col-12" id="terms-block">
            {% if LANGUAGE_CODE == 'ru' %}
            <input type="checkbox" id="check">
            <label for="check">
                {%  trans "Я согласен с " %}
                <a class="link" style="color: white; text-decoration: underline;" href="{% static 'landing/legal.pdf' %}" target="_blank">
                    {%  trans "политикой обработки персональных данных" %}
                </a>
            </label>
            {% endif %}
            {% if not LANGUAGE_CODE == 'ru' %}
                <input type="checkbox" id="check" checked>
            {% endif %}
        </div>

    </div>

</section>
