<div class="form-steps__step-item {% if  forloop.counter == 1 %}
                                    active
                                   {% endif %}" data-step="step{{ forloop.counter }}">
    <label class="feedaback-form__quest" for="field{{ forloop.counter }}">
        {{ instance.question }}
    </label>

    <fieldset>

        <input class="feedaback-form__field-text"
               type="text"
               name="field{{ forloop.counter }}"
               value=""
               id="field{{ forloop.counter }}">

        <button class="feedaback-form__field-btn form-steps__btn-next"
                data-next="step{{ forloop.counter|add:"1" }}"
                type="submit">
            ok
        </button>

        <span class="error-mess">{{ instance.error_message }}</span>

    </fieldset>
</div>
