<div class="popup-wrap" id="popup-publication">
    <div class="popup">
        <a class="btn-close" href="#"></a>

        <div id="popup-text-publication">

            <h2 class="popup__title text-proxima-bl">
                СКАЧАТЬ ФАЙЛ
            </h2>

            <p class="popup__form-notice">
                Пожалуйста, введите адрес вашей электронной <br>
                почты и мы, в течение 5 минут, вышлем  <br>
                интересующий вас файл.
            </p>

            {% csrf_token %}
            <span class="popup__form__error">вы ввели некорректный адрес</span>
            <input type="hidden" val="" name="id-publication">
            <input class="popup__form__input" id="send-doc-email" type="email" name="" value=""
                   placeholder="Адрес почты">
            <button class="popup__form__btn" name="" id="send-doc" type="submit">ОТПРАВИТЬ ФАЙЛ</button>


            <a class="popup__refuse-lnk close-popup" href="#">Нет, спасибо</a>

        </div>
    </div>
</div>

<div class="popup-wrap" id="popup-publication-success">
    <div class="popup">
        <a class="btn-close" href="#"></a>

        <div id="popup-text-publication">

            <h2 class="popup__title text-proxima-bl">
                Спасибо!
            </h2>

            <p class="popup__form-notice">
                Мы выслали вам письмо со ссылкой на файл. <br>
				Проверьте, пожалуйста, папку «Спам» если в течение <br>
				5 минут оно не придет.
            </p>

            <a class="popup__refuse-lnk close-popup" href="#">Закрыть</a>

        </div>
    </div>
</div>


