<script>
    function preloadImages() {
      for (var i = 0; i < arguments.length; i++) {
        new Image().src = arguments[i];
      }
    };
    preloadImages(
      '{{ instance.backgound_image.url }}'
    );
</script>


<div class="promo-bl grid-bottom-noBottom-noGutter"
  style="background: url('{{ instance.backgound_image.url }}') no-repeat 0 0 / cover">
  <div class="container">
    <div class="title title_promo">{{ instance.title }}</div>
    <div class="grid-noBottom-center">
      <div class="col-6_md-8_sm-12">{{ instance.body_text|safe }}</div>
    </div>
  </div>
</div>
