<h5 class="title text_bright mb40">НОВОСТИ И КОММЕНТАРИИ В СМИ</h5>

{% for news in custom_context.news_list %}



    {% if news.type_of_news == "Big news" %}
        <a href="" class="publ text-center square-bl">
            <div href="" class="square-bl__content grid-noBottom-column-spaceBetween">
                <div class="publ-title">{{ news.title }}</div>
                <div class="squere-bl__text-bl">
                    {{ news.body_text }}
                </div>
                <div class="publ-source">{{ news.magazine }}</div>
            </div>
        </a>
    {% endif %}

    {% if news.type_of_news == "Big project" %}
        <a href="" class="news-preview square-bl">
            <div href="" class="square-bl__content grid-noBottom-column"
                 style="background: url(
                         {% if news.photo %}{{ news.photo.url }}{% endif %}) no-repeat 0 0 / cover">
                <div class="news-preview__date">{{ news.client_name.title }}</div>
                <div class="news-preview__title">
                    {{ news.title }}
                </div>
            </div>
        </a>
    {% endif %}

{% endfor %}



