{% if news_data.type_of_news == "Big news" %}

    {% if news_data.photo %}
        <a href="{{ news_data.url }}" class="news-preview square-bl">
            <div class="square-bl__content square-bl__content_image grid-noBottom-column"
                 style="background: url({{ news_data.photo.url }}) no-repeat center center / cover">
                <div class="news-preview__date">{{ news_data.news_date }}</div>
                <div class="news-preview__title">
                    {{ news_data.title }}
                </div>
            </div>
        </a>
    {% endif %}

    {% if not news_data.photo %}
        <a href="{{ news_data.url }}" class="news-preview square-bl">
            <div class="square-bl__content square-bl__content_bright grid-noBottom-column">
                <div class="news-preview__date">{{ news_data.news_date }}</div>
                <div class="news-preview__title">
                    {{ news_data.title }}
                </div>
                <div class="news-preview__desc">{{ news_data.body_text }}
                </div>
            </div>
        </a>
    {% endif %}


{% endif %}

{% if news_data.type_of_news == "Big project" %}
    <a href="{{ news_data.url }}" class="publ text-center square-bl">
        <div class="square-bl__content grid-noBottom-column-spaceBetween">
            <div class="publ-title">{{ news_data.title }}</div>
            <div class="squere-bl__text-bl">
                {{ news_data.body_text }}
            </div>
            <div class="publ-source">{{ news_data.magazine.title }}</div>
        </div>
    </a>
{% endif %}
