<div class="review-box__review-item">

    <h3 class="text-proxima-b">{{ instance.quote.rating.title }}</h3>

    <svg class="icon quote">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#quote"></use>
    </svg>

    <p class="review-box__review">
        {{ instance.quote.text }}
    </p>

    <svg class="icon quote-mini">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#quote-mini"></use>
    </svg>

</div>
