{% load cms_tags %}

<section class="container review-box text-center">

    <h2 class="title text_bright">{{ instance.title }}</h2>

    <div class="review-slider owl-carousel">

        {% for plugin in instance.child_plugin_instances %}
            {% render_plugin plugin %}
        {% endfor %}


    </div>

</section>
