<div class="accordion__item">
    <div class="js-accordion-trigger accordion__link">{{ instance.title|safe }}
        <svg class="icon icon_ac-arrow">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#accordion-open"></use>
        </svg>
    </div>
    <div class="js-accordion-content accordion__content">
        {{ instance.body_text }}
    </div>
</div>
