{% load static cms_tags sekizai_tags %}

<h5 class="title text_bright mb40 mt40">
    {{ instance.title }}
</h5>

<div class="accordion accordion_benefit">
    {% for list_item in instance.child_plugin_instances %}
        {% render_plugin list_item %}
    {% endfor %}
</div>
