<section class="service-about__detail">
    <h1 class="title">{{ instance.title }}</h1>
    <h5 class="title">{{ instance.subtitle }}</h5>
    <p class="fnsz18">{{ instance.body_text }}
    </p>
</section>
