{% load static cms_tags sekizai_tags %}

<div class="practice-list">
    <h2 class="title text_bright">{{ instance.title }}</h2>
    <ul class="list_type1">
        {% for list_item in list %}
            <li class="list_type1__item">{{ list_item }}</li>
        {% endfor %}
    </ul>
</div>
