{% load cms_tags static %}

<div class="grid-noBottom">
    <div class="col-8_md-7_sm-12 publication-box" data-push-left="off-4">

        <h1 class="title">{{ instance.name }}</h1>

        <h5 class="title">{{ instance.job_position }}</h5>

        {% if instance.email %}
            <a href="mailto:{{ instance.email }}"
               class="publication-page__email link">{{ instance.email }}</a>
        {% endif %}

        <div style="width: 100%; height: 37px;"></div>

        <div class="publication-page__content">
            <h6 style="
        text-transform: uppercase;">{{ instance.title }}</h6>
            <p>{{ instance.description|safe }}</p>
        </div>

        {% for plugin in instance.child_plugin_instances %}
            {% render_plugin plugin %}
        {% endfor %}


    </div>
</div>



