{% if instance.is_active %}

    <a href="{{ instance.person.get_absolute_url }}" class="col-4_md-6_sm-12 team__item">
        <div class="team__image">
            <div class="team__images-wrap">
                <img src="{{ instance.photo_gray.url }}" alt="">
                <img src="{{ instance.photo_color.url }}" alt="">
            </div>
        </div>
        <div class="team__info">
            <div class="team__name">{{ instance.name }}</div>
            {% if not instance.person_position == 'plus' %}
                <div class="team__pos">{{ instance.person_position }}</div>
            {%  endif %}
        </div>
    </a>
{% endif %}
