{% load cms_tags %}

<section class="team">
    <div class="container">
        <div class="grid-noBottom-noGutter">
            {% for plugin in instance.child_plugin_instances %}
                {% render_plugin plugin %}
            {% endfor %}
        </div>
    </div>
</section>
