body
	font-family: proxima, sans-serif
	font-weight: normal
	font-style: normal
	font-stretch: normal
	line-height: 1.38
	color: $black
	display: flex
	flex-direction: column
	height: 100vh
	background-color: $white

header,
footer
	flex-shrink: 0

.wrapper
	flex: 1 0 auto

*
	box-sizing: border-box
	outline: none !important

a,
a:hover,
a:active
	text-decoration: none
	@extend %all-trans

.link
	color: $bright1
	@extend %all-trans

.link__small-screen
	+respond(screen-md)
		color: #fff

.link:hover
	text-decoration: underline

b
	font-family: proxima-sb
img
	max-width: 100%
button
	border: none
	background-color: transparent
ul,li
	margin: 0
	padding: 0
	list-style: none

h1, h2, h3, h4, h5, h6
	margin: 0
	padding: 0
	font-weight: normal
	font-family: bandera

h1
	font-size: 48px
	line-height: 52px
	letter-spacing: 1px

h2
	font-size: 28px
	line-height: 32px
	margin-bottom: 24px
	letter-spacing: 1px

h3
	letter-spacing: 2.5px

h5
	font-size: 14px
	letter-spacing: 1px

figure,
p
	margin: 0

.text-center
	text-align: center

.text-left
	text-align: left

.text-right
	text-align: right

.title
	font-family: bandera-b

	.person-box__item-info &
		text-transform: uppercase

.text-proxima-b
	font-family: proxima-b

.text-proxima-bl
	font-family: proxima-bl

.text_light
	color: $white

.text_bright
	color: $bright1

.devider
	display: block
	margin: 70px auto 62px
	border: none
	border-bottom: 1px solid #4a4a4a
	width: 75%

	+respond(screen-md)
		margin: 30px auto

.container
	width: 100%
	max-width: $xlg
	margin: 0 auto
	padding: 0 10px

.fnsz18
	font-size: 18px
	line-height: 1.56

.mb40
	margin-bottom: 40px

.mb0
	margin-bottom: 0

.mb30
	margin-bottom: 30px

.mb20
	margin-bottom: 20px

.mt40
	margin-top: 40px

.pd-big
	padding-right: 50px
	+respond(screen-md)
		padding-right: .5rem

.no-lsp
	letter-spacing: 0

.title-right-first
	margin-top: 12px

.title-center
	+respond(screen-md)
		text-align: center

.clearfix:before, .clearfix:after
	content: ""
	display: table

.clearfix:after
	clear: both

.hide
	display: none

/*===================PROMO BLOCK (page ABOUT)=============================*/
.promo-bl
	width: 100%
	height: 100vh
	padding-bottom: 50px
	background: #000
	color: $white
	text-align: center
	font-size: 18px
	line-height: 1.56

.title_promo
	font-size: 48px
	line-height: 57px
	+respond(screen-md)
		font-size: 36px
		line-height: 42px
	+respond(screen-sm)
		font-size: 32px
		line-height: 36px

/*===================ABOUT BLOCK=============================*/
.about-bl
	line-height: 1.5
	padding: 70px 0
	border-bottom: 1px solid #4a4a4a
	+respond(screen-md)
		text-align: center
.about__logo-company
	padding-right: 30px
	img
		max-width: 100%
		+respond(screen-md)
			width: 450px
			margin-bottom: 50px

	+respond(screen-md)
		padding-right: 0


/*===================BENEFITS BLOCK=============================*/
.benefits
	padding: 30px 0
	background-color: $bright2
	color: $white

.benefits__title
	font-family: proxima-bl
	font-size: 32px
	line-height: 40px
	margin: 20px 0 10px
	letter-spacing: 2px
	text-transform: uppercase

/*===================Service page -> About service BLOCK=============================*/
.service-about
	border-bottom: 1px solid $bright1
	padding: 2.777em 0 6em
	margin: 0 0 2.777em
	font-size: 1.125rem
	h1.title
		margin-bottom: 2.916em
	h5.title
		margin-bottom: 2em
		text-transform: uppercase
	+respond(screen-sm)
		font-size: 1rem
		h1.title
			margin-bottom: 1em

/*===================Service page -> Services list BLOCK=============================*/
.services-list
	margin: 60px 0
	font-size: 1rem
	+respond(screen-sm)
		.services-list__title
			font-size: 1.75em
.services-list__item
	border-bottom: 1px solid $black
	margin-bottom: 42px
	color: $black
	display: block

	&:hover .services-list__title
		color: $bright1

.services-list__title
	font-size: 2em
	line-height: 1.22
	font-family: bandera-b
	letter-spacing: .4px
	margin-bottom: 11px
	+respond(screen-md)
		font-family: bandera
.services-list__desc
	font-family: Verdana
	font-size: 0.875em
	line-height: 1.25
	margin-bottom: 20px
	min-height: 50px

/*===================Pablication=============================*/
.main-publ
	margin-bottom: 65px
	justify-content: center
	+respond(screen-lg)
		> div
			margin-bottom: 40px
	h2
		font-size: 27px
.square-area
	max-width: 500px
	height: 100%
	+respond(screen-md)
		margin: 0 auto
.square-area_wide
	max-width: 100%
	+respond(screen-md)
		max-width: 500px
.square-bl
	position: relative
	padding-top: calc(100% - 10px)
	margin-bottom: 40px
	display: block
	color: $black
	.main-publ &
		margin-bottom: 0
		+respond(screen-sm)
			margin: 0 auto 20px

	.news-press__cell-item &
		margin-bottom: 22px

.square-bl__content
	position: absolute
	top: 0
	left: 8px
	width: 100%
	height: 100%
	padding: 22px
	justify-content: flex-end
	z-index: 1
	+respond(screen-sm)
		padding: 17px
	> div:last-child
		margin-bottom: 0
	.square-bl__logo
		height: 29px
.square-bl__content_image
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		background-color: rgba(0,0,0,.5)
	> div
		z-index: 1

.square-bl__content_bright
	background-color: $bright1
.squere-bl__text-bl
	max-height: 50%
	overflow: hidden
.publ
	font-size: 18px
	box-shadow: 0 0 0 5px $bright1 inset

	&:hover
		opacity: .7

.publ-title
	font-family: bandera-sm
	color: $bright1
	letter-spacing: .5px

.news-preview
	background-color: #000
	color: $white

	&:hover
		opacity: .7

.news-preview_wide
	margin: 0 auto 20px
	@media only screen and (min-width: 1025px)
		padding-top: calc((100% + 1rem) / 2 - 10px - 1rem)
.news-preview__date
	font-family: proxima
	font-size: 18px
	position: absolute
	top: 22px
	left: 22px
	+respond(screen-sm)
		top: 17px
		left: 17px
.news-preview__title
	font-family: bandera-sm
	font-size: 24px
	line-height: 1.2
	letter-spacing: 1px
	margin-bottom: 11px
	// max-height: 40%
	overflow: hidden
	.news-preview_wide &
		max-height: inherit

.news-preview__desc

	+respond(screen-md)
		display: none
/*=================== PERSON BOX =============================*/

.person-box
	margin: 0
	position: relative
	font-size: 2rem
	height: 55vh
	overflow: hidden
	width: 98vw !important
	margin-top: 37px

	+respond(screen-md)
		height: 100%
		overflow: visible
		font-size: 0.92rem
		width: 100% !important

	.container
		+respond(screen-md)
			padding: 0

	aside
		position: absolute
		left: 0
		top: 0
		height: 100%
		overflow: hidden

		img
			max-width: 100%

	.jspContainer
		height: 55vh !important

	.jspVerticalBar
		left: 80vw!important
		background-color: transparent
		width: 8px

		@media screen and (max-width: 1765px)
			left: 90vw!important

		@media screen and (max-width: 1280px)
			left: 95vw!important

.jspTrack
	background-color: #d8d8d8

.jspDrag
	background-color: #7a006f

.jspArrow
	display: none

.person-box__item-info
	width: 95%

	+respond(screen-md)
		padding: 22px 26px
		width: 100%

.person-box__detail
	max-width: 50%
	padding: 0 0 0 62px
	margin-left: 50%

	+respond(screen-md)
		width: 100%
		padding: 0
		margin-left: 0

	h1
		font-size: 1.5em
		letter-spacing: 2px
		margin-bottom: .45em
		padding-top: 9px

		+respond(screen-md)
			line-height: 1.2em
			margin-bottom: .25em

	h2.title
		font-size: .9em
		margin-bottom: 1.4em
		text-transform: none

		+respond(screen-md)
			font-size: 1.3em
			margin-bottom: 1.9em

	h3
		font-size: .43em

	h5
		margin-bottom: .7em
		font-size: 0.5em

		+respond(screen-md)
			font-size: 1em
			margin-bottom: .5em

.person-box__desc
	font-size: 0.6em
	letter-spacing: 0.2px
	font-size: 0.55em
	height: 55%
	line-height: 1.6em

	+respond(screen-md)
		font-size: .9em

.person-box__item
	margin-bottom: 2em

	.person-box__item-pic
		transition: opacity 1.5s
		opacity: 0

		+respond(screen-md)
			opacity: 1

	&.active
		.person-box__item-pic
			opacity: 1
			transition: opacity 1.5s


.person-box__item-pic
	position: absolute
	left: 0
	height: 55vh
	overflow: hidden
	width: 50%

	+respond(screen-md)
		position: static
		width: 100%

	+respond(screen-sm)
		height: 40vh

	+respond(screen-xs)
		height: 30vh


/*=================== ./PERSON BOX =============================*/


/*=================== REVIEW BOX =============================*/
.review-box
	width: 50%
	margin: 50px auto 36px

	+respond(screen-md)
		width: 100%
		margin: 59px auto 36px

	.title
		margin-bottom: 37px

		+respond(screen-md)
			font-size: 19px
			line-height: 25px
			margin-bottom: 18px

	h3
		margin-bottom: 58px

		+respond(screen-md)
			font-size: 14px
			margin-bottom: 17px

	.icon.quote
		+respond(screen-md)
			width: 75px

.review-box__review
	font-family: bandera-i
	font-size: 18px
	line-height: 1.34
	letter-spacing: 1px
	text-align: center
	margin-bottom: 14px
	padding: 0 50px

	+respond(screen-md)
		padding: 0 35px
		font-size: 15px

.owl-theme .owl-controls .owl-buttons .owl-prev
	background-image: url(../img/ico/quotes-arrow-left.svg)
	background-repeat: no-repeat
	left: -50px

.owl-theme .owl-controls .owl-buttons .owl-next
	background-image: url(../img/ico/quotes-arrow-right.svg)
	background-repeat: no-repeat
	right: -50px

.owl-theme .owl-controls .owl-buttons div
	width: 27px
	height: 53px
	background-color: #fff
	position: absolute
	top: -18px

	+respond(screen-md)
		position: static
		margin: 10px 20px 0 20px
		background-size: cover
		width: 22px
		height: 42px

/*=================== ./REVIEW BOX =============================*/


/*=================== FEEDBACK FORM =============================*/

.feedaback-box
	background-color: $bright1
	padding: 70px 0
	color: #fff
	font-family: proxima

	+respond(screen-md)
		padding: 46px 0

	fieldset
		position: relative
		border: none
		padding: 0


.feedaback-form__title
	font-size: 32px
	font-family: proxima-bl
	letter-spacing: 2px
	margin-bottom: 19px
	line-height: 36px
	text-transform: uppercase

	+respond(screen-md)
		font-size: 24px
		line-height: 30px

.feedaback-form__desc
	font-size: 18px
	letter-spacing: 0.5px
	margin-bottom: 30px

.feedaback-form__quest
	display: block
	font-size: 18px
	letter-spacing: 0.5px
	margin-bottom: 22px

.feedaback-form__field-text
	display: block
	border: none
	background: rgba(246, 246, 246, 0.2)
	height: 50px
	width: 100%
	color: #fff
	padding: 0 20px

.feedaback-form__field-btn
	background-color: #f1f1f1
	border: none
	width: 123px
	height: 41px
	color: #4a4a4a
	font-size: 18px
	text-transform: uppercase
	position: absolute
	top: 4px
	right: 4px

	&:hover
		background-color: $white

.feedaback-form__page
	margin-top: 10px

	ul
		display: inline-block
		padding: 0
		margin-left: 10px

		li
			display: inline-block
			list-style: none
			margin: 0 10px

			span
				color: #f1f1f1
				opacity: 0.5

				&.active
					color: #fff
					opacity: 1

.error-mess
	color: #f1f1f1
	opacity: .5
	visibility: hidden
	display: block
	margin-top: 5px

	&.active
		visibility: visible

.form-steps__message
	padding-top: 30px

.form-steps
	position: relative
	min-height: 120px

.form-steps__step-item
	position: absolute
	width: 100%
	height: 100%
	left: 0
	right: 0
	visibility: hidden

	&.active
		visibility: visible


/*=================== ./FEEDBACK FORM =============================*/

/*=================== download PDF =============================*/
.download-bl
	line-height: 17px
	margin-bottom: 60px
	.title
		margin-bottom: 12px

.download-row
	margin-top: 69px
.download__link
	background: url(../img/ico/pdf.svg) no-repeat
	padding: 0 10px 0 50px
	min-height: 43px
	font-family: Verdana
	font-size: 12px
	line-height: 14px
	display: block
	color: #000
	margin-bottom: 30px

	&:hover
		text-decoration: underline

	b
		font-family: Verdana
		font-size: 10px
		line-height: 20px
/*=================== ./download PDF =============================*/

/*=================== SERVICE detail =============================*/
.practice-page
	padding-top: 37px
.service-about__detail
	padding-top: 16px
	padding-bottom: 50px
	font-size: 1.125rem
	h1.title
		margin-bottom: 90px
	h5.title
		margin-bottom: 28px
		text-transform: uppercase
	+respond(screen-md2)
		h1.title
			font-size: 36px
			line-height: 42px
			margin-bottom: 50px
	+respond(screen-md2)
		h1.title
			font-size: 32px
			line-height: 38px
.practice-list
	border-top: 1px solid $bright1
	padding: 50px 0 80px
.list_type1
	margin-top: 30px
	line-height: 24px
.list_type1__item
	margin-bottom: 20px
	position: relative
	&:after
		content: ''
		position: absolute
		width: 9px
		height: 9px
		-webkit-transform: rotate(-45deg)
		transform: rotate(-45deg)
		box-shadow: 1px 1px 0 0 $bright1
		top: 8px
		left: -25px
	&:before
		content: ''
		position: absolute
		width: 14px
		border-bottom: 1px solid $bright1
		top: 12px
		left: -28px


/*=================== ./SERVICE LIST =============================*/

.breadcrumb-box
	margin-bottom: 20px
	font-size: 0

.breadcrumb__item
	display: inline-block

.breadcrumb__item span
	display: inline-block
	margin: 0 6px
	font-size: 18px

.breadcrumb__item a
	font-family: bandera-b
	font-size: 14px
	font-weight: bold
	font-style: normal
	font-stretch: normal
	letter-spacing: 1px
	color: #000
	text-transform: uppercase

.breadcrumb__item a:hover
	text-decoration: underline

/*=================== PUBLICATION BOX =============================*/

.article-box
	position: relative
	padding-top: 37px
	font-size: 18px

	+respond(screen-md)
		font-size: 2rem

	h1
		margin-bottom: 1.5em

	p
		margin-bottom: 20px

.article-box__author
	position: fixed
	top: 43vh
	width: 13vw
	left: 50%
	margin-left: -27vw
	@extend %all-trans

	&.fixed
		position: absolute
		bottom: 36px
		left: 50%
		top: auto

	@media only screen and (max-width: 1600px)
		margin-left: -32vw

	@media only screen and (max-width: 1200px)
		margin-left: -36vw

	+respond(screen-md)
		position: static
		text-align: center
		margin: 0 auto
		width: 30vw

	+respond(screen-sm)
		width: 50vw

.article-box__preview
	font-weight: bold
	color: #414141
	font-family: proxima-b
	margin-bottom: 1.7em
	font-size: 16px
	letter-spacing: 2px
	line-height: 24px

	+respond(screen-md)
		font-size: .5em

.article-box__author__name
	font-size: 28px
	text-align: center
	color: $bright1
	letter-spacing: 1px
	line-height: 1.1em

	@media only screen and (max-width: 1280px)
		font-size: 20px

	@media only screen and (max-width: 968px)
		font-size: 16px

.article-box__author__post
	display: block
	font-size: 15px
	margin-top: 16px
	text-transform: uppercase

	@media only screen and (max-width: 968px)
		font-size: 12px

/*=================== ./PUBLICATION BOX =============================*/

/*=================== .category-services =============================*/
.category-services
	padding-bottom: 68px

	+respond(screen-md)
		.container
			padding: 0

.main-accordion-tabs
	clear: both
	padding: 0
	font-size: 0


	.tab-header-and-content
		list-style: none
		display: inline


		@media screen and (min-width: 768px)
			.accordion-tabs .tab-header-and-content
				display: inline

		+respond(screen-md)
			display: block

	.tab-link
		font-family: bandera
		font-size: 18px
		font-weight: bold
		font-style: normal
		font-stretch: normal
		letter-spacing: 1px
		color: #ccc
		border-bottom: 2px solid #ccc
		width: auto
		padding-bottom: 11px
		display: inline-block
		position: relative

		&:hover
			color: $bright1

		.icon-accordion-open
			position: absolute
			right: 20px
			top: 18px
			display: none

			+respond(screen-md)
				display: block

		&.is-active .icon-accordion-open
			transform: rotate(180deg)

		+respond(screen-md)
			margin: 0
			padding-bottom: 0

		+respond(screen-md2)
			font-size: 23px
			display: block
			width: 100%

		span
			position: relative
			top: 13px
			display: inline-block
			line-height: 54px
			vertical-align: bottom
			border-bottom: 2px solid #ccc

			+respond(screen-md)
				padding-left: 24px
				border-bottom: none
				top: auto

		&.is-active
			color: #7a006f

			span
				border-bottom: 2px solid #7a006f

				+respond(screen-md)
					border-bottom: none
					border-left: 4px solid #7a006f
					padding-left: 20px


	.tab-content
		display: none
		width: 100%
		font-size: 0
		padding-top: 60px

		+respond(screen-md)
			padding: 30px 15px 30px

		&.is-open
			display: block

		@media screen and (min-width: 768px)
			float: left

		.content-box
			font-size: 16px


.tab-content__col
	display: inline-block
	text-align: left
	width: 46%
	font-size: 18px
	vertical-align: top

	+respond(screen-md)
		width: 100%
		display: block
		margin-bottom: 60px

	.review-box__review-item
		h3
			margin-bottom: 38px
			font-size: 19px

		.icon.quote
			margin-bottom: 13px
			display: block
			margin: 0 0 20px 0
			text-align: left

		.icon.quote-mini
			height: 20px
			width: 14px
			margin: 0
			display: inline
			position: relative
			top: 3px

	.review-box__review
		text-align: left
		padding: 0
		line-height: 1.3
		display: inline
		font-size: 19px

.tab-content__col + .tab-content__col
	padding-left: 55px
	width: 54%

	+respond(screen-md)
		width: 100%
		padding-left: 0

.title-tab-services
	font-family: bandera-b
	margin-bottom: 116px
	padding: 0 0 14px 0
	line-height: 17px
	font-size: 14px
	text-transform: uppercase

	+respond(screen-sm)
		margin-bottom: 15px

.list-services
	display: inline-block
	width: 48%
	font-size: 0
	vertical-align: top
	margin-right: 1%

	+respond(screen-sm)
		width: 100%

.list-service__item
	border-top: solid 1px #9b9b9b
	padding: 10px 0
	line-height: 25px
	letter-spacing: 1px
	line-height: 24px
	font-size: 18px

	a
		color: #000

	&:hover
		opacity: .7

.list-services + .list-services
	padding-left: 13px

	+respond(screen-sm)
		padding-left: 0

/*=================== ./category-services =============================*/


/*=================== main-promo =============================*/

.main-promo
	background: url(../img/bg/firstslide.jpg) no-repeat 0 100% #000
	background-size: 100% auto
	margin-bottom: 39px
	width: 100%
	height: 100vh
	overflow: hidden
	position: relative
	transition: all 1s
	white-space: nowrap
	text-align: center
	transition: all 1s

	@media only screen and (max-height: 700px), (max-width: 1023px)
		background: url(../img/bg/wedomore.svg) 50% 50% no-repeat / 80% auto, url(../img/bg/firstslide.jpg) no-repeat 0 100% #000 / auto 50% !important
		background-size: 80% auto, 100% auto
		background-color: #000
		cursor: default !important

	video
		position: absolute
		top: 0
		left: 0%
		width: 99.9%
		z-index: 0
		opacity: 0
		transition: all 1s .8s

		&.video1
			transition: all 1s .8s

		&.shown
			opacity: 1

	> div > div:not(.promo-total)
		display: inline-block
		margin: 0 2%
		min-width: 0
		transition: all 1s
		position: relative
		box-shadow: 0 0 0 10px #000

	&.step1
		background: #000
		transition: background 1s

		.bl-we,
		.bl-do,
		.bl-more
			min-width: 100%
			margin-right: 100%
			transition: all 1s
		.bl-we .word-wrap
			transform: scale(3)
			transform-origin: 50% 50%
			transition: all 1s
		.bl-do .word-wrap
			transform: scale(3)
			transform-origin: 50% 50%
			transition: all 1s 1s
		.bl-more .word-wrap
			transform: scale(2)
			transform-origin: 50% 50%
			transition: all 1s 1s
		.bl-we .promo-text
			left: 50%
			transition: all 1s 1s

			@media only screen and (max-height: 850px)
				top: 70%
	&.step1.step2 .bl-we .promo-text,
	&.step1.step3 .bl-we .promo-text,
	&.step1.step4 .bl-we .promo-text,
	&.step1.step5 .bl-we .promo-text
		left: 500vw
		transition: all 0s

	&.step2
		.bl-we
			margin-left: -200%
			transition: all 1s
		.bl-do .promo-text
			left: 50%
			transition: all 1s 1s

	&.step3

		.bl-we
			margin-left: -400%
			transition: all 1s

		.bl-more .promo-text1
			left: 50%
			transition: all 1s 1s

	&.step4

		.bl-we
			margin-left: -400%
			transition: all 1s
		.bl-more .promo-text1
			left: -150%
			transition: all 1s

		.bl-more .promo-text2
			left: 50%
			transition: all 1s 1s
	&.step5
		.bl-we
			margin-left: -400%
			transition: all 1s

		.bl-more .promo-text2
			left: -150%
			transition: all 1s

		.bl-more .promo-text3
			left: 50%
			transition: all 1s 1s


	&.step6
		background: #000

		.promo-total
			opacity: 1
			transition-delay: 1s

			a
				display: block

.main-promo.step5.test .bl-more .promo-text3
	opacity: 0
	transition: opacity .5s

.promo-container
	position: absolute
	left: 50%
	margin-left: -500px
	height: 100vh
	display: flex
	align-items: center
	width: 1000px
	font-size: 0

	@media only screen and (max-width: 1023px)
		display: none
	@media only screen and (max-height: 700px)
		display: none

.word-wrap
	position: relative
	height: 110px
	display: inline-block
	overflow: hidden
	box-shadow: 0 0 0 10px #000
	transition: all 1s

	img
		height: 100%

	.bl-we &
		background: url(../img/promo/we-white.png) no-repeat
		background-size: auto 110px
		width: 232px

		&:after
			content: ''
			background: url(../img/promo/we-invert.png) no-repeat
			background-size: auto 110px
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			box-shadow: 0 0 0 25px #000

	.bl-do &
		background: url(../img/promo/do-white.png) no-repeat center center / cover
		width: 224px

		&:after
			content: ''
			background: url(../img/promo/do-invert.png) no-repeat center center / cover
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			box-shadow: 0 0 0 25px #000

	.bl-more &
		background: url(../img/promo/more-white.png) no-repeat center center / cover
		width: 422px

		&:after
			content: ''
			background: url(../img/promo/more-invert.png) no-repeat center center / cover
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			box-shadow: 0 0 0 25px #000

.promo-text
	color: #fff
	position: absolute
	top: 50%
	left: 400vw
	width: 600px
	white-space: normal
	text-align: left
	transition: all 0s 0s

	.bl-do &
		top: 0

		@media only screen and (max-height: 850px)
			top: 30%

		@media only screen and (max-height: 790px)
			top: 20%

	.bl-more &
		top: 80%

	@media only screen and (max-width: 1200px)
		width: 450px
.promo-total
	opacity: 0
	position: absolute
	top: 60%
	left: 0
	width: 100%
	text-align: center
	color: #fff
	font-size: 20px
	line-height: 28px
	letter-spacing: 3px
	white-space: normal
	transition: all 1s
	p
		opacity: .8
		width: 70%
		margin: 0 auto 30px

		&:last-child
			margin-top: 60px

	a
		color: #fff
		display: none

	@media only screen and (max-height: 850px)
		font-size: 16px

		p
			margin-bottom: 20px

			&:last-child
				margin-top: 20px

	@media only screen and (max-height: 790px)
		p
			margin-bottom: 15px
			line-height: 22px

.promo-title
	font-family: proxima-b
	font-size: 50px
	line-height: 60px
	letter-spacing: 2px
	margin-bottom: 10px

	.bl-do &
		font-size: 45px
		line-height: 55px

		@media only screen and (max-height: 900px)
			font-size: 38px
			line-height: 46px

		@media only screen and (max-height: 810px)
			font-size: 34px
			line-height: 45px

	@media only screen and (max-width: 1070px)
		font-size: 45px
		line-height: 48px

.promo-desc
	font-size: 22px
	line-height: 30px
	letter-spacing: 3px
	opacity: .8

	@media only screen and (max-height: 850px)
		font-size: 16px
		line-height: 22px

.progress-bar
	display: none !important
	position: absolute !important
	bottom: 10px
	left: 50%
	transform: translate(-50%)
	margin: 0 !important
	font-size: 0

	.in-progress &
		display: block !important

.progress-bar__item
	display: inline-block
	vertical-align: top
	position: relative
	cursor: pointer
	padding: 0 2px

	img
		display: block
		position: relative
		box-shadow: 0 0 0 2px #000

	.progress-line
		position: absolute
		left: 1px
		top: 0
		bottom: 0
		width: 0
		background-color: #fff

.promo-btn
	position: absolute !important
	margin: 0 !important
	bottom: 10px
	left: 50%
	transform: translate(-50%)
	color: #fff
	cursor: pointer

	&:hover
		span
			opacity: 1

	span
		opacity: .8

	&:before
		content: ''
		width: 50px
		height: 50px
		border: 2px solid #fff
		border-radius: 50%
		position: absolute
		bottom: calc(100% + 10px)
		left: 50%
		transform: translate(-50%)

	&:after
		content: ''
		border: 13px solid transparent
		border-left: 18px solid #fff
		position: absolute
		bottom: calc(100% + 23px)
		left: 50%
		transform: translate(-15%)

	.in-progress &
		display: none !important

/*=================== ./main-promo =============================*/


/*=================== expertise-box =============================*/
.expertise
	min-height: 463px

.expertise-box
	background: url(../img/bg/expertise-back.jpg) no-repeat
	background-size: cover
	padding: 101px 0
	text-align: center
	color: #fff
	margin-bottom: 57px

.expertise__title
	letter-spacing: 4px
	font-size: 42px
	margin-bottom: 77px
	text-transform: uppercase

.expertise__content
	width: 45vw
	margin: 0 auto
	color: #9b9b9b

	+respond(screen-lg)
		width: 80vw

	+respond(screen-md2)
		width: 80vw

	+respond(screen-md)
		width: 90vw

.expertise__desc
	letter-spacing: 2px
	font-weight: normal
	line-height: 24px
	margin-bottom: 27px

.expertise__category
	margin-bottom: 2px

	&:last-child
		margin-bottom: 60px

	li
		display: inline-block
		padding: 0 5px

		+respond(screen-md)
			border-left: none

	a
		color: #9b9b9b
		border-bottom: 1px dashed #9b9b9b
		display: inline
		line-height: 18px

		&:hover
			border-bottom: 1px dashed #fff
			color: #fff

	.active a
		border-bottom: 1px dashed #fff
		color: #fff

		+respond(screen-md)
			display: inline

.expertise-doc
	display: none

	&.active
		display: flex

		+respond(screen-md)
			width: 70vw
			margin: 69px auto

		+respond(screen-sm)
			width: 100vw
			margin: 69px auto

	.download__link
		color: #fff
		text-align: left
		font-size: 13px
		margin-bottom: 0
		display: flex
		align-items: center

	.download__box
		margin-bottom: 15px

/*=================== ./expertise-box =============================*/


/*=================== video-bl =============================*/
.video-main
	font-family: Verdana
	font-size: 12px
	line-height: 12px
	line-height: 1.33
	border-bottom: 1px solid #000
	padding: 10px 0
	margin-bottom: 50px

.video-main__title
	font-size: 24px
	margin-top: 20px

.video-main__sm-bl
	border-top: 1px solid #000
	margin-bottom: 3px

.video-main__preview
	padding: 10px 0 0

/*=================== ./video-bl =============================*/

/*=================== breadcrumbs =============================*/
.breadcrumbs
	margin-bottom: 50px

.breadcrumbs__item
	display: inline-block
	vertical-align: baseline
	font-family: bandera-b
	font-weight: bold
	font-size: 14px
	text-transform: uppercase
	list-style-position: 1px
	&:not(:last-child):after
		content: '/'
		margin: 0 2px 0 5px
/*=================== ./breadcrumbs =============================*/

/*=================== news =============================*/
.quote
	font-size: 24px
	line-height: 1.25
	color: $bright1
	font-family: bandera-i
	margin: 20px 0
	letter-spacing: 0.7px

	+respond(screen-md2)
		font-size: 20px

	+respond(screen-sm)
		font-size: 18px

.news-wrap
	padding-top: 80px

	+respond(screen-md)
		padding-top: 30px

.news-wrap__col
	margin-bottom: 50px

	+respond(screen-md)
		margin-bottom: 20px

.news
	font-size: 18px
	display: block
	color: #4a4a4a
	margin-bottom: 50px

	p
		margin-bottom: 20px

	+respond(screen-md)
		margin-bottom: 30px

	+respond(screen-sm)
		font-size: 16px

.news__title
	margin-bottom: 50px

.news__date,
.news__preview
	letter-spacing: 1px
	color: #000
	font-size: 18px

.back-arrow
	position: relative
	display: inline-block
	margin-bottom: 15px
	padding-left: 30px
	font-size: 14px
	text-transform: uppercase
	font-family: proxima-sb
	letter-spacing: .9px
	color: #9b9b9b

	&:hover
		color: $bright1

	&:after
		content: ''
		position: absolute
		width: 9px
		height: 9px
		-webkit-transform: rotate(-45deg)
		transform: rotate(-45deg)
		box-shadow: 1px 1px 0 0 #000
		top: 4px
		left: 3px

	&:before
		content: ''
		position: absolute
		width: 14px
		border-bottom: 1px solid #000
		top: 8px
		left: 0

/*=================== ./news =============================*/

/*=================== team =============================*/
.team
	margin: 80px 0 30px

.team__image
	background-color: #d9e0e6
	overflow: hidden
	position: relative
	height: 256px
	width: 100%
	margin-bottom: 15px
	display: flex
	justify-content: center

	img
		display: block
		position: absolute
		max-height: 90%
		bottom: 0
		transform: translateZ(0)

		&:last-child
			opacity: 0
			@extend %all-trans

			.team__item:hover &
				opacity: 1

.team__images-wrap
	position: absolute
	top: 0
	left: 50%
	width: 70%
	height: 100%
	margin-left: -35%

.team__info
	color: #000
	margin: 0 auto 50px
	width: 50%

.team__name
	font-size: 13px
	font-family: proxima-sb

.team__pos
	font-size: 11px

/*=================== ./team =============================*/

/*=================== press =============================*/

.publication-box
	padding: 36px 10px 0

.publication-box__title
	text-align: center
	margin-bottom: 40px

.publication-box__item
	margin-bottom: 33px
	padding: 0 15px 0 56px

.publication-box__link
	font-family: bandera-b
	font-size: 14px
	line-height: 18px
	font-weight: bold
	font-style: normal
	font-stretch: normal
	color: #000
	letter-spacing: 1px
	padding-left: 57px
	margin-bottom: 3px

.publication-box__desc
	padding-left: 57px
	font-size: 14px
	line-height: 17px
	color: $grey3

.arrow-more
	margin-bottom: 20px
	position: relative
	border-bottom: 1px solid $bright1
	padding: 2px 0 5px 23px

	&:after
		content: ''
		position: absolute
		width: 9px
		height: 9px
		-webkit-transform: rotate(-45deg)
		transform: rotate(-45deg)
		box-shadow: 1px 1px 0 0
		top: 7px
		left: 2px

	&:before
		content: ''
		position: absolute
		width: 14px
		border-bottom: 1px solid
		top: 11px
		left: 0

.material-box
	padding: 6px 10px 36px

.material-box__title
	text-align: center
	margin-bottom: 37px

.material-box__subtitle
	margin-bottom: 19px

.arrow-more
	margin: 30px 0 32px

.arrow-more__lnk
	font-family: proxima
	font-size: 14px
	font-weight: 600
	letter-spacing: 1.8px
	color: $grey2
	text-transform: uppercase

	&:hover
		color: $bright1

.doc-filter
	margin-bottom: 55px

.doc-filter__form-box
	border: none
	margin: 0

.doc-filter__input
	display: block
	width: 100%
	box-sizing: border-box
	border: 1px solid #000
	padding: 6px 6px 7px

.doc-filter__btn
	display: block
	width: 100%
	box-sizing: border-box
	border: 1px solid $bright1
	padding: 6px 6px 7px
	background-color: $bright1
	color: $white
	text-transform: uppercase

	&:hover
		opacity: .75

	&:active
		position: relative
		top: 1px

.jq-selectbox
	vertical-align: top
	display: block !important

	&:not(.disabled) .jq-selectbox__trigger-arrow:hover
		border-top-color: #000
		@extend %all-trans

.jq-selectbox__trigger
	border: none

.jq-selectbox .placeholder
	color: #000

.jq-selectbox__select
	background: #fff
	border: solid 1px #000
	font-family: Helvetica
	height: 37px
	max-width: 100%
	width: 100%
	box-shadow: none
	color: #000
	font-size: 14px
	z-index: 1
	padding-left: 12px
	cursor: pointer
	@extend %all-trans

	&:hover
		background: $white
		border: 1px solid #000
		@extend %all-trans

.jq-selectbox__trigger-arrow
	border-top: 8px solid #000
	border-right: 8px solid transparent
	border-left: 8px solid transparent
	top: 50%
	margin-top: -3px
	right: 15px
	transition: all .1s
	position: absolute

	&.opened
		border-top: none
		border-bottom: 8px solid #000
		transition: all .1s

.jq-selectbox__select-text
	width: 100% !important
	line-height: 36px

.jq-selectbox li
	padding: 8px 12px
	font-size: 14px
	color: #000
	font-family: proxima

	&:hover
		background-color: $grey
		color: #000

.jq-selectbox.focused .jq-selectbox__select
	border: 1px solid #000
	&:hover
		border: 1px solid #000

.jq-selectbox.disabled .jq-selectbox__select .jq-selectbox__select-text
	color: #000
	opacity: .3

.jq-selectbox.disabled .jq-selectbox__trigger-arrow
	border-top-color: #000
	opacity: .2

.jq-selectbox__dropdown
	margin: -4px 0 0
	padding: 3px 0 0
	display: block
	width: 100%
	border: 1px solid #000
	background-color: #fff
	font-family: Helvetica




/*=================== ./press =============================*/

.old-popop
	background-color: $bright1
	color: $white
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	width: 100%
	height: 100%
	line-height: 1.33
	text-align: center
	z-index: 10000
	display: none

	p
		font-size: 18px
		letter-spacing: 1px
		margin: 0 auto 30px
		max-width: 630px

	&.showed
		display: table

.old-popup__cell
	display: table-cell
	vertical-align: middle
	width: 100%
	height: 100%

.old-popup__title
	font-family: Proxima-bl
	font-size: 32px
	letter-spacing: 4px
	line-height: 1.5
	margin: 0 auto 30px
	max-width: 630px

.old-popup__btn
	max-width: 440px
	width: 100%
	height: 51px
	line-height: 51px
	background-color: #f1f1f1
	font-size: 18px
	letter-spacing: 1px
	color: #4a4a4a
	margin: 0 auto
	display: block

	&:hover
		background-color: #ddd

/*=================== pvo-page =============================*/
.pvo-wrap__col
	margin-bottom: 50px

.pvo-page
	h1
		margin-bottom: 54px

	h5
		font-size: 28px
		font-family: bandera-b
		margin-bottom: 30px

	.list_type1__item
		padding-left: 25px

	.list_type1__item:after
		left: 0
		box-shadow: 1px 1px 0 0 #000

	.list_type1__item:before
		left: -3px
		border-color: #000

	.news-preview__title
		line-height: 1.1

	.download__link-wrap
		margin-bottom: 30px

	.download__link
		text-align: left
		font-size: 13px
		margin-bottom: 0
		display: flex
		align-items: center

	.square-area
		height: auto

	.square-bl
		background-color: $bright1
		color: #fff

	.news-preview__title
		font-size: 24px
		max-height: 60%

	.list_type2
		margin-bottom: 35px

	.right-side h5
		font-size: 14px

.pvo__cell
	border-bottom: 1px solid $grey5
	margin-bottom: 26px

.pvo__cell-head
	border-bottom: 1px solid #000
	padding: 13px 0
	font-size: 18px
	font-family: bandera-sm
	height: 65px
	line-height: 20px
	display: flex
	vertical-align: middle
	align-items: center
	letter-spacing: 1px

.pvo__notes
	margin-bottom: 87px

.list_type2
	padding-left: 42px

.list_type2__item
	margin: 9px 0 25px

.function-pvo
	margin-bottom: 67px

	h5
		margin-bottom: 0

.pvo-benefits
	h5
		margin-bottom: 17px

	.pvo__cell-head
		margin-bottom: 18px

.list_type3__item:nth-child(-n+2)
	border-bottom: 1px solid $grey5

.list_type3__item
	display: flex
	height: 100%
	align-items: flex-start
	padding: 15px 0 15px
	margin-left: 10px
	min-height: 73px
	width: 100%

	@media screen and (max-width: 906px)
		min-height: 95px

	@media only screen and (max-width: 768px)
		min-height: inherit

/*=================== ./pvo-page =============================*/


/*=================== publication-page =============================*/
.publication-page
	// border-bottom: solid 0.5px #4a4a4a
	margin-bottom: 65px
	padding-bottom: 62px

	h6
		font-size: 15px
		font-family: bandera-b
		margin-bottom: 20px

	h5
		font-size: 28px
		font-family: bandera-b
		margin-bottom: 20px

	h1
		margin-bottom: 4px

.publication-page__email
	margin-bottom: 37px

.person-slider.owl-carousel
	height: 55vh
	overflow: hidden
	position: relative
	margin-bottom: 45px

	.owl-controls
		position: absolute
		bottom: 0
		width: 100%
		text-align: center

	.owl-controls .owl-page:hover span,
	.owl-controls .owl-page span
		background-color: $grey6 !important
		opacity: 1

	.owl-page.active:hover span,
	.owl-page.active span
		background: $bright1 !important

.person-slider__item
	position: relative
	padding-top: 65vh

	img
		position: absolute
		left: 0
		top: 0
		display: block
		height: 100%

.publication-page__content
	margin-bottom: 40px

	p
		font-size: 18px
		line-height: 24px
		margin-bottom: 20px

.publication-box

	@media screen and (max-width: 768px)
		margin-left: 0 !important


/*=================== ./publication-page =============================*/
