{% load static cms_tags sekizai_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'landing/img/favicon.ico' %}">
    <title>{{ request.current_page }}</title>
    <meta property="og:title" content="Nektorov, Saveliev &amp; Partners: Law Firm" />
    <meta property="og:url" content="http://www.nsplaw.com" />
    <meta property="og:image" content="http://www.nsplaw.com{% static 'landing/img/nsp-fb.png' %}" />
    <meta property="og:description" content="Юридическая фирма Nektorov, Saveliev & Partners (NSP) учреждена в 2006 году и специализируется на правовом сопровождении бизнеса по российскому и иностранному праву. Юристы фирмы являются выпускниками ведущих вузов России (МГУ, МГИМО, НИУ ВШЭ и МГЮА), имеют опыт работы в крупных российских и международных юридических фирмах, инвестиционных компаниях и производственных холдингах и владеют английским, китайским, итальянским и немецким языками." />
    <link href="{% static 'landing/css/common.min.css?v=0.0.5' %}" rel="stylesheet">
    <link href="{% static 'landing/css/added.css?v=0.0.1' %}" rel="stylesheet">
    {% block css %}{% endblock %}


    {#    TODO: move it to common.min.css - now doesn't work gulp file#}
    <style>
{#        body {#}
{#            hyphens: auto;#}
{#        }#}
        .owl-theme .owl-controls .owl-page.active span,
        .owl-theme .owl-controls.clickable .owl-page:hover span {
            background-color: #7a006f;
        }

        .owl-theme .owl-controls .owl-page span {
            width: 6px;
            height: 6px;
        }

        [type="checkbox"],
        [type="radio"] {
            -webkit-box-sizing: border-box;
            box-sizing: border-box; /* 1 */
            padding: 0; /* 2 */
        }

        input[type="checkbox"] {
            display: none;
        }

        input[type="checkbox"] + label {
            position: relative;
{#            display: block;#}
            padding-left: 40px;
        }

        input[type="checkbox"] + label::before {
            position: absolute;
            top: 50%;
            left: 0;
            width: 20px;
            height: 20px;
            border: 2px solid white;
            content: "";
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        input[type="checkbox"]:checked + label::after {
            position: absolute;
            top: 5px;
            left: 6px;
            width: 10px;
            height: 5px;
            border-bottom: 2px solid white;
            border-left: 2px solid white;
            content: "";
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        @media only screen and (max-width: 500px) {
            input[type="checkbox"] + label {
                padding-left: 0;
            }
            input[type="checkbox"] + label::before {
                left: -35px;
            }
            input[type="checkbox"]:checked + label::after {
                top: 15px;
                left: -29px;
            }
        }
    </style>

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '146571839262699');
    fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1"
    src="https://www.facebook.com/tr?id=146571839262699&ev=PageView
    &noscript=1"/>
    </noscript>
<!-- End Facebook Pixel Code -->

    {% render_block "css" %}

</head>


<body>

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="hide">
    <defs>
        <path d="M199.47 22.626V.092H.566v22.534H199.47z"/>
        <path d="M244.663 3481.699v37h-37"/>
        <mask x="0" y="0">
            <use xlink:href="#a"/>
        </mask>
        <path d="M1071.337 3481.699v37h-37"/>
        <mask x="0" y="0">
            <use xlink:href="#a"/>
        </mask>
    </defs>
    <symbol id="accordion-open" viewbox="0 0 17 17">
        <g>
            <path d="M8.5 16a7.5 7.5 0 1 0 0-15 7.5 7.5 0 0 0 0 15z" stroke="#E2E2E2"/>
            <path stroke="#979797" d="M8.439 11l2.927-3.415H5.512z"/>
        </g>
    </symbol>
    <symbol id="footer-career" viewbox="0 0 15 16">
        <path d="M7.5.85A7.469 7.469 0 0 0 0 8.35c0 4.083 3.333 7.5 7.5 7.5 4.083 0 7.5-3.333 7.5-7.5-.083-4.167-3.417-7.5-7.5-7.5zm4.083 6.75L10 9.1a.637.637 0 0 0-.167.417l.334 2.166c.083.417-.334.667-.667.5l-1.917-1c-.166-.083-.333-.083-.416 0l-1.917 1c-.25.167-.667-.083-.583-.5L5 9.517c0-.167 0-.334-.167-.417l-1.5-1.5c-.25-.25-.166-.75.25-.75l2.167-.333c.167 0 .25-.084.333-.25l1-1.917c.167-.333.667-.333.834 0l1 1.917c.083.166.166.25.333.25l2.167.333c.333 0 .416.5.166.75z"/>
    </symbol>
    <symbol id="footer-heart" viewbox="0 0 12 12">
        <path d="M6 11.715l-.84-.84C2.04 8.115 0 6.255 0 3.975c0-1.86 1.44-3.3 3.3-3.3 1.02 0 2.04.48 2.7 1.26.66-.78 1.68-1.26 2.7-1.26 1.86 0 3.3 1.44 3.3 3.3 0 2.28-2.04 4.14-5.16 6.9l-.84.84z"/>
    </symbol>
    <symbol id="header-career" viewbox="0 0 15 15">
        <path d="M7.5 0A7.469 7.469 0 0 0 0 7.5C0 11.583 3.333 15 7.5 15c4.083 0 7.5-3.333 7.5-7.5C14.917 3.333 11.583 0 7.5 0zm4.083 6.75L10 8.25a.637.637 0 0 0-.167.417l.334 2.166c.083.417-.334.667-.667.5l-1.917-1c-.166-.083-.333-.083-.416 0l-1.917 1c-.25.167-.667-.083-.583-.5L5 8.667c0-.167 0-.334-.167-.417l-1.5-1.5c-.25-.25-.166-.75.25-.75l2.167-.333c.167 0 .25-.084.333-.25l1-1.917c.167-.333.667-.333.834 0l1 1.917c.083.166.166.25.333.25L11.417 6c.333 0 .416.5.166.75z"/>
    </symbol>
    <symbol id="header-video" viewbox="0 0 15 15">
        <path d="M7.5 0A7.469 7.469 0 0 0 0 7.5C0 11.583 3.333 15 7.5 15c4.083 0 7.5-3.333 7.5-7.5C14.917 3.333 11.583 0 7.5 0zm4 7.667L5.833 11.5c-.083 0-.083.083-.166.083h-.084c-.083-.083-.166-.166-.166-.25v-7.75c0-.083.083-.166.166-.25 0 0 .167 0 .25.084L11.5 7.25c.083.083.083.167.083.25 0 .083-.083.083-.083.167z"/>
    </symbol>
    <symbol id="logo" viewbox="0 0 248 42">
        <g>
            <path d="M31.33 9.803c1.194-.322 2.258-.705 3.084-1.112.807-.39 1.314-.74 1.57-1.07.12-.15.12-.156.104-.375-.02-.266-.06-.348-.246-.503-.205-.17-.256-.193-.41-.17-.7.11-1.813.787-3.03 1.845-.504.43-1.602 1.527-1.513 1.503.034-.007.23-.066.44-.117M6.45 9.35C5.223 8.133 4.153 7.3 3.222 6.85c-.346-.168-.824-.308-.948-.278-.04.008-.158.098-.26.19-.205.19-.25.296-.25.582 0 .134.015.156.25.4.537.55 1.567 1.095 3.017 1.593.558.194 1.843.576 1.99.594.012 0-.246-.264-.573-.58m14.44 1.876c2.92-.107 5.432-.375 7.833-.83l.533-.103.303-.384c1.388-1.753 2.87-3.256 3.955-3.996l.255-.18-.267-.087a25.912 25.912 0 0 0-2.008-.493c-2.29-.463-4.728-.723-8.518-.92-1.082-.053-5.61-.076-6.974-.03-4.05.128-7.137.438-9.788.98-.57.117-1.496.35-1.9.48l-.226.07.234.16c1.112.776 2.467 2.14 3.906 3.933.21.26.384.47.39.47.006 0 .37.067.814.148 3.42.63 7.666.922 11.456.78m-1.728 16.237c2.084-4.816 5.816-11.326 9.003-15.716.168-.234.298-.434.293-.444a8.72 8.72 0 0 0-.653.057c-5.157.557-12.084.57-17.405.03a17.4 17.4 0 0 0-1-.085c-.005.01.164.257.38.553 2.182 3.02 4.653 7.078 6.708 11.012.762 1.45 1.973 3.98 2.344 4.89.044.107.085.19.095.19.014 0 .113-.217.235-.488m2.584 7.206c1.593-1.625 3.142-3.63 5.065-6.552 4.048-6.134 7.654-13.323 8.843-17.62.144-.517.258-.997.236-1.014-.008-.01-.103.03-.215.09-1.06.538-3.034 1.078-5.18 1.424-.362.06-.695.114-.73.133-.087.034-.662.704-1.364 1.588-3.104 3.914-5.957 8.773-7.886 13.445-.46 1.122-1.088 2.83-1.088 2.965 0 .034.1.313.216.623.485 1.275.937 2.732 1.148 3.727.13.61.243 1.356.243 1.612 0 .156.02.215.07.215.006 0 .3-.288.643-.637m-4.91.273c.08-1.165.622-3.188 1.384-5.19.122-.31.217-.588.217-.616 0-.068-.252-.804-.53-1.542-1.72-4.587-4.498-9.633-7.562-13.732-.757-1.013-2.117-2.674-2.234-2.735a7.858 7.858 0 0 0-.625-.113c-2.076-.315-4.245-.91-5.307-1.45-.104-.05-.2-.09-.208-.076-.01.005.024.172.07.363.573 2.406 2.09 6.07 4.098 9.902 2.944 5.622 6.437 10.992 9.12 14.013.518.577 1.516 1.575 1.537 1.53.01-.023.03-.182.042-.354m2.374 1.676c.168-.06.205-.09.265-.206.37-.77.245-2.654-.333-4.93-.085-.33-.16-.63-.165-.674-.012-.04-.03-.073-.044-.073-.048 0-.383 1.394-.537 2.253-.16.86-.2 1.27-.2 2.02-.006.766.04 1.074.183 1.39.065.134.095.157.272.22.108.04.233.073.278.073.047 0 .17-.034.28-.074m-.725 1.697C15.969 37.843 11.821 33.807 8 28.114 3.838 21.912.698 14.6.062 9.62c-.083-.668-.083-1.99 0-2.45.114-.614.32-1.11.6-1.438.393-.46 1.19-1.024 2.003-1.427 4.126-2.03 12.194-3.127 19.687-2.68 5.308.318 9.96 1.276 12.755 2.634 1.44.695 2.246 1.42 2.54 2.285.166.48.213.874.213 1.75 0 .477-.017.977-.045 1.175-.575 4.728-3.365 11.492-7.244 17.557-3.332 5.225-7.282 9.513-9.943 10.826-.88.433-1.527.57-2.142.46"/>
            <g transform="translate(48.07 .008)">
                <mask>
                    <use xlink:href="#a"/>
                </mask>
                <path d="M3.038 18.34h2.47V7.78a5.777 5.777 0 0 1 1.224-1.024 2.798 2.798 0 0 1 1.524-.443c.384 0 .754.065 1.112.194.357.13.677.34.96.636.284.295.514.682.687 1.16.174.48.26 1.06.26 1.743v8.295h2.473v-8.294c0-.996-.134-1.815-.398-2.46-.266-.646-.618-1.158-1.058-1.536a3.586 3.586 0 0 0-1.496-.774A7.153 7.153 0 0 0 9.08 5.07c-.824 0-1.54.14-2.143.427-.604.286-1.08.604-1.428.954H5.37a1.626 1.626 0 0 0-.756-.814c-.356-.194-.882-.29-1.578-.29H.566v.552h.55c.824 0 1.35.254 1.58.76.227.508.342 1.176.342 2.005v9.678zm24.22-7.19c0-1.952-.448-3.454-1.345-4.506-.897-1.05-2.28-1.575-4.146-1.575-.86 0-1.63.18-2.308.538a5.35 5.35 0 0 0-1.73 1.45 6.46 6.46 0 0 0-1.085 2.144 9.11 9.11 0 0 0-.37 2.64c0 .942.118 1.822.356 2.642.24.82.6 1.535 1.086 2.142a5.316 5.316 0 0 0 1.8 1.452c.712.36 1.555.54 2.525.54 1.044 0 1.974-.222 2.788-.664.815-.443 1.534-1.19 2.156-2.24l-.55-.415c-.475.7-1.01 1.243-1.606 1.63-.594.388-1.34.58-2.238.58-.586 0-1.107-.127-1.565-.386a3.453 3.453 0 0 1-1.167-1.092c-.32-.47-.563-1.028-.728-1.673a8.46 8.46 0 0 1-.248-2.102h8.322l.055-1.107zm-8.376 0c0-.717.074-1.38.22-1.99a5.825 5.825 0 0 1 .605-1.575c.256-.442.56-.79.906-1.037.347-.25.732-.373 1.154-.373.97 0 1.693.43 2.17 1.286.475.858.713 2.088.713 3.69h-5.768zM32.34 3.41c0-.682-.038-1.24-.11-1.673-.075-.433-.207-.774-.4-1.023a1.385 1.385 0 0 0-.768-.498 4.906 4.906 0 0 0-1.194-.124h-2.472v.553h.55c.823 0 1.35.253 1.58.76.227.507.342 1.175.342 2.004v14.93h2.47v-6.358l3.296 4.424c.623.83 1.268 1.406 1.937 1.728a4.67 4.67 0 0 0 2.046.483 3.6 3.6 0 0 0 .783-.083 2.65 2.65 0 0 0 .59-.193v-.553a3.455 3.455 0 0 1-1.525-.66c-.466-.348-.965-.872-1.496-1.57l-3.434-4.406 3.02-3.87c.348-.423.75-.737 1.21-.94a3.432 3.432 0 0 1 1.4-.304v-.69h-.824c-.897 0-1.612.165-2.143.497a5.59 5.59 0 0 0-1.428 1.3l-3.433 4.424V3.41zm10.818 11.613c0 1.254.307 2.166.92 2.737.614.572 1.405.857 2.376.857.475 0 .897-.036 1.263-.11.366-.075.687-.166.96-.277.276-.11.51-.23.702-.36.19-.128.36-.248.507-.36l-.274-.552a6.32 6.32 0 0 1-.88.387c-.31.11-.705.166-1.18.166-1.282 0-1.923-.828-1.923-2.487V6.45h3.295V5.346H45.63V1.198h-1.1l-1.372 1.66v2.487h-1.922V6.45h1.922v8.573zm16.697-.955c-.165.692-.398 1.292-.7 1.798a3.836 3.836 0 0 1-1.085 1.203c-.42.294-.89.44-1.4.44-.513 0-.98-.146-1.4-.44a3.827 3.827 0 0 1-1.085-1.204c-.303-.506-.537-1.106-.7-1.798a9.566 9.566 0 0 1-.25-2.225c0-.792.084-1.534.25-2.226.163-.69.397-1.29.7-1.797a3.8 3.8 0 0 1 1.085-1.203 2.38 2.38 0 0 1 1.4-.442c.51 0 .98.147 1.4.442.42.295.783.696 1.085 1.203.302.506.535 1.106.7 1.797.165.692.248 1.434.248 2.226s-.083 1.535-.248 2.225zm-8.83.416a6.15 6.15 0 0 0 1.182 2.142 5.77 5.77 0 0 0 1.895 1.452c.742.36 1.597.54 2.567.54.952 0 1.803-.18 2.553-.54a5.726 5.726 0 0 0 1.91-1.452 6.15 6.15 0 0 0 1.18-2.142c.265-.82.398-1.7.398-2.64 0-.94-.132-1.82-.397-2.642a6.165 6.165 0 0 0-1.18-2.143 5.738 5.738 0 0 0-1.91-1.452c-.75-.36-1.6-.54-2.554-.54-.97 0-1.826.18-2.568.54-.74.36-1.374.843-1.895 1.45a6.165 6.165 0 0 0-1.18 2.144c-.266.82-.4 1.7-.4 2.64 0 .942.134 1.822.4 2.642zm14.57 3.857h2.47V8.11c.275-.424.64-.76 1.1-1.01.457-.248.96-.372 1.51-.372.476 0 .91.068 1.305.207.393.138.69.345.892.622l1.098-.83a6.154 6.154 0 0 0-.44-.718 2.366 2.366 0 0 0-.52-.526 1.99 1.99 0 0 0-.77-.32 4.388 4.388 0 0 0-.88-.095c-.823 0-1.51.164-2.058.496-.55.332-.962.674-1.236 1.023h-.137c-.148-.424-.4-.738-.756-.94-.358-.203-.884-.305-1.58-.305H63.4v.553h.274c.824 0 1.35.254 1.58.76.228.508.343 1.176.343 2.005v9.678zm18.372-4.272c-.165.692-.398 1.292-.7 1.798a3.839 3.839 0 0 1-1.086 1.203 2.39 2.39 0 0 1-1.4.44 2.39 2.39 0 0 1-1.4-.44 3.875 3.875 0 0 1-1.085-1.204c-.3-.506-.535-1.106-.7-1.798a9.627 9.627 0 0 1-.247-2.225c0-.792.083-1.534.247-2.226.165-.69.4-1.29.7-1.797a3.86 3.86 0 0 1 1.085-1.203 2.39 2.39 0 0 1 1.4-.442c.513 0 .98.147 1.4.442.422.295.785.696 1.086 1.203.303.506.536 1.106.7 1.797.166.692.247 1.434.247 2.226s-.08 1.535-.246 2.225zm-8.83.416c.265.82.66 1.535 1.182 2.142a5.76 5.76 0 0 0 1.893 1.452c.742.36 1.598.54 2.568.54.952 0 1.805-.18 2.555-.54a5.737 5.737 0 0 0 1.91-1.452 6.168 6.168 0 0 0 1.18-2.142c.264-.82.397-1.7.397-2.64 0-.94-.133-1.82-.397-2.642a6.183 6.183 0 0 0-1.18-2.143 5.75 5.75 0 0 0-1.91-1.452c-.75-.36-1.603-.54-2.554-.54-.97 0-1.825.18-2.567.54a5.77 5.77 0 0 0-1.894 1.45 6.148 6.148 0 0 0-1.182 2.144c-.265.82-.4 1.7-.4 2.64 0 .942.135 1.822.4 2.642zm17.48-5.96c-.31-.718-.65-1.303-1.016-1.755-.365-.452-.75-.803-1.152-1.052a3.988 3.988 0 0 0-1.25-.51 6.018 6.018 0 0 0-1.25-.14c-.127 0-.296.01-.507.028-.21.02-.35.028-.424.028v.554c.33.017.62.082.878.193.256.11.494.277.714.498.22.22.43.507.632.857.2.35.412.783.632 1.3l4.256 10.092h.55l5.63-13.272h-1.374L95.09 14.47l-2.473-5.945zm8.54 14.102c.97-.552 1.718-1.248 2.24-2.086.52-.84.782-1.85.782-3.03 0-.626-.16-1.104-.482-1.436-.32-.333-.755-.5-1.304-.5-.476 0-.87.16-1.18.472-.312.314-.468.71-.468 1.19 0 .423.147.782.44 1.077.292.295.65.442 1.07.442l.824-.277c0 .83-.192 1.54-.577 2.13-.383.59-.924 1.124-1.62 1.604l.275.414zm20.515-9.9c-.604-.57-1.492-1.095-2.664-1.575l-1.648-.69c-.696-.294-1.235-.64-1.62-1.036-.384-.397-.577-.834-.577-1.313 0-.553.234-1.013.7-1.382.468-.368 1.15-.553 2.047-.553 1.098 0 1.954.258 2.567.774.613.515.993 1.225 1.14 2.128h.55c0-.7-.028-1.272-.083-1.714-.055-.442-.256-.84-.604-1.19s-.86-.62-1.538-.814c-.677-.195-1.538-.29-2.582-.29-.66 0-1.263.077-1.812.234a4.304 4.304 0 0 0-1.428.69c-.403.305-.72.68-.947 1.12-.23.443-.343.96-.343 1.55 0 .902.288 1.645.865 2.225.576.58 1.386 1.082 2.43 1.506l1.647.69c.824.35 1.442.716 1.854 1.093.412.378.618.843.618 1.395 0 .554-.243 1.015-.728 1.383-.485.37-1.25.553-2.292.553-1.173 0-2.07-.257-2.692-.773-.623-.516-1.008-1.225-1.154-2.13h-.548c0 .702.027 1.273.082 1.715.054.442.256.84.604 1.19.347.35.87.622 1.565.814.697.195 1.594.29 2.692.29.677 0 1.313-.077 1.91-.233.594-.157 1.102-.388 1.523-.692a3.424 3.424 0 0 0 1.003-1.12c.247-.44.37-.957.37-1.547 0-.96-.3-1.724-.906-2.296zm10.408 2.988a5.42 5.42 0 0 1-1.002 1.147c-.395.342-.93.513-1.607.513a3.18 3.18 0 0 1-.988-.152c-.31-.1-.586-.262-.824-.483a2.476 2.476 0 0 1-.577-.83 2.882 2.882 0 0 1-.218-1.16c0-.83.39-1.498 1.168-2.005.778-.507 1.853-.76 3.226-.76h.824v3.732zm2.472 2.627v-7.465c0-1.234-.133-2.234-.4-3-.264-.764-.62-1.355-1.07-1.77a3.41 3.41 0 0 0-1.538-.83 7.732 7.732 0 0 0-1.798-.206c-.422 0-.838.018-1.25.054a11.3 11.3 0 0 0-1.167.166 5.14 5.14 0 0 0-1.003.304c-.302.13-.536.277-.7.442-.348.35-.55.733-.605 1.147-.055.415-.082.863-.082 1.342h1.236c.2-.903.562-1.52 1.085-1.852.522-.332 1.167-.498 1.937-.498.402 0 .782.065 1.14.193.356.13.662.364.92.705.256.34.457.82.603 1.438.146.618.22 1.407.22 2.365h-.824c-.933 0-1.82.06-2.664.18-.842.12-1.584.327-2.224.622-.64.295-1.154.692-1.538 1.19-.385.497-.577 1.123-.577 1.88 0 .755.138 1.382.412 1.88.275.497.614.893 1.017 1.188.402.296.832.503 1.29.623.458.12.88.18 1.263.18 1.043 0 1.877-.166 2.5-.498.62-.333 1.07-.672 1.345-1.023h.137l.962 1.244h1.372zm6.48-9.815c-.312-.72-.65-1.304-1.015-1.756-.367-.452-.752-.803-1.154-1.052a3.978 3.978 0 0 0-1.25-.51 6.018 6.018 0 0 0-1.25-.14c-.127 0-.297.01-.508.028-.21.02-.35.028-.425.028v.554c.33.017.622.082.88.193.256.11.494.277.713.498.22.22.43.507.632.857.2.35.412.783.63 1.3l4.258 10.092h.55l5.63-13.272h-1.374l-3.846 9.125-2.47-5.945zm19.635 2.626c0-1.952-.45-3.454-1.346-4.506-.896-1.05-2.278-1.575-4.145-1.575-.86 0-1.63.18-2.307.538a5.35 5.35 0 0 0-1.73 1.45 6.46 6.46 0 0 0-1.084 2.144 9.11 9.11 0 0 0-.37 2.64c0 .942.117 1.822.355 2.642.238.82.6 1.535 1.084 2.142a5.316 5.316 0 0 0 1.8 1.452c.713.36 1.555.54 2.526.54 1.043 0 1.973-.222 2.787-.664.815-.443 1.533-1.19 2.156-2.24l-.55-.415c-.476.7-1.01 1.243-1.606 1.63-.595.388-1.34.58-2.238.58-.588 0-1.11-.127-1.566-.386a3.453 3.453 0 0 1-1.167-1.092c-.32-.47-.563-1.028-.728-1.673a8.46 8.46 0 0 1-.25-2.102h8.323l.054-1.107zm-8.376 0c0-.717.074-1.38.222-1.99a5.825 5.825 0 0 1 .604-1.575c.256-.442.558-.79.906-1.037.347-.25.732-.373 1.153-.373.97 0 1.694.43 2.17 1.286.475.858.713 2.088.713 3.69h-5.767zm13.568-7.74c0-.682-.037-1.24-.11-1.673-.074-.433-.206-.774-.398-1.023a1.385 1.385 0 0 0-.77-.498c-.32-.082-.718-.124-1.194-.124h-2.472v.553h.55c.824 0 1.35.253 1.58.76.227.507.342 1.175.342 2.004v14.93h2.472V3.41zm6.398 5.253c0-.68-.037-1.24-.11-1.672-.074-.432-.206-.773-.398-1.023a1.383 1.383 0 0 0-.77-.497c-.32-.083-.718-.125-1.194-.125h-2.47v.553h.548c.823 0 1.35.254 1.58.76.228.508.342 1.176.342 2.005v9.678h2.472V8.664zm-.618-7.465c-.302-.35-.664-.525-1.084-.525-.385 0-.692.11-.92.332-.23.22-.345.524-.345.912 0 .48.15.894.453 1.244.303.352.663.527 1.085.527.384 0 .69-.112.92-.333.228-.22.343-.525.343-.913 0-.477-.15-.892-.452-1.242zm14.183 9.953c0-1.952-.448-3.454-1.345-4.506-.897-1.05-2.28-1.575-4.146-1.575-.862 0-1.63.18-2.308.538a5.35 5.35 0 0 0-1.73 1.45 6.46 6.46 0 0 0-1.084 2.144 9.11 9.11 0 0 0-.37 2.64c0 .942.117 1.822.355 2.642.24.82.6 1.535 1.085 2.142a5.316 5.316 0 0 0 1.8 1.452c.713.36 1.555.54 2.526.54 1.043 0 1.973-.222 2.788-.664.814-.443 1.532-1.19 2.155-2.24l-.55-.415c-.476.7-1.01 1.243-1.605 1.63-.596.388-1.342.58-2.24.58-.586 0-1.107-.127-1.564-.386a3.453 3.453 0 0 1-1.167-1.092c-.32-.47-.562-1.028-.727-1.673a8.46 8.46 0 0 1-.247-2.102h8.32l.055-1.107zm-8.374 0c0-.717.072-1.38.22-1.99a5.86 5.86 0 0 1 .604-1.575c.256-.442.558-.79.906-1.037.347-.25.732-.373 1.153-.373.97 0 1.693.43 2.17 1.286.474.858.712 2.088.712 3.69h-5.766zm14.335-2.625c-.31-.72-.65-1.304-1.015-1.756-.367-.452-.752-.803-1.154-1.052a3.978 3.978 0 0 0-1.25-.51 6.016 6.016 0 0 0-1.247-.14c-.13 0-.3.01-.508.028-.21.02-.353.028-.426.028v.554c.33.017.62.082.877.193.257.11.495.277.715.498.22.22.43.507.63.857.202.35.413.783.632 1.3l4.257 10.092h.55l5.63-13.272h-1.373l-3.845 9.125-2.47-5.945z"
                      mask="url(#b)"/>
            </g>
            <path d="M50.613 36.466c.174.394.44.737.8 1.03.357.292.8.522 1.326.693.524.168 1.145.253 1.86.253.81 0 1.532-.122 2.167-.367a6.914 6.914 0 0 0 1.68-.917l.81.876h2.227l-1.803-1.978a10 10 0 0 0 .79-.978c.23-.327.42-.618.568-.877.175-.3.324-.584.446-.856l-.405-.305c-.15.258-.31.53-.487.815a17.29 17.29 0 0 1-.577.815c-.223.3-.475.605-.76.917l-4.068-4.485a21.2 21.2 0 0 0 1.123-.835c.358-.286.673-.588.943-.908.27-.32.485-.67.648-1.05.162-.38.243-.808.243-1.284 0-.815-.29-1.494-.87-2.037-.58-.543-1.404-.814-2.47-.814-1.12 0-2.008.285-2.662.854-.653.572-.98 1.347-.98 2.325 0 .585.104 1.124.313 1.62.21.496.448.92.718 1.274.31.42.662.8 1.054 1.14-.365.272-.722.54-1.072.806-.352.265-.663.55-.932.856a4.13 4.13 0 0 0-.648.98 2.69 2.69 0 0 0-.243 1.15c0 .46.087.89.263 1.284zm1.66-1.488c0-.612.148-1.145.445-1.6a6.02 6.02 0 0 1 1.134-1.273l4.17 4.585a5.298 5.298 0 0 1-1.357.754c-.5.19-1.06.286-1.68.286-1.808 0-2.713-.917-2.713-2.752zm.962-8.785c.1-.312.236-.568.404-.764.168-.198.353-.338.556-.42a1.64 1.64 0 0 1 .607-.122c.175 0 .358.04.547.123.19.082.365.215.526.398a2.1 2.1 0 0 1 .395.723c.102.3.153.668.153 1.103 0 .68-.183 1.267-.547 1.763-.365.496-.803.96-1.316 1.396a2.507 2.507 0 0 1-.293-.296 5.496 5.496 0 0 1-.972-1.6 3.03 3.03 0 0 1-.21-1.14c0-.463.05-.85.15-1.163zm16.57 4.096c.093-.15.208-.3.343-.448.135-.15.287-.282.455-.398.17-.115.36-.207.577-.275.216-.07.466-.104.75-.104.404 0 .75.11 1.042.327.29.218.533.514.73.887.194.374.336.815.424 1.325.088.51.132 1.056.132 1.64 0 .585-.048 1.132-.142 1.64-.095.51-.243.953-.446 1.326-.202.375-.462.67-.78.887-.316.218-.705.327-1.163.327-.31 0-.63-.065-.962-.194-.33-.128-.65-.268-.96-.417v-6.524zM67.98 41.907h1.822v-4.28c.31.15.668.29 1.072.418.406.128.892.193 1.458.193.662 0 1.232-.133 1.71-.4.48-.263.878-.62 1.195-1.068.317-.45.553-.975.708-1.58a7.817 7.817 0 0 0 .233-1.947 7.81 7.81 0 0 0-.232-1.946 5.002 5.002 0 0 0-.688-1.58 3.484 3.484 0 0 0-1.134-1.07c-.453-.266-.982-.4-1.59-.4-.755 0-1.35.124-1.78.37-.432.243-.75.495-.952.753h-.1a1.23 1.23 0 0 0-.558-.694c-.263-.15-.65-.224-1.164-.224h-1.82v.407h.404c.608 0 .996.187 1.165.56.167.375.252.867.252 1.478V41.91zM83.266 36.1a3.968 3.968 0 0 1-.74.846c-.29.25-.684.376-1.183.376-.257 0-.5-.038-.73-.112a1.625 1.625 0 0 1-.606-.357 1.818 1.818 0 0 1-.425-.61 2.1 2.1 0 0 1-.162-.857c0-.612.286-1.105.86-1.48.573-.37 1.366-.56 2.38-.56l.606.002V36.1zm1.822 1.936v-5.504c0-.91-.1-1.647-.294-2.212-.196-.563-.46-.998-.79-1.304a2.503 2.503 0 0 0-1.133-.612 5.71 5.71 0 0 0-1.325-.153c-.31 0-.617.015-.92.042a7.7 7.7 0 0 0-.86.123c-.27.054-.518.13-.74.223a1.635 1.635 0 0 0-.516.327c-.258.26-.407.54-.447.846-.04.307-.06.636-.06.99h.91c.15-.666.415-1.12.8-1.366.384-.245.86-.368 1.428-.368.297 0 .577.05.84.143.264.095.49.268.68.52.187.25.336.605.444 1.06.108.454.162 1.035.162 1.742h-.607c-.69 0-1.345.044-1.965.132a5.95 5.95 0 0 0-1.64.46 2.95 2.95 0 0 0-1.133.876c-.284.366-.426.828-.426 1.386 0 .556.102 1.018.304 1.386.203.366.452.66.75.877.296.215.613.368.95.457.338.088.65.132.932.132.77 0 1.383-.123 1.842-.368.458-.244.79-.495.992-.754h.1l.71.918h1.012zm2.57 0h1.823v-7.542c.203-.312.473-.56.81-.744.338-.183.71-.276 1.114-.276.35 0 .672.05.96.153.292.103.51.256.66.46l.81-.613a4.457 4.457 0 0 0-.325-.53 1.718 1.718 0 0 0-.386-.386 1.44 1.44 0 0 0-.567-.235 3.213 3.213 0 0 0-.648-.072c-.607 0-1.114.124-1.518.37-.405.243-.71.495-.91.753h-.103a1.232 1.232 0 0 0-.557-.694c-.263-.15-.652-.224-1.165-.224h-1.62v.407h.204c.607 0 .995.187 1.164.56.168.375.252.867.252 1.478v7.136zm7.855-2.447c0 .923.226 1.596.678 2.018.453.42 1.037.63 1.752.63.35 0 .66-.026.93-.08a4.11 4.11 0 0 0 .71-.204 2.89 2.89 0 0 0 .516-.265c.142-.096.266-.184.375-.266l-.203-.408c-.202.11-.418.205-.647.286-.23.08-.52.122-.87.122-.946 0-1.418-.61-1.418-1.835v-6.32h2.43v-.814h-2.43v-3.058h-.81l-1.012 1.223v1.836h-1.417v.815h1.417v6.32zm6.357 2.446h1.82V30.25c.258-.286.558-.538.902-.755a2.06 2.06 0 0 1 1.124-.326c.284 0 .557.047.82.142.263.095.5.252.708.468a2.4 2.4 0 0 1 .507.856c.13.354.193.782.193 1.285v6.116h1.82V31.92c0-.733-.096-1.338-.29-1.813-.197-.476-.457-.854-.78-1.132a2.65 2.65 0 0 0-1.105-.57 5.277 5.277 0 0 0-1.265-.154c-.607 0-1.133.107-1.58.318-.444.21-.795.445-1.052.703h-.1a1.206 1.206 0 0 0-.557-.6c-.263-.143-.65-.214-1.163-.214h-1.822v.407h.405c.607 0 .995.187 1.163.56.17.375.254.867.254 1.478v7.136zm17.855-5.3c0-1.44-.33-2.548-.992-3.323-.66-.775-1.68-1.162-3.057-1.162-.635 0-1.202.134-1.7.4-.5.265-.925.62-1.276 1.07-.35.447-.617.974-.8 1.58a6.704 6.704 0 0 0-.273 1.945c0 .693.087 1.342.263 1.947a4.5 4.5 0 0 0 .8 1.58c.357.45.8.805 1.326 1.07s1.146.397 1.862.397c.77 0 1.454-.164 2.055-.49.6-.326 1.13-.876 1.59-1.65l-.406-.306c-.35.516-.746.916-1.184 1.202-.44.285-.99.428-1.65.428a2.29 2.29 0 0 1-1.153-.286 2.558 2.558 0 0 1-.86-.805 3.863 3.863 0 0 1-.538-1.233 6.25 6.25 0 0 1-.182-1.55h6.134l.04-.814zm-6.175 0c0-.53.055-1.02.163-1.467.107-.45.255-.837.444-1.163a2.38 2.38 0 0 1 .67-.765 1.43 1.43 0 0 1 .85-.276c.715 0 1.247.317 1.598.95.35.63.527 1.537.527 2.72h-4.252zm8.26 5.3h1.822v-7.542a2.2 2.2 0 0 1 .81-.744 2.294 2.294 0 0 1 1.112-.276c.35 0 .672.05.963.153.29.103.51.256.658.46l.81-.613a4.457 4.457 0 0 0-.325-.53 1.718 1.718 0 0 0-.385-.386 1.442 1.442 0 0 0-.566-.235 3.23 3.23 0 0 0-.65-.072c-.606 0-1.113.124-1.517.37-.406.243-.71.495-.91.753h-.103a1.228 1.228 0 0 0-.556-.694c-.263-.15-.65-.224-1.165-.224h-1.62v.407h.202c.608 0 .996.187 1.165.56.168.375.252.867.252 1.478v7.136zm13.522-4.14c-.445-.42-1.1-.807-1.963-1.16l-1.216-.51c-.513-.217-.91-.47-1.194-.764-.284-.29-.426-.615-.426-.968 0-.408.173-.747.517-1.02.345-.27.848-.408 1.51-.408.81 0 1.44.192 1.892.57.452.382.732.905.84 1.57h.405c0-.515-.02-.936-.06-1.263a1.485 1.485 0 0 0-.447-.877c-.256-.257-.634-.458-1.133-.6-.5-.143-1.134-.215-1.903-.215-.486 0-.932.06-1.336.175a3.167 3.167 0 0 0-1.053.51 2.4 2.4 0 0 0-.698.825c-.17.326-.254.707-.254 1.14 0 .668.213 1.214.638 1.642.426.428 1.024.8 1.793 1.11l1.215.51c.607.26 1.063.528 1.367.806.302.278.454.62.454 1.03 0 .406-.18.746-.537 1.018-.357.273-.92.408-1.69.408-.864 0-1.525-.19-1.984-.57-.46-.38-.743-.904-.85-1.57h-.407c0 .517.02.937.062 1.263.04.327.19.62.445.877.256.258.64.46 1.154.6.512.144 1.174.215 1.984.215.5 0 .968-.06 1.407-.174a3.36 3.36 0 0 0 1.123-.51c.31-.223.557-.5.74-.825.18-.326.272-.705.272-1.14 0-.707-.222-1.27-.668-1.693z"/>
        </g>
    </symbol>
    <symbol id="mail" viewbox="0 0 15 12">
        <path d="M13.22 0H1.78C.8 0 0 .767 0 1.71v7.973c0 .943.799 1.71 1.78 1.71h11.44c.981 0 1.78-.767 1.78-1.71V1.71C15 .767 14.201 0 13.22 0zm0 9.883H1.78c-.144 0-.27-.093-.27-.2V2.764l5.173 4.368a.59.59 0 0 0 .38.139h.874a.59.59 0 0 0 .38-.139l5.174-4.368v6.92c0 .106-.127.2-.271.2zM7.5 5.773L2.468 1.508h10.064L7.5 5.772z"/>
    </symbol>
    <symbol id="play" viewbox="0 0 86 86">
        <g transform="translate(3 3)">
            <circle stroke="#FFF" stroke-width="5" fill-opacity=".3" cx="40" cy="40" r="40"/>
            <path d="M56.604 40.718L32 57.436V24z"/>
        </g>
    </symbol>
    <symbol id="quote-mini" viewbox="0 0 14 10">
        <path d="M10.737 0c-2.184 1.54-3.5 3.696-3.5 6.16 0 2.296 1.54 3.612 3.248 3.612 1.568 0 2.912-1.316 2.912-2.94 0-1.568-1.092-2.716-2.436-2.716-.308 0-.588.056-.728.112.364-1.064 1.652-2.184 2.548-2.576L10.737 0zM3.5 0C1.316 1.54 0 3.696 0 6.16c0 2.296 1.54 3.612 3.248 3.612 1.568 0 2.912-1.316 2.912-2.94 0-1.568-1.092-2.716-2.436-2.716-.308 0-.588.056-.728.112.364-1.064 1.652-2.184 2.548-2.576L3.5 0z"/>
    </symbol>
    <symbol id="quote" viewbox="0 0 107 78">
        <path d="M21.638 77.634c17.316-12.21 27.75-29.304 27.75-48.84C49.388 10.59 37.178.156 23.636.156 11.204.156.548 10.59.548 23.466.548 35.898 9.206 45 19.862 45c2.442 0 4.662-.444 5.772-.888-2.886 8.436-13.098 17.316-20.202 20.424l16.206 13.098zm57.382 0c17.316-12.21 27.75-29.304 27.75-48.84C106.77 10.59 94.56.156 81.018.156 68.586.156 57.93 10.59 57.93 23.466 57.93 35.898 66.588 45 77.244 45c2.442 0 4.662-.444 5.772-.888-2.886 8.436-13.098 17.316-20.202 20.424L79.02 77.634z"/>
    </symbol>
    <symbol id="quotes-arrow-left" viewbox="0 0 27 53">
        <use mask="url(#b)" transform="rotate(135 845.652 1721.778)" xlink:href="#a" stroke="#979797" stroke-width="2"/>
    </symbol>
    <symbol id="quotes-arrow-right" viewbox="0 0 27 53">
        <use mask="url(#b)" transform="rotate(-45 -3666.652 3033.075)" xlink:href="#a" stroke="#979797"
             stroke-width="2"/>
    </symbol>
    <symbol id="socialicons-fb" viewbox="0 0 15 15">
        <path d="M7.5 0A7.469 7.469 0 0 0 0 7.5C0 11.667 3.333 15 7.5 15S15 11.667 15 7.5 11.583 0 7.5 0zm2 4.583H8.417c-.167 0-.417.084-.417.5v1h1.5l-.167 1.75H8v4.917H6v-5H5V6.083h1V4.917c0-.834.417-2 2-2h1.5v1.666z"/>
    </symbol>
    <symbol id="socialicons-vk" viewbox="0 0 15 15">
        <path d="M7.5 0A7.469 7.469 0 0 0 0 7.5C0 11.667 3.333 15 7.5 15S15 11.667 15 7.5 11.583 0 7.5 0zm4.25 10.75h-1.333s-.25.083-.667-.167c-.5-.333-.917-1.25-1.333-1.083-.334.083-.334.917-.334.917s0 .166-.083.25c-.083.083-.25.083-.25.083h-.583s-1.334.083-2.417-1.083C3.5 8.333 2.417 5.75 2.417 5.75s-.084-.167 0-.25c.083-.083.333-.083.333-.083h1.417s.166 0 .25.083a.258.258 0 0 1 .083.167s.167.583.5 1.083c.583 1 .833 1.25 1.083 1.167.25-.167.167-1.417.167-1.417s0-.5-.167-.667c-.083-.166-.333-.25-.416-.25-.084 0 .083-.166.25-.25.25-.083.666-.166 1.25-.166.416 0 .5 0 .666.083.5.083.334.583.334 1.667 0 .333-.084.833.166 1 .084.083.334 0 1-1.084.334-.5.584-1.166.584-1.166l.166-.167c.084-.083.167 0 .167 0h1.5s.417-.083.5.167c.083.25-.167.666-.75 1.5-1 1.333-1.083 1.166-.25 2 .75.75.917 1.083 1 1.166.167.417-.5.417-.5.417z"/>
    </symbol>
</svg>

<!-- show cms toolbar tags -->
{% cms_toolbar %}

{% load menu_tags %}

<header class="{% block header_color %}{% endblock %}">
    {% show_menu 0 100 100 100 "landing/_parts/menu.html" %}
</header>


{% block content %}{% endblock %}


{% static_placeholder "Footer" %}


<script src="{% static 'landing/js/common.js?v=0.0.6' %}"></script>

{% render_block "js" %}
<script type="application/javascript" src="{% static 'landing/js/terms.js' %}"></script>
{% block body_js %}
{% endblock %}

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-87724341-1', 'auto');
    ga('send', 'pageview');

</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript"> (function (d, w, c) {
    (w[c] = w[c] || []).push(function () {
        try {
            w.yaCounter43657704 = new Ya.Metrika({
                id: 43657704,
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true,
                webvisor: true
            });
        } catch (e) {
        }
    });
    var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
        n.parentNode.insertBefore(s, n);
    };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/watch.js";
    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else {
        f();
    }
})(document, window, "yandex_metrika_callbacks"); </script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/43657704" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>
