{% extends 'landing/_landing_base.html' %}
{% load static cms_tags sekizai_tags %}
{% load i18n %}

{% block header_color %}header header-white{% endblock %}

{% block content %}

    <div class="wrapper">

        {% placeholder FirstSlideAbout %}
        {% placeholder WeDoMore %}
        {% placeholder AboutUs %}
        {% placeholder WorldWide %}

        <section class="benefits">
            <div class="container">
                <h2 class="title text_light text-center">
                    {% trans "Опыт в цифрах" %}
                </h2>
                <div class="grid">
                    {% placeholder FactInNumber %}
                </div>
            </div>
        </section>

        {% placeholder "Quotes" %}

        <section>
            <div class="container rewards text-center">
                {% placeholder "Ratings" %}
            </div>
        </section>

    </div>

{% endblock %}


{% block body_js %}
    {% if debug %}
        <!-- Development scripts -->
    {% else %}
        <!-- Production -->
    {% endif %}
{% endblock %}
