{% extends 'landing/_landing_base.html' %}
{% load static cms_tags sekizai_tags %}

{% block header_color %}header header_dark{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="container grid-noBottom-center-middle">
            <div class="col-8_md-7_sm-12 pd-big">
                {% placeholder "CareerBlock" %}
            </div>
        </div>
    </div>

{% endblock %}

