{% extends 'landing/_landing_base.html' %}
{% load static cms_tags sekizai_tags %}
{% load i18n %}

{% block header_color %}header header_dark{% endblock %}

{% block content %}
    <div class="wrapper">

        <div class="container">
            <div class="grid-noBottom practice-page">
                <div class="col-8_md-7_sm-12 pd-big">
                    {% placeholder "SubServiceDetail" %}
                    {% placeholder "SubServiceListBlock" %}
                </div>
                <div class="col-4_md-5_sm-12">
                    {% placeholder "ContactPeople" %}
                    {% placeholder "ClientFeatures" %}
                </div>
            </div>
        </div>

        {% static_placeholder "Contact Form" %}
        {% placeholder "Quotes" %}


        <section>
            <div class="container rewards text-center">
                {% static_placeholder "Ratings" %}
            </div>
        </section>

        {% placeholder "DownloadForm" %}

    </div>
{% endblock %}


{% block body_js %}
    {% if debug %}
        <!-- Development scripts -->
    {% else %}
        <!-- Production -->
    {% endif %}
{% endblock %}
