{% extends 'landing/_landing_base.html' %}
{% load static cms_tags sekizai_tags %}
{% load i18n %}

{% block header_color %}header header_dark{% endblock %}

{% block content %}

    <div class="wrapper">
        <div class="container">
            {% placeholder "About Service" %}
            <div class="grid-noBottom">
                <div class="col-8_md-7_sm-12 pd-big">
                    {% placeholder "Sub Services" %}
                    {% placeholder "Downloads" %}
                </div>
                <div class="col-4_md-5_sm-12">
                    {% placeholder "Contact People" %}
                    <h5 class="title text_bright mb40">
                        {% trans "НОВОСТИ И СОБЫТИЯ" %}
                    </h5>
                    <div class="square-area">
                        {% placeholder "NewsRightBlock" %}
                    </div>
                </div>
            </div>
        </div>
        {% placeholder "Contact Form" %}
        {% placeholder "Quotes" %}

        <section>
            <div class="container rewards text-center">
                {% static_placeholder "Ratings" %}
            </div>
        </section>

    </div>


{% endblock %}


{% block body_js %}
    {% if debug %}
        <!-- Development scripts -->
    {% else %}
        <!-- Production -->
    {% endif %}
{% endblock %}
