{% extends 'landing/_landing_base.html' %}
{% load static cms_tags sekizai_tags %}
{% load i18n %}

{% block header_color %}header header_dark{% endblock %}

{% block content %}


    <div class="wrapper">
        <iframe
                src="https://www.google.com/maps/d/u/0/embed?mid=1zYeW7snyy8LBrUKWNXngbZEc8_o0vUTP"
                width="100%" height="350px" frameborder="0" style="border:0" allowfullscreen>
        </iframe>
    </div>

    <style>
        .i4ewOd-pzNkMb-haAclf {
            display: none;
        }
    </style>

    <div class="wrapper">
        <div class="container article-box grid">
            <article class="col-8_sm-12" data-push-left="off-4_sm-0">

                <ul class="breadcrumb-box">
                    <li class="breadcrumb__item">
                        <a>{% trans "КОНТАКТЫ" %}</a><span>/</span>
                    </li>
                    <li class="breadcrumb__item">
                        <a>{% trans "ГЛАВНЫЙ ОФИС" %}</a>
                    </li>
                </ul>

                {% placeholder "ContactBlock" %}
            </article>
        </div>
        {% placeholder "ContactForm" %}
    </div>

{% endblock %}

