{% extends 'landing/_landing_base.html' %}
{% load static cms_tags sekizai_tags %}
{% load i18n %}

{% block header_color %}header header-white{% endblock %}

{% block content %}
    <div class="wrapper">


        <div class="main-promo cursor-play" data-active="">
                <div class="promo-container">
                    <div class="promo-btn"><span>NSP in motion</span></div>
                    <div class="progress-bar">
						<span class="progress-bar__we progress-bar__item" data-progress="1">
                            <span class="progress-line"></span>
                            <img src="{% static 'landing/img/promo/we-stroke.png' %}" height="25" alt="">
                        </span>
                        <span class="progress-bar__do progress-bar__item" data-progress="2">
                            <span class="progress-line"></span>
                            <img src="{% static 'landing/img/promo/do-stroke.png' %}" height="25" alt="">
                        </span>
                        <span class="progress-bar__more progress-bar__item" data-progress="3">
                            <span class="progress-line"></span>
                            <img src="{% static 'landing/img/promo/more-stroke.png' %}" height="25" alt="">
                        </span>
                    </div>

                    <div class="bl-we">
                        <div class="word-wrap">
                            <video id="video1" muted="muted" preload="none" loop="loop">
                                <source src="{% static 'landing/video/we.mp4' %}" type="video/mp4">
                            </video>

                        </div>
                        <div class="promo-text">
                            <div class="promo-title">{% trans "МЫ – КОМАНДА ТРАНЗАКЦИОННЫХ ЮРИСТОВ." %}</div>
                            <div class="promo-desc">
                                {% trans "Наша специализация – комплексное сопровождение сделок по трём направлениям: инвестиции, М&amp;A, рынки капитала" %}
                            </div>
                        </div>
                    </div>
                    <div class="bl-do">
                        <div class="word-wrap">
                            <video id="video2" muted="muted" preload="none" loop="loop">
                                <source src="{% static 'landing/video/do.mp4' %}" type="video/mp4">
                            </video>

                        </div>
                        <div class="promo-text">
                            <div class="promo-title">
                                {% trans "МЫ РАСПОЛАГАЕМ ГЛУБОКОЙ ЭКСПЕРТИЗОЙ В ЧЕТЫРЁХ ОБЛАСТЯХ" %}
                            </div>
                            <div class="promo-desc">
                                <p>– {% trans "инвестиционные фонды" %}</p>
                                <p>– {% trans "химическая промышленность" %}</p>
                                <p>– {% trans "пищевая промышленность и сельское хозяйство" %}</p>
                                <p>– {% trans "Дальний Восток" %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="bl-more">
                        <div class="word-wrap">
                            <video id="video3" muted="muted" loop="loop">
                                <source src="{% static 'landing/video/more1.mp4' %}" type="video/mp4">
                            </video>
                            <video id="video4" muted="muted" loop="loop">
                                <source src="{% static 'landing/video/more2.mp4' %}" type="video/mp4">
                            </video>
                            <video id="video5" muted="muted" loop="loop">
                                <source src="{% static 'landing/video/more3.mp4' %}" type="video/mp4">
                            </video>

                        </div>
                        <div class="promo-text promo-text1">
                            <div class="promo-title">{% trans "НАШ ПОДХОД" %}</div>
                            <div class="promo-desc">
                                <p>{% trans "всегда достигать большего за счёт эффективности работы. Там, где другие останавливаются, мы только начинаем." %}</p>
                            </div>
                        </div>
                        <div class="promo-text promo-text2">
                            <div class="promo-title">{% trans "НАШ ГЛОБАЛЬНЫЙ ВЗГЛЯД" %}</div>
                            <div class="promo-desc">
                                <p>{% trans "позволяет видеть дальше одной текущей проблемы." %}</p>
                            </div>
                        </div>
                        <div class="promo-text promo-text3">
                            <div class="promo-title">{% trans "НАША КОМАНДА" %}</div>
                            <div class="promo-desc">
                                <p>{% trans "досконально изучает бизнес клиента и специфику его отрасли. Это – основа для безупречной подготовки документов и успешного завершения сделки." %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="promo-total">
                        <p>{% trans "Во всём добиваться абсолютного максимума – <br>для нас это дело принципа." %}</p>
                        <p>{% trans "Ведь наша цель – быть надёжным партнёром <br>самых амбициозных клиентов." %}</p>
                        <p><a href="welcome@nsplaw.com">welcome@nsplaw.com</a></p>
                    </div>
                </div>
            </div>


        {#        {% static_placeholder "Promo" %}#}

        {% placeholder "Main services" %}

        {% placeholder "Expertise" %}

        <div class="container">
            {% placeholder "News" %}
            {#            TODO: move to models#}
            {% if LANGUAGE_CODE == 'ru' %}
                <div class="grid-noBottom main-publ">
                    {% placeholder "Press container" %}
                </div>
            {% endif %}
            {% placeholder "Video block" %}
        </div>

        {% placeholder "Quotes" %}

        <section>
            <div class="container rewards text-center">
                {% static_placeholder "Ratings" %}
            </div>
        </section>

        {% placeholder DownloadForm %}
        {% if LANGUAGE_CODE == 'ru' %}
            <section class="container review-box text-center">
                <div class="col-8_md-6_sm-12">
                    <div style="
                            box-shadow: 0 0 0 5px #7a006f inset;
                            height: 100px;
                            width: 100%;
                            padding-top: 5px;
                            box-sizing: border-box;
                    ">
                    <div style="
                    width: 60%;
                    margin-left: 20%;
                    ">
                        <div class="arrow-more">
                            <a class="arrow-more__lnk"
                               href="http://nsplaw.us11.list-manage.com/subscribe?u=67a731f8520863df9fbf297ec&id=3df479218f"
                               target="_blank">
                                Подпишитесь на нашу рассылку
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            </section>
        {% endif %}


    </div>
{% endblock %}


{% block body_js %}

    <script type="application/javascript" src="{% static 'landing/js/ajax_file.js' %}"></script>

{% endblock %}
