{% extends 'landing/_landing_base.html' %}
{% load static cms_tags sekizai_tags %}


{% block header_color %}header header_dark{% endblock %}

{% block content %}
    {% if LANGUAGE_CODE == 'ru' %}
        <div class="menu-press">
            <ul class="container">
                {% for section in request.current_page.children.all %}
                    <li class="menu-press__item">
                        <a class="menu-press__link active" href="#{{ section.reverse_id }}">
                            {{ section }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="wrapper">
        {% placeholder "News and events" %}
        {% placeholder "Publications" %}
        {% placeholder "Comments in media" %}
    </div>
{% endblock %}
