{% extends 'landing/_landing_base.html' %}

{% load static cms_tags sekizai_tags %}
{% load i18n %}

{% block header_color %}header header_dark{% endblock %}

{% block content %}

    <div class="wrapper">

        <div class="container grid-noBottom news-wrap">
            <div class="col-8_md-7_sm-12 news-wrap__col">

                <ul class="breadcrumb-box">
                    <li class="breadcrumb__item">
                        <a href="{{ request.current_page.parent.parent.get_absolute_url }}">
                            {{ request.current_page.parent.parent }}
                        </a>
                        <span>/</span>
                    </li>
                    <li class="breadcrumb__item">
                        <a href="#">
                            {{ request.current_page.parent }}
                        </a>
                    </li>
                </ul>
                <atricle class="news">

                    <h1 class="news__title text_bright">
                        {{ request.current_page }}
                    </h1>

                    {% placeholder "ContentBlock" %}

                </atricle>


            </div>
            <div class="col-4_md-5_sm-10">
                <h5 class="title text_bright mb40">
                    {% trans "НОВОСТИ И СОБЫТИЯ" %}
                </h5>
                <div class="square-area">
                    {% static_placeholder "AdditionalNews" %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block body_js %}
    {% if debug %}
        <!-- Development scripts -->
    {% else %}
        <!-- Production -->
    {% endif %}
{% endblock %}
