{% extends 'landing/_landing_base.html' %}
{% load static cms_tags sekizai_tags %}

{% block header_color %}header header_dark{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="container">
            <div class="publication-page">
                <section class="person-slider owl-carousel">
                    {% placeholder "Photos" %}
                </section>
                {% placeholder "BiographyBlock" %}
            </div>
        </div>
{#        <hr class="devider">#}
        {% placeholder "QuotesBlock" %}
        {% placeholder "ContactForm" %}
    </div>
{% endblock %}
