{% extends 'landing/_landing_base.html' %}
{% load static cms_tags sekizai_tags %}
{% block css %}
    <style>
        .list_type3__item {
            border-bottom: 1px solid #e5e5e5;
        }
    </style>
{% endblock %}
{% block header_color %}header header_dark{% endblock %}

{% block content %}

<div class="wrapper">
            <div class="container">
                <div style="
                    width: 100%;
                    height: 100px;
                    "></div>
                <div class="grid-noBottom pvo-page">
                    <div class="col-8_md-7_sm-12 pvo-wrap__col">

                        <h1 class="title">Представитель <br> владельцев облигаций</h1>

                        <h5>Когда нужен ПВО?</h5>

                        <div class="pvo__cell grid-noBottom">
                            <div class="pvo__cell-item col-6_md-6_sm-12">
                                <div class="pvo__cell-head">
                                    Облигации с обеспечением <i class="text_bright">*</i>
                                </div>
                                <ul class="list_type2">
                                    <li class="list_type2__item">Открытая подписка </li>
                                    <li class="list_type2__item">Закрытая подписка ( &gt; 500 неквалифицированных инвесторов) </li>
                                    <li class="list_type2__item">Допуск к организованным торгам <i class="text_bright">**</i></li>
                                </ul>
                            </div>
                            <div class="pvo__cell-item col-6_md-6_sm-12">
                                <div class="pvo__cell-head">
                                    Любой выпуск по решению <br> эмитента
                                </div>
                            </div>
                        </div>

                        <div class="pvo__notes">
                            <p><i class="text_bright">*</i> за исключением выпусков, обеспеченных государственной или муниципальной гарантией</p>
                            <p><i class="text_bright">**</i> за исключением облигаций, предназначенных для квалифицированных инвесторов</p>
                        </div>

                        <section class="function-pvo">
                            <h5 class="mb0">Функции ПВО</h5>

                            <div class="grid-noBottom">
                                <div class="col-6_md-6_sm-12">
                                    <ul class="list_type1">
                                        <li class="list_type1__item">контроль исполнения эмитентом обязательств по облигациям; </li>
                                        <li class="list_type1__item">выявление обстоятельств, влекущих за собой нарушение прав и законных интересов владельцев облигаций;</li>
                                        <li class="list_type1__item">исполнение решений общих собраний владельцев облигаций;</li>
                                    </ul>
                                </div>
                                <div class="col-6_md-6_sm-12">
                                    <ul class="list_type1">
                                        <li class="list_type1__item">информирование владельцев облигаций;</li>
                                        <li class="list_type1__item">защита прав и законных интересов владельцев облигаций;</li>
                                        <li class="list_type1__item">согласие на внесение изменений в решение о выпуске облигаций и в проспект облигаций.</li>
                                    </ul>
                                </div>
                            </div>
                        </section>


                        <section class="pvo-benefits">
                            <h5>Преимущества</h5>

                            <div class="grid-noBottom">
                                <div class="col-6_md-6_sm-12">
                                    <div class="pvo__cell-head">
                                       Для эмитента
                                    </div>
                                    <ul class="list_type3 grid">
                                        <li class="list_type3__item"><span>возможность размещать выпуски <br> облигаций с обеспечением;</span></li>
                                        <li class="list_type3__item"><span>возможность внесения технических изменений в эмиссионную документацию <br> без участия владельцев <br> облигаций;</span></li>
                                        <li class="list_type3__item"><span>упрощение коллективного взаимодействия владельцев облигаций с эмитентом и/или лицом, предоставившим обеспечение, в том числе в рамках судебных процессов.</span></li>
                                    </ul>
                                </div>
                                <div class="col-6_md-6_sm-12">
                                    <div class="pvo__cell-head">
                                        Для инвестора
                                    </div>
                                    <ul class="list_type3 grid">
                                        <li class="list_type3__item"><span>упрощение контроля за рисками;</span></li>
                                        <li class="list_type3__item"><span>упрощение участия в судебных спорах, а также исключение дифференцированного подхода в отношении разных владельцев облигаций;</span></li>
                                        <li class="list_type3__item"><span>упрощение взаимодействия с лицом, предоставившим обеспечение по облигациям.</span></li>
                                    </ul>
                                </div>
                            </div>

                        </section>

                    </div>

                    <div class="col-4_md-5_sm-12 right-side">
                        {% placeholder "ContactPeople" %}
                        <h5 class="title text_bright mb40 title-right-first">НОВОСТИ</h5>
                        <div class="square-area">
                            {% placeholder "NewsRightBlock" %}
                        </div>

                    <section class="download__link-wrap">
                        <h5 class="title text_bright mb40 title-right-first">ФАЙЛЫ ДЛЯ СКАЧИВАНИЯ</h5>
                        <a
                            class="download__link"
                            href="http://www.nsplaw.com/media/uploads/%D0%9C%D0%B8%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%B3_%D0%A4%D0%B8%D0%BD%D0%B0%D0%BD%D1%81_%D0%93%D0%BE%D0%B4%D0%BE%D0%B2%D0%BE%D0%B8_%D0%BE%D1%82%D1%87%D0%B5%D1%82_%D0%BE_%D0%B4%D0%B5%D1%8F%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D0%B8_%D0%9F%D0%92%D0%9E_2016.pdf"
                            target="_blank">
                            Мираторг Финанс Годовой отчёт о деятельности ПВО 2016
                        </a>

                        <br>
                        <a
                            class="download__link"
                            href="http://www.nsplaw.com/media/uploads/%D0%9C%D0%B8%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%B3_%D0%A4%D0%B8%D0%BD%D0%B0%D0%BD%D1%81_%D0%93%D0%BE%D0%B4%D0%BE%D0%B2%D0%BE%D0%B8_%D0%BE%D1%82%D1%87%D0%B5%D1%82_2017.pdf"
                            target="_blank">
                            Мираторг Финанс Годовой отчёт о деятельности ПВО 2017
                        </a>

                        <br>
                        <a
                            class="download__link"
                            href="http://www.nsplaw.com/media/uploads/%D0%A1%D0%B8%D0%B1%D0%B8%D1%80%D1%81%D0%BA%D0%B8%D0%B8_%D0%B3%D0%BE%D1%81%D1%82%D0%B8%D0%BD%D0%B5%D1%86_l_%D0%A1%D0%BE%D0%BE%D0%B1%D1%89%D0%B5%D0%BD%D0%B8%D0%B5_%D0%BF%D1%80%D0%B5%D0%B4%D1%81%D1%82%D0%B0%D0%B2%D0%B8%D1%82%D0%B5%D0%BB%D1%8F_1.pdf"
                            target="_blank">
                            Меры по защите прав и законных интересов владельцев облигаций (ПАО "Сибирский гостинец")
                        </a>

                        <br>
                        <a
                            class="download__link"
                            href="http://www.nsplaw.com/media/uploads/%D0%A1%D0%B8%D0%B1%D0%B8%D1%80%D1%81%D0%BA%D0%B8%D0%B8_%D0%B3%D0%BE%D1%81%D1%82%D0%B8%D0%BD%D0%B5%D1%86_l_%D0%A1%D0%BE%D0%BE%D0%B1%D1%89%D0%B5%D0%BD%D0%B8%D0%B5_%D0%BF%D1%80%D0%B5%D0%B4%D1%81%D1%82%D0%B0%D0%B2%D0%B8%D1%82%D0%B5%D0%BB%D1%8F_2.pdf"
                            target="_blank">
                            Случаи неисполнения эмитентом своих обязательств по облигациям (ПАО "Сибирский гостинец", фев. 2018)
                        </a>

                        <br>
                        <a
                            class="download__link"
                            href="http://www.nsplaw.com/media/uploads/%D0%A1%D0%BB%D1%83%D1%87%D0%B0%D0%B8_%D0%BD%D0%B5%D0%B8%D1%81%D0%BF%D0%BE%D0%BB%D0%BD%D0%B5%D0%BD%D0%B8%D1%8F_%D1%8D%D0%BC%D0%B8%D1%82%D0%B5%D0%BD%D1%82%D0%BE%D0%BC_%D1%81%D0%B2%D0%BE%D0%B8%D1%85_%D0%BE%D0%B1%D1%8F%D0%B7%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D1%82%D0%B2_%D0%BF%D0%BE_%D0%BE%D0%B1%D0%BB%D0%B8%D0%B3%D0%B0%D1%86%D0%B8%D1%8F%D0%BC.pdf"
                            target="_blank">
                            Случаи неисполнения эмитентом своих обязательств по облигациям (ПАО "Сибирский гостинец", мар. 2018)
                        </a>
                        <br>
                        <a
                            class="download__link"
                            href="http://www.nsplaw.com/media/uploads/%D0%A3%D1%81%D0%BB%D0%BE%D0%B2%D0%B8%D1%8F_%D0%BF%D1%80%D0%B8_%D0%BA%D0%BE%D1%82%D0%BE%D1%80%D1%8B%D1%85_%D0%B2%D0%BB%D0%B0%D0%B4%D0%B5%D0%BB%D1%8C%D1%86%D1%8B_%D0%BE%D0%B1%D0%BB%D0%B8%D0%B3%D0%B0%D1%86%D0%B8%D0%B8_%D0%B2%D0%BF%D1%80%D0%B0%D0%B2%D0%B5_%D1%82%D1%80%D0%B5%D0%B1%D0%BE%D0%B2%D0%B0%D1%82%D1%8C_%D0%B8%D1%85_%D0%B4%D0%BE%D1%81%D1%80%D0%BE%D1%87%D0%BD%D0%BE%D0%B3%D0%BE_%D0%BF%D0%BE%D0%B3%D0%B0%D1%88%D0%B5%D0%BD%D0%B8%D1%8F.pdf"
                            target="_blank">
                            Условия, при которых владельцы облигаций вправе требовать их досрочного погашения (ПАО "Сибирский гостинец", мар. 2018)
                        </a>
                        <br>
                        <a
                            class="download__link"
                            href="http://nsplaw.com/media/uploads/%D0%9D%D0%A1%D0%9F_%D0%9C%D0%B8%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%B3_%D0%A4%D0%B8%D0%BD%D0%B0%D0%BD%D1%81_%D0%93%D0%BE%D0%B4%D0%BE%D0%B2%D0%BE%D0%B8_%D0%BE%D1%82%D1%87%D0%B5%D1%82_%D0%BE_%D0%B4%D0%B5%D1%8F%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D0%B8_%D0%9F%D0%92%D0%9E_2018.pdf"
                            target="_blank">
                            Отчет за 2018 год о деятельности представителя владельцев облигаций ООО «Мираторг Финанс»
                        </a>
                        <br>
                        <a
                            class="download__link"
                            href="http://nsplaw.com/media/uploads/NSP_%D0%98%D0%BD%D1%84%D0%BE%D0%92%D0%BE%D1%82%D1%87_%D0%93%D0%BE%D0%B4%D0%BE%D0%B2%D0%BE%D0%B8_%D0%BE%D1%82%D1%87%D0%B5%D1%82_%D0%9F%D0%92%D0%9E.pdf"
                            target="_blank">
                            Отчет за 2018 год о деятельности представителя владельцев облигаций АО «ИнфоВотч»
                        </a>
                        <br>
                        <a
                            class="download__link"
                            href="http://nsplaw.com/media/uploads/%D0%9D%D0%A1%D0%9F_%D0%A1%D0%B8%D0%B1%D0%B8%D1%80%D1%81%D0%BA%D0%B8%D0%B8_%D0%B3%D0%BE%D1%81%D1%82%D0%B8%D0%BD%D0%B5%D1%86_%D0%93%D0%BE%D0%B4%D0%BE%D0%B2%D0%BE%D0%B8_%D0%BE%D1%82%D1%87%D0%B5%D1%82.pdf"
                            target="_blank">
                            ПАО "Сибирский гостинец" Годовой отчёт 2018
                        </a>
                        <br>
                        <a
                            class="download__link"
                            href="http://nsplaw.com/media/uploads/%D0%9D%D0%A1%D0%9F_%D0%90%D0%B2%D0%B0%D0%BD%D0%B3%D0%B0%D1%80%D0%B4_%D0%93%D0%BE%D0%B4%D0%BE%D0%B2%D0%BE%D0%B8_%D0%BE%D1%82%D1%87%D0%B5%D1%82_%D0%BE_%D0%B4%D0%B5%D1%8F%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D0%B8_%D0%9F%D0%92%D0%9E_2019.pdf"
                            target="_blank">
                            ПАО "АКБ "Авангард"_Годовой отчёт о деятельности ПВО 2019
                        </a>
                        <br>
                        <a
                            class="download__link"
                            href="http://nsplaw.com/media/uploads/%D0%9D%D0%A1%D0%9F_%D0%93%D0%A3%D0%9F_%D0%96%D0%9A%D0%A5_%D0%AF%D0%BA%D1%83%D1%82%D0%B8%D1%8F_%D0%93%D0%BE%D0%B4%D0%BE%D0%B2%D0%BE%D0%B8_%D0%BE%D1%82%D1%87%D0%B5%D1%82_%D0%BE_%D0%B4%D0%B5%D1%8F%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D0%B8_%D0%9F%D0%92%D0%9E_2019.pdf"
                            target="_blank">
                            ГУП "ЖКХ Республика Саха (Якутия)" Годовой отчёт о деятельности ПВО 2019
                        </a>
                        <br>
                        <a
                            class="download__link"
                            href="http://nsplaw.com/media/uploads/%D0%9D%D0%A1%D0%9F_%D0%98%D0%BD%D1%84%D0%BE%D0%92%D0%BE%D1%82%D1%87_%D0%93%D0%BE%D0%B4%D0%BE%D0%B2%D0%BE%D0%B8_%D0%BE%D1%82%D1%87%D0%B5%D1%82_%D0%BE_%D0%B4%D0%B5%D1%8F%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D0%B8_%D0%9F%D0%92%D0%9E_2019.pdf"
                            target="_blank">
                            АО "ИнфоВотч" Годовой отчёт о деятельности ПВО 2019
                        </a>
                        <br>
                        <a
                            class="download__link"
                            href="http://nsplaw.com/media/uploads/%D0%9D%D0%A1%D0%9F_%D0%9C%D0%B8%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%B3_%D0%A4%D0%B8%D0%BD%D0%B0%D0%BD%D1%81_%D0%93%D0%BE%D0%B4%D0%BE%D0%B2%D0%BE%D0%B8_%D0%BE%D1%82%D1%87%D0%B5%D1%82_%D0%BE_%D0%B4%D0%B5%D1%8F%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D0%B8_%D0%9F%D0%92%D0%9E_2019.pdf"
                            target="_blank">
                            ООО "Мираторг Финанс" Годовой отчёт о деятельности ПВО 2019
                        </a>
                        <br>
                        <a
                            class="download__link"
                            href="http://nsplaw.com/media/uploads/%D0%9D%D0%A1%D0%9F_%D0%A1%D0%B8%D0%B1%D0%B8%D1%80%D1%81%D0%BA%D0%B8%D0%B8_%D0%B3%D0%BE%D1%81%D1%82%D0%B8%D0%BD%D0%B5%D1%86_%D0%93%D0%BE%D0%B4%D0%BE%D0%B2%D0%BE%D0%B8_%D0%BE%D1%82%D1%87%D0%B5%D1%82_%D0%BE_%D0%B4%D0%B5%D1%8F%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D0%B8_%D0%9F%D0%92%D0%9E_2019.pdf"
                            target="_blank">
                            ПАО "Сибирский гостинец" Годовой отчёт о деятельности ПВО 2019
                        </a>
                    </section>


                    </div>
                </div>
			</div>
		</div>
{% endblock %}
