<section>
  <div class="about-bl container grid-noBottom-center-middle">
    <div class="col-6_sm-12">
      <div class="about__logo-company">
        <img src="{{ instance.leftside_image.url }}" alt="">
      </div>
    </div>
    <div class="col-6_sm-12">
      <h2 class="title text_bright">{{ instance.title }}</h2>
       <div class="fnsz18">
            {{ instance.body_text|safe }}
        </div>
    </div>
  </div>
</section>
