<section>
    <div class="about-bl container grid-noBottom-center text-center">
      <div class="col-8_sm-12">
        <h2 class="title text_bright">{{ instance.title }}</h2>
        <div class="fnsz18">
            {{ instance.body_text|safe }}
        </div>
      </div>
    </div>
  </section>
