{% load i18n %}

<section>
    <div class="about-bl container grid-noBottom-middle text-center">
        <div class="col-8_sm-12 grid-spaceBetween-center about-bl__clocks">
            <div class="col-3_md-6_sm-6">
                <div class="clock-wrapper" data-zone="moskow">
                    <div class="clock">
                        <div class="clock--arrow clock__hours" data-value="5"></div>
                        <div class="clock--arrow clock__minutes" data-value="52"></div>
                    </div>
                </div>
            {% trans "Москва" %}
            </div>
            <div class="col-3_md-6_sm-6">
                <div class="clock-wrapper" data-zone="pekin">
                    <div class="clock">
                        <div class="clock--arrow clock__hours" data-value="5"></div>
                        <div class="clock--arrow clock__minutes" data-value="52"></div>
                    </div>
                </div>
            {% trans "Пекин" %}
            </div>
            <div class="col-3_md-6_sm-6">
                <div class="clock-wrapper" data-zone="newyork">
                    <div class="clock">
                        <div class="clock--arrow clock__hours" data-value="5"></div>
                        <div class="clock--arrow clock__minutes" data-value="52"></div>
                    </div>
                </div>
            {% trans "Нью-Йорк" %}
            </div>
            <div class="col-3_md-6_sm-6">
                <div class="clock-wrapper" data-zone="london">
                    <div class="clock">
                        <div class="clock--arrow clock__hours" data-value="5"></div>
                        <div class="clock--arrow clock__minutes" data-value="52"></div>
                    </div>
                </div>
            {% trans "Лондон" %}
            </div>
        </div>
        <div class="col-8_sm-12">
            <h2 class="title text_bright">{{ instance.title }}</h2>
            {{ instance.body_text|safe }}
        </div>
    </div>
</section>
