<div class="col-4_md-6_sm-12">
    <h2 class="title title-center text_bright no-lsp">
        {% if instance.block_title == 'Empty' %}
            &nbsp;
        {% endif %}
        {% if not instance.block_title == 'Empty' %}
            {{ instance.block_title }}
        {% endif %}
    </h2>
    <div class="square-area">
        <a href="{{ instance.comment_page.get_absolute_url }}" class="publ text-center square-bl">
            <div class="square-bl__content grid-noBottom-column-spaceBetween">
                <div class="publ-title">{{ instance.comment_title }}</div>
                <div class="squere-bl__text-bl">
                    {{ instance.comment_text }}
                </div>
                <div class="publ-source"><img class="square-bl__logo"
                                              src="{{ instance.magazine.logo.url }}" alt=""></div>
            </div>
        </a>
    </div>
</div>
