<div class="col-4_md-6_sm-12">
    <h2 class="title title-center text_bright no-lsp">{{ instance.block_title }}</h2>
    <div class="square-area">
        <a href="{{ instance.project_page.get_absolute_url }}" class="news-preview square-bl">
            <div class="square-bl__content square-bl__content_image grid-noBottom-column"
                 style="background: url({{ instance.project_image.url }}) no-repeat center center / cover">
                <div class="news-preview__date">{{ instance.project_client.title }}</div>
                <div class="news-preview__title">
                    {{ instance.project_title }}
                </div>
            </div>
        </a>
    </div>
</div>
