{% load static cms_tags sekizai_tags %}

<div class="expertise-box">

    <section class="expertise">
        <h2 class="expertise__title text-proxima-bl">{{ instance.title }}</h2>

        <div class="expertise__content">

            <p class="expertise__desc">
                {{ instance.description }}
            </p>


            <ul class="expertise__category">
                {% for expertise_item in instance.child_plugin_instances %}
                    {% render_plugin expertise_item %}
                {% endfor %}
            </ul>

            {% for expertise_item in instance.child_plugin_instances %}
                <div class="grid-3_lg-2_md-2_sm-1-noBottom download-row expertise-doc
                {% if forloop.counter == 1 %} active{% endif %}"
                     id="doc{{ forloop.counter }}">
                    {% for downloaded_file in expertise_item.child_plugin_instances %}
                        {% render_plugin downloaded_file %}
                    {% endfor %}
                </div>
            {% endfor %}

        </div>
    </section>
</div>
