<h2 class="title title-center text_bright">{{ instance.block_title }}</h2>
<div class="grid-noBottom main-publ">
    <div class="col-8_md-6_sm-10">
        <div class="square-area square-area_wide">
            <a href="{{ big_news.page_url }}"
               class="news-preview news-preview_wide news-preview_wide square-bl">
                <div class="square-bl__content square-bl__content_image grid-noBottom-column"
                     style="background: url({{ big_news.photo_url }}) no-repeat center center / cover">
                    <div class="news-preview__date">{{ big_news.news_date }}</div>
                    <div class="news-preview__title">
                        {{ big_news.title }}
                    </div>
                    <div class="news-preview__desc">
                        {{ big_news.body_text }}
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-4_md-6_sm-10">
        <div class="square-area">
            <a href="{{ small_news.page_url }}" class="news-preview square-bl">
                <div class="square-bl__content square-bl__content_bright grid-noBottom-column">
                    <div class="news-preview__date">{{ small_news.news_date }}</div>
                    <div class="news-preview__title">
                        {{ small_news.title }}
                    </div>
                    <div class="news-preview__desc">
                        {{ small_news.body_text }}
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
