{% load static cms_tags sekizai_tags %}




<div class="main-promo">
    <div class="test">
        <svg width="878px" height="93px" viewbox="0 0 878 93" version="1.1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
            <title>we do more</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="red" fill-rule="evenodd">
                <g id="main-page" transform="translate(-202.000000, -296.000000)" fill="#fff">
                    <path d="M228.30154,387.186944 L261.054402,387.186944 L268.622298,352.200933 L268.870425,352.200933 L276.562385,387.186944 L309.191183,387.186944 L335.616787,297.364703 L299.886393,297.364703 L290.82973,339.050162 L290.581602,339.050162 L283.13777,297.364703 L258.200933,297.364703 L250.633037,339.050162 L250.384909,339.050162 L241.45231,297.364703 L202,297.364703 L228.30154,387.186944 Z M342.316236,387.186944 L408.690406,387.186944 L408.690406,358.652254 L379.287269,358.652254 L379.287269,353.565635 L401.618765,353.565635 L401.618765,332.22665 L379.287269,332.22665 L379.287269,327.388159 L406.953511,327.388159 L406.953511,297.364703 L342.316236,297.364703 L342.316236,387.186944 Z M492.929773,387.186944 C509.926523,387.186944 523.449484,381.976261 532.754274,373.043663 C540.818426,365.351703 545.532853,354.68221 545.532853,342.275823 C545.532853,329.249117 540.446234,318.951816 532.506147,311.38392 C523.449484,302.699449 510.050586,297.364703 492.681645,297.364703 L455.090292,297.364703 L455.090292,387.186944 L492.929773,387.186944 Z M492.061325,326.643776 L493.1779,326.643776 C500.001413,326.643776 504.219585,328.752861 506.824926,331.482266 C509.306203,334.087608 510.919033,337.809524 510.919033,342.275823 C510.919033,346.618058 509.306203,350.215911 506.824926,352.821252 C503.847393,355.922849 499.132966,357.907871 492.929773,357.907871 L492.061325,357.907871 L492.061325,326.643776 Z M552.48043,342.275823 C552.48043,368.329236 574.439734,388.551646 602.602233,388.551646 C630.764731,388.551646 652.724036,368.329236 652.724036,342.275823 C652.724036,316.222411 630.764731,296 602.602233,296 C574.439734,296 552.48043,316.222411 552.48043,342.275823 L552.48043,342.275823 Z M588.707079,342.896142 C588.707079,335.204183 594.910273,329.000989 602.602233,329.000989 C610.294192,329.000989 616.497386,335.204183 616.497386,342.896142 C616.497386,350.588102 610.294192,356.791296 602.602233,356.791296 C594.910273,356.791296 588.707079,350.588102 588.707079,342.896142 L588.707079,342.896142 Z M698.875795,387.186944 L732.124912,387.186944 L732.124912,343.392398 L732.373039,343.392398 L748.74947,364.483256 L764.753709,343.392398 L765.001837,343.392398 L765.001837,387.186944 L801.97287,387.186944 L801.97287,297.364703 L768.475625,297.364703 L751.230747,319.944327 L733.36555,297.364703 L698.875795,297.364703 L698.875795,387.186944 Z M810.905468,342.275823 C810.905468,368.329236 832.864773,388.551646 861.027271,388.551646 C889.18977,388.551646 911.149074,368.329236 911.149074,342.275823 C911.149074,316.222411 889.18977,296 861.027271,296 C832.864773,296 810.905468,316.222411 810.905468,342.275823 L810.905468,342.275823 Z M847.132118,342.896142 C847.132118,335.204183 853.335312,329.000989 861.027271,329.000989 C868.719231,329.000989 874.922425,335.204183 874.922425,342.896142 C874.922425,350.588102 868.719231,356.791296 861.027271,356.791296 C853.335312,356.791296 847.132118,350.588102 847.132118,342.896142 L847.132118,342.896142 Z M920.081673,387.186944 L957.052706,387.186944 L957.052706,357.659743 L957.548961,357.659743 L970.947859,387.186944 L1009.77985,387.186944 L989.309312,347.238378 C996.008761,342.523951 1000.59912,335.576374 1000.59912,325.899392 C1000.59912,301.955066 975.414159,297.364703 956.928642,297.364703 L920.081673,297.364703 L920.081673,387.186944 Z M957.052706,337.065141 L957.052706,323.294051 L959.782111,323.294051 C965.489049,323.294051 968.218454,326.271584 968.218454,330.117564 C968.218454,333.963544 965.613113,337.065141 959.782111,337.065141 L957.052706,337.065141 Z M1013.62583,387.186944 L1080,387.186944 L1080,358.652254 L1050.59686,358.652254 L1050.59686,353.565635 L1072.92836,353.565635 L1072.92836,332.22665 L1050.59686,332.22665 L1050.59686,327.388159 L1078.26311,327.388159 L1078.26311,297.364703 L1013.62583,297.364703 L1013.62583,387.186944 Z"
                          id="we-do-more"></path>
                </g>
            </g>
        </svg>

    </div>
</div>
