{% load static cms_tags sekizai_tags %}

<div class="main-promo cursor-play">
				<div class="promo-container">

					<div class="bl-we">
						<div class="word-wrap">
							<video id="video1" muted="muted" preload="none" loop="loop">
								<source src="{% static 'landing/video/1slide.mp4' %}" type="video/mp4">
								<source src="http://mazwai.com/system/posts/videos/000/000/123/webm/victor_ciurus--5d_mark_iii_magic_lantern_14_bits_raw_video.webm?1412890624" type="video/webm">
							</video>
							<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 218 108" width="100%" height="100%" version="1.1">
								<defs>
									<mask id="mask" x="0" y="0" width="100%" height="100%" >
										<rect x="0" y="0" width="100%" height="100%"/>
										<g xmlns="http://www.w3.org/2000/svg" id="Page-1" fill="none" fill-rule="evenodd" stroke="none" stroke-width="0">
											<g id="start-state" fill="#000" transform="translate(-187 -353)">
												<polygon id="Fill-1" points="332.402,353 329.829,353 290.706,353 285.401,393.421 285.111,393.421 276.423,353 247.323,353 238.49,393.421 238.203,393.421 233.042,353 187,353 209.797,456.982 248.939,456.982 259.484,416.48 259.773,416.48 270.465,456.982 312.095,456.982 329.829,366.171 329.829,456.982 407.291,456.982 407.291,423.949 372.976,423.949 372.976,420.672 399.038,420.672 399.038,390.744 372.976,390.744 372.976,387.754 405.262,387.754 405.262,353" />
											</g>
										</g>
									</mask>
								</defs>
								<rect x="0" y="0" style="mask: url(#mask)" width="100%" height="100%"/>
							</svg>

						</div>
						<div class="promo-text">
							<div class="promo-title">МЫ – КОМАНДА ТРАНЗАКЦИОННЫХ ЮРИСТОВ.</div>
							<div class="promo-desc">Наша специализация – комплексное сопровождение сделок по трём направлениям: инвестиции, М&amp;A, рынки капитала</div>
						</div>
					</div>
					<div class="bl-do">
						<div class="word-wrap">
							<video id="video2" muted="muted" preload="none" loop="loop">
								<source src="{% static 'landing/video/2slide.mp4' %}" type="video/mp4">
								<source src="http://mazwai.com/system/posts/videos/000/000/123/webm/victor_ciurus--5d_mark_iii_magic_lantern_14_bits_raw_video.webm?1412890624" type="video/webm">
							</video>
							<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 218 108" width="100%" height="100%" version="1.1">
								<defs>
									<mask id="mask2" x="0" y="0" width="100%" height="100%" >
										<rect x="0" y="0" width="100%" height="100%"/>
										<g xmlns="http://www.w3.org/2000/svg" id="Page-2" fill="none" fill-rule="evenodd" stroke="none" stroke-width="0">
											<g id="start-state2" fill="#000" transform="translate(-438 -352)">
												<path id="Fill-2" d="M 597.124 414.704 C 592.427 414.704 588.641 410.949 588.641 406.289 C 588.641 401.63 592.427 397.874 597.124 397.874 C 601.821 397.874 605.607 401.63 605.607 406.289 C 605.607 410.949 601.821 414.704 597.124 414.704 M 490.082 411.902 C 488.279 413.764 485.425 414.958 481.67 414.958 L 481.146 414.958 L 481.146 396.185 L 481.82 396.185 C 485.951 396.185 488.505 397.451 490.082 399.089 C 491.585 400.653 492.559 402.889 492.559 405.571 C 492.559 408.178 491.585 410.34 490.082 411.902 M 597.124 352 C 570.288 352 548.285 367.613 541.114 389.76 C 538.549 381.896 534.092 375.242 528.344 369.809 C 517.776 359.754 502.138 353.58 481.87 353.58 L 438 353.58 L 438 457.562 L 482.157 457.562 C 501.995 457.562 517.776 451.532 528.634 441.19 C 534.374 435.76 538.636 429.032 541.106 421.361 C 548.272 443.522 570.28 459.142 597.124 459.142 C 629.989 459.142 655.617 435.731 655.617 405.571 C 655.617 375.409 629.989 352 597.124 352" />
											</g>
										</g>
									</mask>
								</defs>
								<rect x="0" y="0" style="mask: url(#mask2)" width="100%" height="100%"/>
							</svg>

						</div>
						<div class="promo-text">
							<div class="promo-title">МЫ РАСПОЛАГАЕМ ГЛУБОКОЙ ЭКСПЕРТИЗОЙ В ЧЕТЫРЁХ ОБЛАСТЯХ</div>
							<div class="promo-desc">
								<p>– инвестиционные фонды</p>
								<p>– химическая промышленность</p>
								<p>– пищевая промышленность и сельское хозяйство</p>
								<p>– Дальний Восток</p>
							</div>
						</div>
					</div>
					<div class="bl-more">
						<div class="word-wrap">
							<video id="video3" muted="muted" preload="none" loop="loop">
								<source src="{% static 'landing/video/3slide.mp4' %}" type="video/mp4">
								<source src="http://mazwai.com/system/posts/videos/000/000/123/webm/victor_ciurus--5d_mark_iii_magic_lantern_14_bits_raw_video.webm?1412890624" type="video/webm">
							</video>
							<video id="video4" muted="muted" preload="none" loop="loop">
								<source src="{% static 'landing/video/4slide.mp4' %}" type="video/mp4">
								<source src="http://mazwai.com/system/posts/videos/000/000/123/webm/victor_ciurus--5d_mark_iii_magic_lantern_14_bits_raw_video.webm?1412890624" type="video/webm">
							</video>
							<video id="video5" muted="muted" preload="none" loop="loop">
								<source src="{% static 'landing/video/5slide.mp4' %}" type="video/mp4">
								<source src="http://mazwai.com/system/posts/videos/000/000/123/webm/victor_ciurus--5d_mark_iii_magic_lantern_14_bits_raw_video.webm?1412890624" type="video/webm">
							</video>
							<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 410 108" width="100%" height="100%" version="1.1">
								<defs>
									<mask id="mask3" x="0" y="0" width="100%" height="100%" >
										<rect x="0" y="0" width="100%" height="100%"/>
										<g xmlns="http://www.w3.org/2000/svg" id="Page-3" fill="none" fill-rule="evenodd" stroke="none" stroke-width="0">
											<g id="start-state3" fill="#000" transform="translate(-684 -352)">
												<path id="Fill-5" d="M 961.71 397.731 L 959.248 397.731 L 959.248 385.406 L 961.71 385.406 C 966.857 385.406 969.322 388.07 969.322 391.512 C 969.322 394.955 966.97 397.731 961.71 397.731 L 961.71 397.731 Z M 860.205 414.704 C 855.511 414.704 851.722 410.949 851.722 406.289 C 851.722 401.63 855.511 397.874 860.205 397.874 C 864.902 397.874 868.691 401.63 868.691 406.289 C 868.691 410.949 864.902 414.704 860.205 414.704 L 860.205 414.704 Z M 1058.81 424.529 L 1058.81 421.254 L 1084.87 421.254 L 1084.87 391.327 L 1058.81 391.327 L 1058.81 388.337 L 1091.1 388.337 L 1091.1 353.58 L 1015.66 353.58 L 1015.66 447.659 L 996.89 411.317 C 1004.71 405.858 1010.07 397.817 1010.07 386.613 C 1010.07 358.895 980.674 353.58 959.104 353.58 L 916.102 353.58 L 916.102 389.386 C 908.804 367.435 886.894 352 860.205 352 C 833.522 352 811.614 367.43 804.314 389.379 L 804.314 353.58 L 765.222 353.58 L 745.099 374.495 L 724.248 353.58 L 684 353.58 L 684 457.562 L 725.435 457.562 L 725.435 417.311 L 725.722 417.311 L 742.201 433.892 L 758.248 417.311 L 758.534 417.311 L 758.534 457.562 L 804.314 457.562 L 804.314 421.766 C 811.614 443.712 833.522 459.142 860.205 459.142 C 886.894 459.142 908.804 443.707 916.102 421.758 L 916.102 457.562 L 959.248 457.562 L 959.248 431.215 L 959.825 431.215 L 975.464 457.562 L 1015.66 457.562 L 1020.78 457.562 L 1093.12 457.562 L 1093.12 424.529 L 1058.81 424.529 Z" />
											</g>
										</g>
									</mask>
								</defs>
								<rect x="0" y="0" style="mask: url(#mask3)" width="100%" height="100%"/>
							</svg>

						</div>
						<div class="promo-text promo-text1">
							<div class="promo-title">НАШ ПОДХОД</div>
							<div class="promo-desc">
								<p>всегда достигать большего за счёт <br>эффективности работы. Там, где другие<br>останавливаются, мы только начинаем.</p>
							</div>
						</div>
						<div class="promo-text promo-text2">
							<div class="promo-title">НАШ ГЛОБАЛЬНЫЙ ВЗГЛЯД</div>
							<div class="promo-desc">
								<p>позволяет видеть дальше одной текущей проблемы</p>
							</div>
						</div>
						<div class="promo-text promo-text3">
							<div class="promo-title">НАША КОМАНДА</div>
							<div class="promo-desc">
								<p>досконально изучает бизнес клиента и специфику его отрасли.
                                    Это – основа для безупречной подготовки документов и успешного завершения сделки.</p>
							</div>
						</div>
					</div>
					<div class="promo-total">
						<p>Во всём добиваться абсолютного максимума – <br>для нас это дело принципа. </p>
						<p>Ведь наша цель – быть надёжным партнёром<br> самых амбициозных клиентов.</p>
						<p><a href="welcome@nsplaw.com">welcome@nsplaw.com</a></p>
					</div>
				</div>
			</div>
