<div class="col-4_md-6_sm-12 main-publ__person-contact">
    <h2 class="title title-center text_bright no-lsp">{{ instance.block_title }}</h2>
    <div class="grid-noBottom addPaddingBottom">
        <div class="col-6">
            <div class="person-contact text-center">
                <div  style="background: url({{ instance.first_publication_person.photo.url }}) no-repeat 50% 50% / cover"
                      class="person-contact__pic">
                </div>
                <div class="person-contact__name">
                    {{ instance.first_publication_person.first_name }}<br>
                    {{ instance.first_publication_person.last_name }}
                </div>
                <div class="person-contact__position">
                    {{ instance.first_publication_person.job_position }}
                </div>
                <a {% if instance.first_publication_link %}
                        href="{{ instance.first_publication_link }}"
                   {% endif %}
                   {% if not instance.first_publication_link %}
                        href="{{ instance.first_publication_file.file_object.url }}"
                   {% endif %}
                   target="_blank"
                   class="person-contact__comment">
                        {{ instance.first_publication_title }}
                </a>
            </div>
        </div>
        <div class="col-6">
            <div class="person-contact text-center">
                <div  style="background: url({{ instance.second_publication_person.photo.url }}) no-repeat 50% 50% / cover"
                      class="person-contact__pic">
                </div>
                <div class="person-contact__name">
                    {{ instance.second_publication_person.first_name }}<br>
                    {{ instance.second_publication_person.last_name }}
                </div>
                <div class="person-contact__position">
                    {{ instance.second_publication_person.job_position }}
                </div>
                <a {% if instance.second_publication_link %}
                        href="{{ instance.second_publication_link }}"
                   {% endif %}
                   {% if not instance.second_publication_link %}
                        href="{{ instance.second_publication_file.file_object.url }}"
                   {% endif %}
                   target="_blank"
                   class="person-contact__comment">
                    {{ instance.second_publication_title }}
                </a>
            </div>
        </div>
    </div>
</div>
