{% load static cms_tags sekizai_tags %}

<div class="category-services">

    <div class="container">

        <ul class="main-accordion-tabs clearfix is-accordion">
            {% for servivces_row in all_services %}
                {% for service in servivces_row %}
                    <li class="tab-header-and-content" id="tab1">

                <a
                        href="#tab{{ service.id }}"
                        class="tab-link {% if service.active %}is-active{% endif %}"
                >
                    <svg class="icon icon-accordion-open js-accordion-trigger">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#accordion-open"></use>
                    </svg>
                    <span>{{ service.service_name }}</span>
                </a>
                <div class="tab-content {% if service.active %}is-open{% endif %}">

                    <div class="tab-content__col">

                        <div class="review-box__review-item">

                            <h3 class="text-proxima-b">{{ service.quote.rating.title }}</h3>

                            <svg class="icon quote">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#quote"></use>
                            </svg>

                            <p class="review-box__review">
                                {{ service.quote.text }}
                            </p>

                            <svg class="icon quote-mini">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#quote-mini"></use>
                            </svg>

                        </div>

                    </div>

                    <div class="tab-content__col">
                        <h3 class="title-tab-services">
                            {{ instance.title_subservices }} <br>
                            {{ service.service_name|upper }}
                        </h3>

                        <ul class="list-services">
                            {% for sub_service in service.sub_services.first_column %}
                                <li class="list-service__item">
                                    <a href="{{ sub_service.get_absolute_url }}">{{ sub_service }}</a>
                                </li>
                            {% endfor %}
                            {% for sub_service in service.sub_services.second_column %}
                                <li class="list-service__item">
                                    <a href="{{ sub_service.get_absolute_url }}">{{ sub_service }}</a>
                                </li>
                            {% endfor %}
                        </ul>

                    </div>

                </div>
            </li>
                {% endfor %}
            {% endfor %}
        </ul>

        {% for servivces_row in all_services %}
            <ul class="main-accordion-tabs clearfix is-tab">
                {% for service in servivces_row %}
                    <li class="tab-header-and-content">

                        <a href="#tab-tab{{ service.id }}"
                           class="tab-link{% if service.active %} is-active{% endif %}">
                            <svg class="icon icon-accordion-open js-accordion-trigger">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#accordion-open"></use>
                            </svg>
                            <span>{{ service.service_name }}</span>
                        </a>
                    </li>
                {% endfor %}

            </ul>
        {% endfor %}

        <div class="tab-container clearfix is-tab show_desktop">

            {% for service in all_services_content %}

                <div class="tab-content{% if forloop.first %} is-open{% endif %}"
                     id="tab-tab{{ service.id }}">
                    <div class="tab-content__col">

                        <div class="review-box__review-item">

                            <h3 class="text-proxima-b">{{ service.quote.rating.title }}</h3>

                            <svg class="icon quote">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#quote"></use>
                            </svg>

                            <p class="review-box__review">
                                {{ service.quote.text }}
                            </p>

                            <svg class="icon quote-mini">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#quote-mini"></use>
                            </svg>

                        </div>

                    </div>

                    <div class="tab-content__col">
                        <h3 class="title-tab-services">
                            {{ instance.title_subservices }} <br>
                            {{ service.service_name|upper }}
                        </h3>

                        <ul class="list-services">
                            {% for sub_service in service.sub_services.first_column %}
                                <li class="list-service__item">
                                    <a href="{{ sub_service.get_absolute_url }}">{{ sub_service }}</a>
                                </li>
                                sub_service_name is {{ sub_service }}
                            {% endfor %}
                        </ul>
                        <ul class="list-services">
                            {% for sub_service in service.sub_services.second_column %}
                                <li class="list-service__item">
                                    <a href="{{ sub_service.get_absolute_url }}">{{ sub_service }}</a>
                                </li>
                                sub_service_name is {{ sub_service }}
                            {% endfor %}
                        </ul>

                    </div>
                </div>
            {% endfor %}

        </div>

    </div>
</div>
