{% load static cms_tags sekizai_tags %}
{% load i18n %}

{% if not LANGUAGE_CODE == 'zh-hans' %}

    <div class="video-main">
        <h2 class="title title-center text_bright">{{ instance.title }}</h2>
        <div class="grid-noBottom">
            <div class="col-8_md-7_sm-12">
                <iframe width="100%" height="378" src="{{ instance.main_video.url }}" frameborder="0"
                        allowfullscreen></iframe>
                <h2 class="video-main__title title">{{ instance.main_video.title }}</h2>
                <a href="https://www.youtube.com/channel/UCuHMA6ZFJtYQpbfNAGPOKTQ"
                   class="back-arrow" target="_blank">
                        {% trans "Смотреть все видео" %}
                </a>
            </div>
            <div class="col-4_md-5_sm-12">
                {% for plugin in instance.child_plugin_instances %}
                    {% render_plugin plugin %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endif %}
