{% load static cms_tags sekizai_tags %}

{%  if LANGUAGE_CODE == 'ru' %}

<div class="video-main">
    <h2 class="title title-center text_bright">{{ instance.title }}</h2>
    <div class="grid-noBottom">
        <div class="col-8_md-7_sm-12">
            <iframe width="100%" height="378" src="{{ instance.main_video.url }}" frameborder="0"
                    allowfullscreen></iframe>
            <h2 class="video-main__title title">{{ instance.main_video.title }}</h2>
            <a href="https://www.youtube.com/channel/UCuHMA6ZFJtYQpbfNAGPOKTQ"
                 class="back-arrow" target="_blank">Смотреть все видео</a>
        </div>
        <div class="col-4_md-5_sm-12">
            <div class="video-main__sm-bl">
                <div class="grid-noBottom">
                    <div class="col-6">
                        <iframe width="100%" height="89" src="{{ instance.first_video.url }}"
                                frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="col-6">
                        <p class="video-main__preview">{{ instance.first_video.title }}</p>
                    </div>
                </div>
            </div>
            <div class="video-main__sm-bl">
                <div class="grid-noBottom">
                    <div class="col-6">
                        <iframe width="100%" height="89" src="{{ instance.second_video.url }}"
                                frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="col-6">
                        <p class="video-main__preview">{{ instance.second_video.title }}</p>
                    </div>
                </div>
            </div>
            <div class="video-main__sm-bl">
                <div class="grid-noBottom">
                    <div class="col-6">
                        <iframe width="100%" height="89" src="{{ instance.third_video.url }}"
                                frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="col-6">
                        <p class="video-main__preview">{{ instance.third_video.title }}</p>
                    </div>
                </div>
            </div>
            <div class="video-main__sm-bl">
                <div class="grid-noBottom">
                    <div class="col-6">
                        <iframe width="100%" height="89" src="{{ instance.fourth_video.url }}"
                                frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="col-6">
                        <p class="video-main__preview">{{ instance.fourth_video.title }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}
