<div class="video-main__sm-bl">
    <div class="grid-noBottom">
        <div class="col-6">
            <iframe width="100%" height="89" src="{{ instance.video.url }}"
                    frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-6">
            <p class="video-main__preview">{{ instance.video.title }}</p>
        </div>
    </div>
</div>
