{% for news in news_pages %}

    {% if not news.page_url == request.get_full_path %}

        {# small news without photo #}
        {% if news.content.type_of_news == "Small news" %}
            <a href="{{ news.page_url }}" class="news-preview square-bl">
                <div class="square-bl__content square-bl__content_bright grid-noBottom-column">
                    <div class="news-preview__date">{{ news.content.news_date }}</div>
                    <div class="news-preview__textblock">
                        <div class="news-preview__title">
                            {{ news.content.title }}
                        </div>
                        <div class="news-preview__desc">
                            {{ news.content.body_text }}
                        </div>
                    </div>
                </div>
            </a>
        {% endif %}
        {# end small #}

        {# big news with photo #}
        {% if news.content.type_of_news == "Big news" %}
            <a href="{{ news.page_url }}" class="news-preview square-bl">
                <div class="square-bl__content square-bl__content_image grid-noBottom-column"
                     style="background: url({{ news.content.photo.url }}) no-repeat center center / cover">
                    <div class="news-preview__date">{{ news.content.news_date }}</div>
                    <div class="news-preview__title">
                        {{ news.content.title }}
                    </div>
                </div>
            </a>
        {% endif %}
        {# end big #}

    {% endif %}

{% endfor %}
