<figure class="article-box__author">
    <img src="{{ instance.page_person.photo.url }}" alt="">
    <figcaption class="article-box__author__name title">
        {{ instance.page_person.first_name }} {{ instance.page_person.last_name }}
        <span class="article-box__author__post ">{{ instance.page_person.job_position }}</span>
    </figcaption>
</figure>
