{% load static cms_tags sekizai_tags %}
<section class="news-box container press-box" id="{{ instance.block_id }}">
    <h2 class="publication-box__title title title-center text_bright">{{ instance.title }}</h2>
    <div class="news-press__cell">
        {% for news_item in instance.child_plugin_instances %}
            {% render_plugin news_item %}
        {% endfor %}
    </div>
    <div class="arrow-more">
        <a class="arrow-more__lnk" href="{{ instance.all_news_page.url }}">{{ instance.button_text }}</a>
    </div>
</section>
