{% load i18n %}

<div class="wrapper">

    {% if news_parent_page.reverse_id == 'news_pages_section' %}
        <section class="news-box container press-box"  id="{{ news_parent_page.reverse_id }}">
            <h2 class="publication-box__title title title-center text_bright">
                {{ news_parent_page }}
            </h2>
            <div class="news-press__cell">
                {% for news_block in news_pages %}

                    {#    small news    #}
                    {% if news_block.content.type_of_news == 'Small news' %}
                        <div class="news-press__cell-item">
                            <a href="{{ news_block.page_url }}" class="news-press__preview">
                                <p class="news-press__preview-date">
                                    {{ news_block.content.news_date }}
                                </p>
                                <p class="news-press__preview-text">
                                    {{ news_block.content.title }}
                                </p>
                            </a>
                        </div>
                    {% endif %}

                    {#    big news    #}
                    {% if news_block.content.type_of_news == 'Big news' %}
                        <div class="news-press__cell-item news-press__cell-item_wide">
                            <a href="{{ news_block.page_url}}" class="news-press__preview">
                                <p class="news-press__preview-date">{{ news_block.content.news_date }}</p>
                                <h2 class="news-press__preview-title">{{ news_block.content.title }}</h2>
                                <p class="news-press__preview-desc">{{ news_block.content.body_text }}</p>
                                <div class="news-press__preview-img"
                                    style="
                                        background: url(
                                        {% if news_block.content.photo %}{{ news_block.content.photo.url }}{% endif %});
                                        background-size: cover;
                                        background-position: center;
                                        "></div>
                            </a>
                        </div>
                    {% endif %}

                {% endfor %}
            </div>

            <div style="width: 100%; height: 30px;"></div>

            <div class="arrow-more">
					<a class="arrow-more__lnk" href="{{ news_parent_page.get_absolute_url }}">
                        {% trans "ВСЕ НОВОСТИ" %}
                    </a>
            </div>
        </section>
    {% endif %}

    {% if news_parent_page.reverse_id == 'publications_section' %}
        {%  if LANGUAGE_CODE == 'ru' %}
        <section class="publication-box container press-box" id="{{ news_parent_page.reverse_id }}">
            <h2 class="publication-box__title title title-center text_bright">
                {{ news_parent_page }}
            </h2>
            <div class="grid-2_sm-1">
                {% for news_block in news_pages %}

                    {#    small news    #}
                    {% if news_block.content.type_of_news == 'Publication' %}
                        <div class="col publication-box__item">
                            <a class="publication-box__link download__link"
                               {% if news_block.content.external_link %}
                                   href="{{ news_block.content.external_link }}"
                               {% endif %}
                               {% if not news_block.content.external_link %}
                                   href="{{ news_block.content.publication_file.file_object.url }}"
                               {% endif %}
                               >
                            {{ news_block.content.title }}
                            </a>
                            <p class="publication-box__desc">
                                {{ news_block.content.body_text }}
                            </p>
                        </div>
                    {% endif %}

                {% endfor %}
            </div>

        <div style="width: 100%; height: 30px;"></div>

        <div class="arrow-more">
					<a class="arrow-more__lnk" href="{{ news_parent_page.get_absolute_url }}">
                        {% trans "ВСЕ ПУБЛИКАЦИИ" %}
                    </a>
        </div>

        </section>
        {%  endif %}
    {% endif %}

    {% if news_parent_page.reverse_id == 'comments' %}
        {%  if LANGUAGE_CODE == 'ru' %}
        <section class="news-box container press-box"  id="{{ news_parent_page.reverse_id }}">
            <h2 class="publication-box__title title title-center text_bright">
                {{ news_parent_page }}
            </h2>
            <div class="news-press__cell">
                {% for news_block in news_pages %}

                    {#    small comment    #}
                    {% if news_block.content.type_of_news == 'Small comment' %}
                        <div class="news-press__cell-item">
                            <a href="{{ news_block.page_url }}" class="news-press__preview">
                                <p class="news-press__preview-date">
                                    {{ news_block.content.magazine.title }}
                                </p>
                                <p class="news-press__preview-text">
                                    {{ news_block.content.title }}
                                </p>
                            </a>
                        </div>
                    {% endif %}

                    {#    big comment    #}
                    {% if news_block.content.type_of_news == 'Big comment' %}
                        <div class="news-press__cell-item news-press__cell-item_wide">
                            <a href="{{ news_block.page_url }}" class="news-press__preview">
                                <p class="news-press__preview-date">
                                    {{ news_block.content.magazine.title }}
                                </p>
                                <h2 class="news-press__preview-title">
                                    {{ news_block.content.title }}
                                </h2>
                                <p class="news-press__preview-desc">
                                    {{ news_block.content.body_text }}
                                </p>

                            </a>
                        </div>
                    {% endif %}

                {% endfor %}
            </div>

            <div style="width: 100%; height: 30px;"></div>
            <div class="arrow-more">
					<a class="arrow-more__lnk" href="{{ news_parent_page.get_absolute_url }}">
                        {% trans "ВСЕ КОММЕНТАРИИ" %}
                    </a>
            </div>

        </section>
        {% endif %}
    {% endif %}
</div>


