{% load static cms_tags sekizai_tags %}

{% if instance.is_big %}
    <div class="news-press__cell-item news-press__cell-item_wide">
    <a href="{{ instance.news_page.get_absolute_url }}" class="news-press__preview">
        <p class="news-press__preview-date">{{ instance.news_date }}</p>
        <h2 class="news-press__preview-title">{{ instance.title }}</h2>
        <p class="news-press__preview-desc">{{ instance.body_text }}</p>
        <img src="{{ instance.photo.url }}" width="100%" alt="">
    </a>
    </div>
{% endif %}

{% if not instance.is_big %}
    <div class="news-press__cell-item">
        <a href="{{ instance.news_page.get_absolute_url }}" class="news-press__preview">
            <p class="news-press__preview-date">{{ instance.news_date }}</p>
            <p class="news-press__preview-text">{{ instance.title }}</p>
        </a>
    </div>
{% endif %}
