.accordion  
	border-top: 1px solid #979797
	margin-bottom: 50px

.accordion__item
	border-bottom: 1px solid #979797

.accordion__link
	font-size: 18px
	line-height: 1.28
	cursor: pointer
	padding: 12px 31px 12px 0
	position: relative

	&:hover
		color: $bright1

.icon_ac-arrow
	position: absolute
	width: 17px
	height: 17px
	top: 50%
	margin-top: -8px
	right: 7px
	fill: #fff

	.is-expanded &
		transform: rotate(180deg)	

.accordion__content
	font-size: 14px
	padding-right: 10px
	padding-bottom: 20px
	margin-top: -3px
	font-family: Verdana

.js-accordion-content
	display: none

.is-expanded
	display: block
