.about-bl__clocks
	margin-bottom: 60px	!important
.clock-wrapper
	width: 100%
	max-width: 300px
	margin: 0 auto 20px
.clock
	position: relative
	width: 100%
	padding-top: 100%
	background: url(../img/clock/clock-base.png) no-repeat 0 0 / cover
	&:after
		content: ''
		position: absolute
		width: 8px
		height: 8px
		background: url(../img/clock/clock-middle.png) no-repeat 0 0 / cover
		top: 50%
		margin: -4px 0 0 -4px
		border-radius: 50%
		left: 50%
.clock--arrow
	width: 1px
	height: 1px
	position: absolute
	top: 50%
	left: 50%
	opacity: 0
	-webkit-transition: opacity, -webkit-transform 0.5s ease
	transition: opacity, transform 0.5s ease
	&[data-value]
		opacity: 1
	&[data-value="0"]
		-webkit-transition: none
		transition: none
.clock__minutes:before
	position: absolute
	content: ''
	margin: -82px 0 0 -3px
	height: 82px
	top: 18px
	width: 8px
	background: url(../img/clock/clock-arrowbig.png) 0 0/cover no-repeat
.clock__hours:before
	position: absolute
	content: ''
	margin: -34px 0 0 -2px
	height: 34px
	width: 4px
	background: url(../img/clock/clock-arrowsmall.png) no-repeat 0 0 / cover

$sec: 60
$deg: 0
$stepDeg: 6
@for $i from 0 through $sec
	.clock__minutes[data-value="#{$i}"]
		transform: rotate(#{$deg}deg)
		$deg: $deg + $stepDeg
$hour: 24
$deg: 0
$stepDeg: 30
@for $i from 0 through $hour
	.clock__hours[data-value="#{$i}"]
		transform: rotate(#{$deg}deg)
		$deg: $deg + $stepDeg