@font-face 
	font-family: bandera
	src: url('../fonts/Bandera/BanderaPro.eot')
	src: url('../fonts/Bandera/BanderaPro.eot?#iefix') format('embedded-opentype'),url('../fonts/Bandera/BanderaPro.otf') format('opentype'),url('../fonts/Bandera/BanderaPro.svg#bandera') format('svg')
	font-weight: normal
	font-style: normal

@font-face 
	font-family: bandera-i
	src: url('../fonts/Bandera/BanderaPro-Italic.eot')
	src: url('../fonts/Bandera/BanderaPro-Italic.otf') format('opentype'),url('../fonts/Bandera/BanderaPro-Italic.svg#bandera-i') format('svg')
	font-weight: normal
	font-style: normal

@font-face 
	font-family: bandera-b
	src: url('../fonts/Bandera/BanderaPro-Bold.eot')
	src: url('../fonts/Bandera/BanderaPro-Bold.eot?#iefix') format('embedded-opentype'),url('../fonts/Bandera/BanderaPro-Bold.otf') format('opentype'),url('../fonts/Bandera/BanderaPro-Bold.svg#bandera-b') format('svg')
	font-weight: normal
	font-style: normal

@font-face 
	font-family: bandera-sm
	src: url('../fonts/Bandera/BanderaProMedium.otf') format('opentype'),url('../fonts/Bandera/BanderaProMedium.svg#bandera-sm') format('svg')
	font-weight: normal
	font-style: normal

@font-face 
	font-family: proxima 
	src: url('../fonts/Proxima/ProximaNova-Regular.eot')
	src: url('../fonts/Proxima/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),url('../fonts/Proxima/ProximaNova-Regular.otf') format('opentype'),url('../fonts/Proxima/ProximaNova-Regular.svg#proxima') format('svg')
	font-weight: normal
	font-style: normal

@font-face 
	font-family: proxima-bl
	src: url('../fonts/Proxima/ProximaNova-Black.eot')
	src: url('../fonts/Proxima/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),url('../fonts/Proxima/ProximaNova-Black.otf') format('opentype'),url('../fonts/Proxima/ProximaNova-Black.svg#proxima-bl') format('svg')
	font-weight: normal
	font-style: normal

@font-face 
	font-family: proxima-b
	src: url('../fonts/Proxima/ProximaNova-Bold.eot')
	src: url('../fonts/Proxima/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),url('../fonts/Proxima/ProximaNova-Bold.otf') format('opentype'),url('../fonts/Proxima/ProximaNova-Bold.svg#proxima-b') format('svg')
	font-weight: normal
	font-style: normal

@font-face 
	font-family: proxima-sb
	src: url('../fonts/Proxima/ProximaNova-Semibold.eot')
	src: url('../fonts/Proxima/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),url('../fonts/Proxima/ProximaNova-Semibold.otf') format('opentype'),url('../fonts/Proxima/ProximaNova-Semibold.svg#proxima-sb') format('svg')
	font-weight: normal
	font-style: normal

@font-face
	font-family: Helvetica
	src: url('../fonts/Helvetica/HelveticaNeueCyr-Bold.eot')
	src: url('../fonts/Helvetica/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),url('../fonts/Helvetica/HelveticaNeueCyr-Bold.otf') format('opentype'),url('../fonts/Helvetica/HelveticaNeueCyr-Bold.svg#proxima-sb') format('svg')
	font-weight: normal
	font-style: normal

