.footer
	background-color: #f1f1f1
	padding-top: 60px

	+respond(screen-md)
		padding-top: 0

	h5
		padding: 0 0 17px 0
		border-bottom: solid 1px #000
		margin-bottom: 30px
		text-transform: uppercase

		+respond(screen-md)
			font-size: 14px
			margin-bottom: 0
			padding: 0 15px 15px 15px
			border-bottom: solid 1px #fff
	
	.col
		+respond(screen-md)
			padding: 0 0 1rem

	.js-accordion-content 
		+respond(screen-md)
			padding-bottom: 0
		

.footer-top
	position: relative
	padding-bottom: 65px !important

	+respond(screen-md)
		border-top: 1px solid #4a4a4a
		padding: 15px 0 0 0 !important

	.js-accordion-content
		display: block

		+respond(screen-md)
			display: none

.footer-top__col-menu
	position: relative
	
	.icon-accordion-open
		position: absolute
		right: 10px
		top: 0px
		display: none
		cursor: pointer

		+respond(screen-md)
			display: block

.is-expanded .icon-accordion-open
	transform: rotate(180deg)

.footer__nav
	padding: 0
	margin: 0

	+respond(screen-md)
		padding: 15px 15px 0 15px

.footer__nav-border
	margin: 50px 0 13px 0

	+respond(screen-md)
		margin: 20px 0 13px

.footer__nav-item
	list-style: none
	font-size: 13px
	line-height: 17px
	margin-bottom: 10px
	
	a
		color: #4a4a4a

	&:hover
		opacity: 0.7

.footer-bottom
	background-color: #7a006f
	padding: 20px 0

	+respond(screen-md)
		padding: 15px 0

	.soc-bl
		display: none
		margin: 10px 0 0 0

		+respond(screen-md)
			display: block

		.soc-bl__link
			width: 50px

		.icon
			width: 37px
			height: 37px
			margin: 0 6px
			fill: #e2e2e2

.footer-bottom__info
	+respond(screen-md)
		display: block	

.footer-bottom__lnk
	font-size: 14px
	color: #fff

.media-lnk
	position: absolute
	bottom: 109px
	left: 18px
	font-size: 0
	min-width: 150px

	+respond(screen-md)
		position: static
		display: block
		width: 100%	
		margin-bottom: 20px
	
.media-lnk__item
	color: #4a4a4a
	font-size: 13px
	line-height: 17px

	+respond(screen-md)
		display: inline-block
		font-size: 13px
		width: 50%
		padding: 0 20px

	&:hover
		opacity: 0.7

	svg
		position: relative
		top: 4px
		display: inline-block
	
	span
		display: inline-block
		margin-left: 5px

.contact-box
	font-size: 13px
	color: #4a4a4a
	font-style: normal
	padding-left: 8px
	position: absolute
	bottom: 19px
	min-width: 250px
	left: 10px

	+respond(screen-md)
		position: static
		display: block
		width: 100vw
		padding: 15px 0 0 0
		margin: 0
		background-color: #7a006f

	p
		margin: 0 0 8px
		padding-bottom: 0
		
		+respond(screen-md)
			padding: 0 0 0 15px
			color: #fff
		












