[class*="grid-"][class*="col-"],
[class*="col-"][class*="grid-"]
	margin: 0
	padding: 0
[class*=grid-]>.col_auto[class*=col]
	flex-basis: auto
+respond(screen-xs)
	[class*=grid-]>.col_xs-auto[class*=col]
		flex-basis: auto
+respond(screen-sm)
	[class*=grid-]>.col_sm-auto[class*=col]
		flex-basis: auto
+respond(screen-md)
	[class*=grid-]>.col_md-auto[class*=col]
		flex-basis: auto
+respond(screen-md2)
	[class*=grid-]>.col_md2-auto[class*=col]
		flex-basis: auto
+respond(screen-lg)
	[class*=grid-]>.col_lg-auto[class*=col]
		flex-basis: auto
+respond(screen-xlg)
	[class*=grid-]>.col_xlg-auto[class*=col]
		flex-basis: auto

.col.col-nopad, .col-nopad[class*=col-]
	padding: 0