.header
	display: flex
	flex-direction: column
	min-height: 106px
	z-index: 101
	.icon	
		fill: #e2e2e2
		width: 15px
		height: 15px
		margin-right: 6px
		display: inline-block
		vertical-align: middle
		+respond(screen-lg)
			width: 37px
			height: 37px
			margin: 0 6px
.header-white 
	position: absolute
	top: 0
	left: 0
	right: 0
.header-top
	height: 28px
	font-size: 12px
	line-height: 28px
	background-color: #2e2e2e
	+respond(screen-lg)
		display: none
.soc-bl
	+respond(screen-lg)
		margin: 85px 0 30px
.soc-bl__link,
.lang__item
	color: rgb(226,226,226)
	opacity: .5
	+respond(screen-lg)
		opacity: .7
	&:hover
		opacity: 1
.soc-bl__link
	margin-left: 11px
	+respond(screen-lg)
		font-size: 12px
		display: inline-block
		vertical-align: middle
		width: 125px
		margin: 0 0 8px
.soc-bl__link_wide
	margin-left: 26px
.lang-bl
	margin-left: 20px
.lang__item
	padding: 0 5px
	margin: 0 3px
	&.active
		opacity: 1
		color: $white
		background-color: $bright1
		display: inline-block
		vertical-align: top
.header_dark
	.header-bottom
		background-color: $white
		transition: background .5s

.header-bottom
	padding: 18px 0 23px
	z-index: 1
	transition: background .5s
	&.fixed
		position: fixed
		top: 0
		left: 0
		right: 0
		background-color: #fff
		transition: background .5s
	+respond(screen-lg)
		padding-top: 30px

	+respond(screen-md)
		padding: 15px 0
.logo
	height: 37px
	position: relative
	z-index: 10
	display: block
	transition: background .5s
	.header_dark &,
	.header-white .header_dark &
		background:url(../img/logo-colors.svg) no-repeat 0 0 / contain
	.opened-menu.header-white &,
	.opened-menu.header_dark &,	
	.header-white &
		background:url(../img/logo-white.svg) no-repeat 0 0 / contain


