.icon.quote
	width: 110px
	position: relative
	height: 86px
	margin: 0 auto

.icon.quote-mini
	height: 20px
	width: 14px
	margin: 0 auto

.footer-heart
	fill: #fff
	width: 12px
	height: 11px
	display: inline

.footer-career
	fill: #b3b3b3
	width: 17px
	height: 17px

#play path
	fill: #fff

.play
	width: 17px
	height: 17px

.icon-accordion-open
	width: 20px
	height: 20px
	fill: #fff
	