.main-nav
	text-align: right
	.soc-bl
		display: none
		@media only screen and (max-height: 380px)
			margin-top: 20px	
	br
		display: none
		+respond(screen-lg)
			display: block

		@media only screen and (max-height: 560px)
			display: none

	+respond(screen-lg)
		display: none
		opacity: 0
		position: absolute
		right: 0
		left: 0
		top: 0
		min-height: 100vh
		background-color: rgba(122, 0, 111, 0.86)
		padding: 83px 20px 40px
		overflow: hidden
		text-align: left
		transition: opacity .5s		
		.soc-bl
			display: block

	
.main-nav_showed
	display: block

	.main-nav__item_active
		color: $bright1
		background-color: $white

.main-nav_visible
	opacity: 1
	transition: opacity .5s

.main-nav__item
	color: $white
	font-size: 12px
	line-height: 20px
	padding: 0 5px
	margin: 0 3px
	display: inline-block
	vertical-align: baseline
	text-transform: uppercase
	letter-spacing: 1px
	position: relative
	
	@media only screen and (min-width: 1024px)
		&:after
			content: ''
			display: block
			position: absolute
			width: 0
			height: 20px
			top: 0
			left: 0
			z-index: -1
			background: linear-gradient(to bottom,  #7a006f 0%,#7a006f 100%)
			transition: all .5s

		&:hover
			color: $white
			&:after
				width: 100%


	+respond(screen-lg)
		display: inline-block
		vertical-align: top
		margin: 6px 0
		text-align: left
		font-size: 16px	
		line-height: 28px
		color: $white
		align-self: flex-start

	@media only screen and (max-height: 560px) and (max-width: 1024px)
		width: 40%
		margin-right: 8%

.header_dark .main-nav__item
	color: $black

	&:hover
		color: $white

	+respond(screen-lg)
		color: $white
	
.header_dark .main-nav__item_active
	color: $white
	background-color: $bright1
	+respond(screen-lg)
		background-color: $white
		color: $bright1
.main-nav__item_active
	color: $white
	background-color: $bright1

.main-nav__services
	position: relative
	font-size: 0
	line-height: 20px
	.main-nav__item
		font-family: bandera-i

.main-nav__services-title
	position: absolute
	top: 100%
	left: 0
	text-align: center
	width: 100%
	overflow: hidden
	font-family: bandera-i
	font-size: 10px
	color: $white
	letter-spacing: 2px
	opacity: .5
	
	&:before,
	&:after
		content: ''
		position: absolute
		top: 50%
		border-top: 1px solid $white
		width: 100%
	&:before
		left: calc(50% + 30px)
	&:after
		right: calc(50% + 30px)

	+respond(screen-lg)
		display: none

.header_dark .main-nav__services-title
	color: $black

	&:before,
	&:after
		border-top: 1px solid #414141

.show-menu
	width: 20px
	height: 17px
	margin: 4px 17px 0 0
	align-self: flex-start
	display: none
	cursor: pointer
	+respond(screen-lg)
		display: block
	.header-white &
		background: repeating-linear-gradient(#fff 0, #fff 2px, transparent 2px, transparent 5px)
	.header_dark &
		background: repeating-linear-gradient(#9b9b9b 0, #9b9b9b 2px, #fff 2px, #fff 5px)

.close-main-nav
	position: absolute
	color: $white
	font-size: 50px
	right: 25px
	top: 10px
	display: none
	cursor: pointer
	.main-nav_showed &
		display: block
		@media only screen and (min-width: 1025px)
			display: none

	+respond(screen-md)
		top: -5px
