.person-contact
	font-size: 11px
	line-height: 1.27
	border-bottom: 1px solid $black
	margin-bottom: 30px

	.main-publ &
		border-bottom: none

	.main-publ__person-contact &
		margin-bottom: 0

.person-contact__pic
	margin-bottom: 6px
	position: relative
	height: 0
	padding-top: 70%
	overflow: hidden
	
	img
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: auto
		max-width: none

.person-contact__name
	display: block
	color: $black
	font-family: bandera-b
	font-size: 14px
	line-height: 17px
	letter-spacing: 1px
	margin-bottom: 6px

.person-contact__position
	font-family: Verdana
	font-size: 12px
	line-height: 1.42
	letter-spacing: 3px
	margin-bottom: 11px

.person-contact__field
	min-height: 63px

.person-contact__btn
	color: #414141
	margin-bottom: 17px
	display: block

	&:hover
		text-decoration: underline
	
.main-publ__person-contact
	border-bottom: 1px solid #5f1358

.icon_mail
	width: 15px
	height: 12px
	display: inline-block
	vertical-align: middle
	margin-right: 3px
	fill: #414141

.person-contact__comment
	font-size: 14px
	line-height: 1.36
	margin-bottom: 15px
	color: $black

	&:hover
		text-decoration: underline