.btn-close 
	display: block
	width: 20px
	height: 20px
	position: absolute
	right: 27px
	top: 29px

	&:hover
		opacity: .65

	&:after
		content: ''
		display: block
		border: 1px solid $white
		transform: rotate(-45deg)
		position: absolute
		top: 8px
		left: -3px
		width: 23px

	&:before
		content: ''
		display: block
		border: 1px solid $white
		transform: rotate(45deg)
		position: absolute
		top: 8px
		left: -3px
		width: 23px

.popup-wrap 
	position: fixed
	background: rgba(0,0,0,0.6)
	top: 0
	right: 0
	bottom: 0
	left: 0
	opacity: 0
	z-index: -1
	display: flex
	align-items: flex-start
	transition: opacity 0.2s ease-out
	overflow-y: scroll

.popup-wrap.visible 
	z-index: 102
	opacity: 1
	transition: opacity 0.5s ease-out
	padding-top: 60px

.popup-wrap .popup 
	height: auto
	width: 619px
	margin: 10vh auto
	position: relative
	z-index: 102
	padding: 67px 30px 30px 30px
	background-color: $bright1
	text-align: center

	+respond(screen-md2)
		padding: 25px 25px 30px

	+respond(screen-md)
		max-width: 100vw

	@media only screen and (max-width: 568px)
		padding: 11px
		width: 100vw
		border-radius: 0
		margin: 0
	
.popup-open 
	position: absolute
	top: 48px
	left: 926px
	width: 50px
	height: 50px
	cursor: pointer

.no-scroll
	overflow: hidden
	transition: overflow 0.5s


.popup__title
	letter-spacing: 4px
	font-size: 32px
	margin-bottom: 15px
	color: $white
	text-transform: uppercase

.popup__form-notice
	font-size: 18pxdoc-filter__btn
	letter-spacing: 1px
	color: $white
	margin-bottom: 15px

.popup__form-notice_success
	margin-bottom: 35px

.popup__form
	padding: 0 57px

	@media only screen and (max-width: 568px)
		padding: 0 15px

.popup__form__input
	display: block
	width: 100%
	background-color: rgba(255, 255, 255, .2)
	text-align: center
	color: $white
	border: rgba(255, 255, 255, .2)
	font-size: 18px
	font-family: proxima
	letter-spacing: 1px
	padding: 14px 0 13px
	margin-bottom: 10px
	
.popup__form__btn
	display: block
	width: 100%
	background-color: $grey
	text-align: center
	font-family: proxima
	font-size: 18px
	padding: 14px 0 13px
	text-transform: uppercase
	color: $grey4
	margin-bottom: 10px
	letter-spacing: 1px

	&:hover
		background-color: #fff

	&:active
		position: relative
		top: 1px

.popup__refuse-lnk
	display: inline-block
	font-size: 14px
	color: $white
	letter-spacing: .8px
	margin-top: 6px

	&:hover
		opacity: .65

.popup__form__error
	font-size: 18px
	color: $bright3
	visibility: hidden
	display: block

	&.active
		visibility: visible
	
::-webkit-input-placeholder
	font-family: proxima
	font-weight: normal
	color: $white

::-moz-placeholder
	font-family: proxima
	font-weight: normal
	color: $white

:-ms-input-placeholder
	font-family: proxima
	font-weight: normal
	color: $white

:-moz-placeholder
	font-family: proxima
	font-weight: normal
	color: $white









