.popup-wrap 
	position: absolute
	background: rgba(0,0,0,0.6)
	top: 0
	right: 0
	bottom: 0
	left: 0
	opacity: 0
	z-index: -1
	display: flex
	align-items: center
	transition: opacity 0.2s ease-out

.popup-wrap.visible 
	z-index: 10
	opacity: 1
	transition: opacity 0.5s ease-out


.popup-wrap .popup 
	width: 1128px
	height: 399px
	margin: 0 auto
	position: relative
	text-align: center
	z-index: 5
	padding: 233px 0 0 111px
	font-size: 25px
	text-align: left
	line-height: 25px
	font-family: HeliosCondC-B

.popup-wrap .close-btn 
	position: absolute
	top: 255px
	left: 82px
	opacity: 1
	cursor: pointer
	z-index: 6

.popup-open 
	position: absolute
	top: 48px
	left: 926px
	width: 50px
	height: 50px
	cursor: pointer

#popup.active
	opacity: 1