.press-box
	padding-top: 36px

.menu-press
	text-align: center
	background-color: #fff
	padding-bottom: 20px
	z-index: 101
	margin: 70px auto 20px

	&.fixed
		position: fixed
		top: 0
		left: 0
		right: 0
		
	+respond(screen-md)
		display: none

.menu-press__item
	display: inline-block
	vertical-align: top
	margin: 0 8px

.menu-press__link
	font-size: 12px
	list-style-position: 1px
	text-transform: uppercase
	color: #414141
	
	&.active,
	&:hover
		color: $bright1
	
.news-press__preview
	border-top: solid 1px #9b9b9b
	line-height: 1.33
	letter-spacing: 1px
	font-size: 18px
	padding: 10px 0
	display: block
	color: #4a4a4a

.news-press__preview-date
	font-family: proxima-b	
	letter-spacing: 3px
	color: #4a4a4a	
	margin-bottom: 25px

.news-press__preview-text
	//height: 115px
	overflow: hidden
	margin-bottom: 13px

	.news-press__preview:hover &
		color: $bright1

.news-press__preview-title
	font-size: 24px
	letter-spacing: 1px
	margin-bottom: 4px
	font-family: bandera-sm

	.news-press__preview:hover &
		color: $bright1

.news-press__preview-desc
	font-size: 14px
	line-height: 1.43
	font-family: Verdana
	margin-bottom: 13px

.news-press__cell-item
	width: calc(100% / 3)
	padding: 0 10px
	
	+respond(screen-md2)
		width: 50%

	@media only screen and (max-width: 600px)
		width: 100%

.news-press__cell-item_wide
	width: calc(100% / 3 * 2)

	+respond(screen-md2)
		width: 100%

		