.rewards
	border-top: 1px solid #4a4a4a
	padding: 64px 0 76px
	font-size: 0
.rewards__item
	margin: 0 10px 20px
	display: inline-block
	vertical-align: top
	border: 1px solid #979797
	width: 127px
	height: 127px
	position: relative
	font-size: 0
	&:before
		content: ''
		height: 100%
		width: 0
		display: inline-block
		vertical-align: middle
	img
		display: inline-block
		vertical-align: middle