{% load i18n menu_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% if languages|length > 1 %}
    <div class="lang-bl">
        {% for language in languages %}
            <a class="lang__item {% if language.0 == LANGUAGE_CODE %}active{% endif %}"
               href="{% page_language_url language.0 %}"
               title="{% trans "Change to language:" %} {{ language.1 }}">
                {{ language.1 }}</a>
        {% endfor %}
    </div>
{% endif %}



