%vertical-center
	display: flex
	align-items: center

%inline-middle
	display: inline-block
	vertical-align: middle

%ellipsis 
	display: block
	white-space: nowrap
	text-overflow: ellipsis
	overflow: hidden
%all-trans
	transition: all .5s

@mixin respond($media) 
	@if $media == screen-xs
		@media only screen and (max-width: $xs) { @content; }

	@else if $media == screen-sm 
		@media only screen and (max-width: $sm) { @content; }

	@else if $media == screen-md
		@media only screen and (max-width: $md) { @content; }

	@if $media == screen-md2
		@media only screen and (max-width: $md2) { @content; }

	@else if $media == screen-lg 
		@media only screen and (max-width: $lg) { @content; }

	@else if $media == screen-xlg
		@media only screen and (max-width: $xlg) { @content; }